<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Auto-View  Settings">
	<setting id="enable_meta" type="bool" label="Enable Metadata" default="true"/>
    <setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
    <setting id="menu-view" type="labelenum" label="Menu View" values="Default Menu View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info" enable="!eq(-1,false)"/>
    <setting id="movie-view" type="labelenum" label="Movies View" values="Default Movies View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info2" enable="!eq(-4,false)"/>
    <setting type="lsep" label="If Updates are Available You Will See The Appropriate Notifications"/>
	</category>
</settings>