<settings>
    <setting id="autoplay" value="false" />
    <setting id="autoplay_library" value="false" />
    <setting id="clickplay" value="true" />
    <setting id="downloads" value="" />
    <setting id="fanart" value="true" />
    <setting id="fav_sort" value="0" />
    <setting id="flixanity" value="true" />
    <setting id="host1" value="OroroTV" />
    <setting id="host10" value="Promptfile" />
    <setting id="host11" value="Mightyupload" />
    <setting id="host12" value="Gorillavid" />
    <setting id="host13" value="Divxstage" />
    <setting id="host14" value="Flashx" />
    <setting id="host15" value="Noobroom" />
    <setting id="host2" value="VK" />
    <setting id="host3" value="Firedrive" />
    <setting id="host4" value="Putlocker" />
    <setting id="host5" value="Sockshare" />
    <setting id="host6" value="Mailru" />
    <setting id="host7" value="iShared" />
    <setting id="host8" value="Movreel" />
    <setting id="host9" value="Played" />
    <setting id="hosthd1" value="VK" />
    <setting id="hosthd2" value="Shush" />
    <setting id="hosthd3" value="Firedrive" />
    <setting id="hosthd4" value="Movreel" />
    <setting id="hosthd5" value="Billionuploads" />
    <setting id="hosthd6" value="180upload" />
    <setting id="hosthd7" value="Hugefiles" />
    <setting id="hosthd8" value="Noobroom" />
    <setting id="icefilms" value="true" />
    <setting id="imdb_user" value="" />
    <setting id="istreamhd" value="true" />
    <setting id="istreamhd_mail" value="" />
    <setting id="istreamhd_password" value="" />
    <setting id="meta" value="true" />
    <setting id="moviestorm" value="true" />
    <setting id="noobroom" value="false" />
    <setting id="noobroom_mail" value="" />
    <setting id="noobroom_password" value="" />
    <setting id="ororotv" value="true" />
    <setting id="playback_info" value="false" />
    <setting id="primewire" value="true" />
    <setting id="putlockertv" value="true" />
    <setting id="quality" value="true" />
    <setting id="resume_playback" value="true" />
    <setting id="settings_version" value="2.6.0" />
    <setting id="shush" value="true" />
    <setting id="simplymovies" value="true" />
    <setting id="sublang1" value="English" />
    <setting id="sublang2" value="English" />
    <setting id="subscriptions_interval" value="3" />
    <setting id="subscriptions_run" value="2018-02-11 21:45:24.707671" />
    <setting id="subscriptions_update" value="true" />
    <setting id="subtitles" value="false" />
    <setting id="trakt_import" value="0" />
    <setting id="trakt_password" value="" />
    <setting id="trakt_user" value="" />
    <setting id="tv_library" value="special://userdata/addon_data/plugin.video.GOtv/TVShows" />
    <setting id="updatelibrary" value="true" />
    <setting id="vkbox" value="true" />
    <setting id="watchseries" value="true" />
</settings>
