<settings>
    <setting id="addon_debug" value="true" />
    <setting id="adult" value="true" />
    <setting id="atomic" value="" />
    <setting id="auto-view" value="true" />
    <setting id="autoclean" value="true" />
    <setting id="autocleanwiz" value="true" />
    <setting id="benel" value="" />
    <setting id="blamord" value="" />
    <setting id="buildname" value="" />
    <setting id="buildtheme" value="" />
    <setting id="buildversion" value="" />
    <setting id="chappaai" value="" />
    <setting id="clearcache" value="true" />
    <setting id="clearpackages" value="true" />
    <setting id="clearthumbs" value="true" />
    <setting id="crashlog" value="false" />
    <setting id="deathstreams" value="" />
    <setting id="debridlastsave" value="" />
    <setting id="debuglevel" value="2" />
    <setting id="default.addonupdate" value="" />
    <setting id="default.enablerssfeeds" value="" />
    <setting id="default.font" value="" />
    <setting id="default.rssedit" value="" />
    <setting id="default.skincolors" value="" />
    <setting id="default.skintheme" value="" />
    <setting id="default.skinzoom" value="" />
    <setting id="default.soundskin" value="" />
    <setting id="default.startupwindow" value="" />
    <setting id="default.stereostrength" value="" />
    <setting id="defaultskin" value="" />
    <setting id="defaultskinignore" value="false" />
    <setting id="defaultskinname" value="" />
    <setting id="developer" value="" />
    <setting id="disableupdate" value="false" />
    <setting id="enable3rd" value="false" />
    <setting id="errors" value="" />
    <setting id="extract" value="100" />
    <setting id="gmetalliq" value="" />
    <setting id="includeall" value="true" />
    <setting id="includedeathrd" value="true" />
    <setting id="includedeathstreams" value="true" />
    <setting id="includeincursion" value="true" />
    <setting id="includeneptune" value="true" />
    <setting id="includeonechan" value="true" />
    <setting id="includeplacenta" value="true" />
    <setting id="includeuranus" value="true" />
    <setting id="includevideo" value="true" />
    <setting id="includeyoda" value="true" />
    <setting id="incursion" value="" />
    <setting id="installed" value="false" />
    <setting id="jorel" value="" />
    <setting id="keepadvanced" value="false" />
    <setting id="keepdebrid" value="false" />
    <setting id="keepfavourites" value="false" />
    <setting id="keeplogin" value="false" />
    <setting id="keepprofiles" value="false" />
    <setting id="keeprepos" value="false" />
    <setting id="keepsources" value="false" />
    <setting id="keepsuper" value="false" />
    <setting id="keeptrakt" value="false" />
    <setting id="keepwhitelist" value="true" />
    <setting id="kodi17iscrap" value="" />
    <setting id="krotas" value="" />
    <setting id="lastbuildcheck" value="2019-02-04" />
    <setting id="latestversion" value="" />
    <setting id="lega" value="" />
    <setting id="loginflawless" value="" />
    <setting id="logingears" value="" />
    <setting id="loginlastsave" value="" />
    <setting id="loginlimitless" value="" />
    <setting id="loginmcktv" value="" />
    <setting id="loginontapptv" value="" />
    <setting id="loginotttv" value="" />
    <setting id="loginpowertv" value="" />
    <setting id="loginsmoothstreams" value="" />
    <setting id="loginsportsaccess" value="" />
    <setting id="loginsportsmania" value="" />
    <setting id="loginsportsnationhd" value="" />
    <setting id="loginultimatemania" value="" />
    <setting id="loginvaders" value="" />
    <setting id="metalk" value="" />
    <setting id="neptune" value="" />
    <setting id="nextautocleanup" value="2019-11-25" />
    <setting id="nextcleandate" value="2019-11-26" />
    <setting id="notedismiss" value="true" />
    <setting id="noteid" value="136" />
    <setting id="numers" value="" />
    <setting id="oldlog" value="false" />
    <setting id="path" value="" />
    <setting id="placenta" value="" />
    <setting id="pvrclient" value="" />
    <setting id="rebirth" value="" />
    <setting id="resolve" value="" />
    <setting id="seperate" value="false" />
    <setting id="show15" value="true" />
    <setting id="show16" value="true" />
    <setting id="show17" value="true" />
    <setting id="show18" value="true" />
    <setting id="showmaint" value="false" />
    <setting id="trakt" value="" />
    <setting id="traktlastsave" value="" />
    <setting id="uranus" value="" />
    <setting id="urlresolver" value="" />
    <setting id="viewType" value="50" />
    <setting id="wizard1name" value="" />
    <setting id="wizard1url" value="" />
    <setting id="wizard2name" value="" />
    <setting id="wizard2url" value="" />
    <setting id="wizard3name" value="" />
    <setting id="wizard3url" value="" />
    <setting id="wizardlog" value="true" />
    <setting id="wizlog" value="false" />
    <setting id="wizlogcleanby" value="1" />
    <setting id="wizlogcleandays" value="2" />
    <setting id="wizlogcleanlines" value="2" />
    <setting id="wizlogcleansize" value="1" />
    <setting id="yoda" value="" />
</settings>
