<settings>
    <setting id="HEVC" value="true" />
    <setting id="alluc.api" value="" />
    <setting id="alluc.download" value="false" />
    <setting id="alluc.limit" value="10" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Placenta" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="crefresh" value="false" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="hidecinema" value="false" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="2" />
    <setting id="hosts.quality" value="3" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.placenta/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.placenta/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesplanet.pass" value="" />
    <setting id="moviesplanet.user" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="prem.identify" value="0" />
    <setting id="prgr.sortorder" value="1" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.1080P" value="true" />
    <setting id="provider.123hulu" value="true" />
    <setting id="provider.123netflix" value="true" />
    <setting id="provider.2ddl" value="true" />
    <setting id="provider.afdah" value="true" />
    <setting id="provider.alltube" value="true" />
    <setting id="provider.allucde" value="true" />
    <setting id="provider.allucfr" value="true" />
    <setting id="provider.allucit" value="true" />
    <setting id="provider.allucpl" value="true" />
    <setting id="provider.animebase" value="true" />
    <setting id="provider.animeloads" value="true" />
    <setting id="provider.bmoviez" value="true" />
    <setting id="provider.bnwmovies" value="true" />
    <setting id="provider.bob" value="true" />
    <setting id="provider.boxfilm" value="true" />
    <setting id="provider.bs" value="true" />
    <setting id="provider.cdahd" value="true" />
    <setting id="provider.cdax" value="true" />
    <setting id="provider.cine" value="true" />
    <setting id="provider.cinemay" value="true" />
    <setting id="provider.cinenator" value="true" />
    <setting id="provider.cmovies" value="true" />
    <setting id="provider.cooltv" value="true" />
    <setting id="provider.crazy" value="true" />
    <setting id="provider.ddl" value="true" />
    <setting id="provider.ddlvalley" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.divxcrawler" value="true" />
    <setting id="provider.dizigold" value="true" />
    <setting id="provider.dlfile" value="true" />
    <setting id="provider.dltube" value="true" />
    <setting id="provider.dpstreaming" value="true" />
    <setting id="provider.drama4u" value="true" />
    <setting id="provider.dramabus" value="true" />
    <setting id="provider.dramacool" value="true" />
    <setting id="provider.dramafire" value="true" />
    <setting id="provider.einthusan" value="true" />
    <setting id="provider.ekinomaniak" value="true" />
    <setting id="provider.exfs" value="true" />
    <setting id="provider.filiser" value="true" />
    <setting id="provider.filmenstreaminghd" value="true" />
    <setting id="provider.filmix" value="true" />
    <setting id="provider.filmpalast" value="true" />
    <setting id="provider.filmwebbooster" value="true" />
    <setting id="provider.filmxy" value="true" />
    <setting id="provider.filmyto" value="true" />
    <setting id="provider.flixanity" value="true" />
    <setting id="provider.fmovied6" value="true" />
    <setting id="provider.foxx" value="true" />
    <setting id="provider.fullmoviz" value="true" />
    <setting id="provider.fullstream" value="true" />
    <setting id="provider.gamatotv" value="true" />
    <setting id="provider.genvideos" value="true" />
    <setting id="provider.gogoanime" value="true" />
    <setting id="provider.gostream" value="true" />
    <setting id="provider.hdfilme" value="true" />
    <setting id="provider.hdstreams" value="true" />
    <setting id="provider.hevcfilm" value="true" />
    <setting id="provider.horrorkino" value="true" />
    <setting id="provider.icefilms" value="true" />
    <setting id="provider.iheartdrama" value="true" />
    <setting id="provider.ikshow" value="true" />
    <setting id="provider.iload" value="true" />
    <setting id="provider.imdark" value="true" />
    <setting id="provider.kdramacool" value="true" />
    <setting id="provider.kingmovies" value="true" />
    <setting id="provider.kinodogs" value="true" />
    <setting id="provider.kinoking" value="true" />
    <setting id="provider.kinow" value="true" />
    <setting id="provider.kinox" value="true" />
    <setting id="provider.kinoxax" value="true" />
    <setting id="provider.library" value="true" />
    <setting id="provider.lichtspielhaus" value="true" />
    <setting id="provider.liomenoi" value="true" />
    <setting id="provider.megapelistv" value="true" />
    <setting id="provider.mehliz" value="true" />
    <setting id="provider.miradetodo" value="true" />
    <setting id="provider.movie2k-ac" value="true" />
    <setting id="provider.movie2k-ag" value="true" />
    <setting id="provider.movie2z" value="true" />
    <setting id="provider.movie4k" value="true" />
    <setting id="provider.movie4kis" value="true" />
    <setting id="provider.movie4kto" value="true" />
    <setting id="provider.movie4uch" value="true" />
    <setting id="provider.moviesever" value="true" />
    <setting id="provider.moviesgold" value="true" />
    <setting id="provider.movietown" value="true" />
    <setting id="provider.myasiantv" value="true" />
    <setting id="provider.netzkino" value="true" />
    <setting id="provider.newkino" value="true" />
    <setting id="provider.ninemovies" value="true" />
    <setting id="provider.onlinedizi" value="true" />
    <setting id="provider.openkatalog" value="true" />
    <setting id="provider.paczymy" value="true" />
    <setting id="provider.peliculasdk" value="true" />
    <setting id="provider.pelisplustv" value="true" />
    <setting id="provider.pepecine" value="true" />
    <setting id="provider.phazeddl" value="true" />
    <setting id="provider.plocker" value="true" />
    <setting id="provider.popcorn" value="true" />
    <setting id="provider.primewire" value="true" />
    <setting id="provider.projectfree" value="true" />
    <setting id="provider.proxer" value="true" />
    <setting id="provider.pubfilmonline" value="true" />
    <setting id="provider.pureanime" value="true" />
    <setting id="provider.putlocker" value="true" />
    <setting id="provider.releasebb" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.sceper" value="true" />
    <setting id="provider.serienstream" value="false" />
    <setting id="provider.series9" value="true" />
    <setting id="provider.seriescr" value="true" />
    <setting id="provider.seriesever" value="true" />
    <setting id="provider.seriesfree" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.seriespapaya" value="true" />
    <setting id="provider.sezonlukdizi" value="true" />
    <setting id="provider.showbox" value="true" />
    <setting id="provider.skstream" value="true" />
    <setting id="provider.solarmovie" value="true" />
    <setting id="provider.stream-to" value="true" />
    <setting id="provider.streamay" value="true" />
    <setting id="provider.streamdream" value="true" />
    <setting id="provider.streamflix" value="true" />
    <setting id="provider.streamingseries" value="true" />
    <setting id="provider.streamit" value="true" />
    <setting id="provider.streamkiste" value="true" />
    <setting id="provider.szukajkatv" value="true" />
    <setting id="provider.tainiesonline" value="true" />
    <setting id="provider.tainiomania" value="true" />
    <setting id="provider.tata" value="true" />
    <setting id="provider.trt" value="true" />
    <setting id="provider.tunemovie" value="true" />
    <setting id="provider.tvbox" value="true" />
    <setting id="provider.tvrelease" value="true" />
    <setting id="provider.ultrahd" value="true" />
    <setting id="provider.video4k" value="true" />
    <setting id="provider.videoscraper" value="true" />
    <setting id="provider.view4u" value="true" />
    <setting id="provider.vodly" value="true" />
    <setting id="provider.vumoo" value="true" />
    <setting id="provider.watch32" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.wrzcraft" value="true" />
    <setting id="provider.xmovies" value="true" />
    <setting id="provider.xrysoi" value="true" />
    <setting id="provider.xwatchseries" value="true" />
    <setting id="provider.ymovies" value="true" />
    <setting id="providers.lang" value="English" />
    <setting id="scrapers.timeout.1" value="25" />
    <setting id="serienstream.pass" value="" />
    <setting id="serienstream.user" value="" />
    <setting id="seriesever.pass" value="" />
    <setting id="seriesever.user" value="" />
    <setting id="showunaired" value="true" />
    <setting id="sources.extrainfo" value="true" />
    <setting id="streamlord.pass" value="" />
    <setting id="streamlord.user" value="" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tm.user" value="6c992347c18547e5fc8f8d0762902b1c" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="unaired.identify" value="1" />
</settings>
