<?xml version="1.0" encoding="UTF-8"?>

<window id="84000">
	<defaultcontrol>84001</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<animation effect="fade" time="100">WindowOpen</animation>
	<animation effect="fade" time="100">WindowClose</animation>
	<coordinates>
		<posX>200</posX>
		<posY>100</posY>
	</coordinates>
	<controls>
		<control type="image" id="84002">
			<description>Black Background</description>
			<posx>435</posx>
			<posy>227</posy>
			<width>400</width>
			<height>200</height>
			<texture>dialog.png</texture>
		</control>
		
		<control type="button" id="84005">
			<posx>760</posx>
			<posy>227</posy>
			<width>60</width>
			<height>32</height>
			<label></label>
			<focusedcolor>FFFFFFFF</focusedcolor>
			<colordiffuse>FFFFFFFF</colordiffuse>
			<texturefocus>window/close_focus.png</texturefocus>
			<texturenofocus>window/close.png</texturenofocus>
			<pulseonselect>true</pulseonselect>
			<onclick>close</onclick>
		</control>
		
		<control type="list" id="84001">
			<description>Context Menu</description>
			<posx>440</posx>
			<posy>250</posy>
			<width>400</width>
			<height>220</height>
			<visible>true</visible>
			<viewtype label="3D list">list</viewtype>
			<orientation>vertical</orientation>
			<autoscroll>false</autoscroll>
			<scrolltime tween="sine" easing="out">200</scrolltime>
			<itemlayout width="400" height="40">
				<control type="image">
					<posx>5</posx>
					<posy>0</posy>
					<width>340</width>
					<height>41</height>
					<texture>List/nofocus.png</texture>
				</control>
				<control type="image">
					<posx>10</posx>
					<posy>3</posy>
					<width>33</width>
					<height>32</height>
					<info>ListItem.Icon</info>
				</control>
				<control type="label">
					<posx>50</posx>
					<posy>0</posy>
					<width>200</width>
					<height>40</height>
					<font>font13</font>
					<aligny>center</aligny>
					<align>left</align>
					<info>ListItem.Label</info>
				</control>
			</itemlayout>
			<focusedlayout height="40" width="320">
				<control type="image">
					<posx>10</posx>
					<posy>0</posy>
					<width>390</width>
					<height>41</height>
					<texture>List/focus.png</texture>
					<visible>Control.HasFocus(84001)</visible>
				</control>
				<control type="image">
					<posx>10</posx>
					<posy>3</posy>
					<width>33</width>
					<height>32</height>
					<info>ListItem.Icon</info>
				</control>
				<control type="label">
					<posx>50</posx>
					<posy>0</posy>
					<width>200</width>
					<height>40</height>
					<font>font13</font>
					<aligny>center</aligny>
					<align>left</align>
					<info>ListItem.Label</info>
				</control>
			</focusedlayout>
		</control>	
	</controls>
</window>