<?xml version="1.0" encoding="UTF-8"?>

<window id="90000">
	<defaultcontrol>82001</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<animation effect="fade" time="100">WindowOpen</animation>
	<animation effect="fade" time="100">WindowClose</animation>
	<coordinates>
		<posX>200</posX>
		<posY>100</posY>
	</coordinates>
	<controls>
		<control type="image">
			<description>Background</description>
			<posx>150</posx>
			<posy>100</posy>
			<width>980</width>
			<height>500</height>
			<texture>dialog.png</texture>
		</control>
		
		<control type="image">
			<description>Title Bar</description>
			<posx>150</posx>
			<posy>100</posy>
			<width>980</width>
			<height>35</height>
			<texture>dialogheader.png</texture>
		</control>
		<control type="label">
			<posx>150</posx>
			<posy>105</posy>
			<width>980</width>
			<height>35</height>
			<font>font13_title</font>
			<align>center</align>
			<textcolor>cyan</textcolor>
			<shadowcolor>dimgrey</shadowcolor>
			<label>Premiumize.me Account Settings</label>
		</control>

		<control type="button" id="82000">
			<posx>1060</posx>
			<posy>110</posy>
			<width>60</width>
			<height>32</height>
			<label></label>
			<focusedcolor>FFFFFFFF</focusedcolor>
			<colordiffuse>FFFFFFFF</colordiffuse>
			<texturefocus>window/close_focus.png</texturefocus>
			<texturenofocus>window/close.png</texturenofocus>
			<pulseonselect>true</pulseonselect>
		</control>
		
		<control type="textbox">
		   <left>150</left>
		   <top>170</top>
		   <width>980</width>
		   <height>300</height>
		   <visible>true</visible>
		   <colordiffuse>FFFFFFFF</colordiffuse>
		   <font>font13</font>
		   <textcolor>red</textcolor>
		   <pulseonselect></pulseonselect>
		   <pagecontrol>13</pagecontrol>
		   <scrolltime>200</scrolltime>
		   <autoscroll delay="3000" time="1000" repeat="10000">!Control.HasFocus(13)</autoscroll>
		   <label>Red Beard requires a Premiumize.me account enabled in UrlResolver.[CR]Verify your settings.[CR]</label>
		   <align>center</align>
		</control>
		
		<control type="edit" id="82001">
			<left>200</left>
			<top>250</top>
			<width>880</width>
			<height>40</height>
			<visible>true</visible>
			<aligny>center</aligny>
			<label>ID:</label>
			<hinttext>Enter Premiumize ID</hinttext>
			<font>font14</font>
			<textoffsetx>10</textoffsetx>
			<textcolor>red</textcolor>
			<texturefocus>List/focus.png</texturefocus>
			<texturenofocus>List/nofocus.png</texturenofocus>
			<pulseonselect>no</pulseonselect>
			<ondown>82002</ondown>
		</control>

		<control type="edit" id="82002">
			<left>200</left>
			<top>300</top>
			<width>880</width>
			<height>40</height>
			<visible>true</visible>
			<aligny>center</aligny>
			<label>PIN:</label>
			<hinttext>Enter Premiumize PIN</hinttext>
			<font>font14</font>
			<textoffsetx>10</textoffsetx>
			<textcolor>red</textcolor>
			<texturefocus>List/focus.png</texturefocus>
			<texturenofocus>List/nofocus.png</texturenofocus>
			<pulseonselect>no</pulseonselect>
			<onup>82001</onup>
			<ondown>82003</ondown>
		</control>
	
		<control type="radiobutton" id="82003">
			  <type>radiobutton</type>
			  <left>200</left>
			  <top>350</top>
			  <width>900</width>
			  <height>40</height>
			  <visible>true</visible>
			  <colordiffuse>FFFFFFFF</colordiffuse>
			  <texturefocus>myfocustexture.png</texturefocus>
			  <texturenofocus>mynormaltexture.png</texturenofocus>
			  <textureradioonfocus>switch_on.png</textureradioonfocus>
			  <textureradioonnofocus>switch_on_nf.png</textureradioonnofocus>
			  <textureradioofffocus>switch_off.png</textureradioofffocus>
			  <textureradiooffnofocus>switch_off_nf.png</textureradiooffnofocus>
			  <label>Enable Login:</label>
			  <font>font13</font>
			  <textcolor>red</textcolor>
			  <align>left</align>
			  <aligny>center</aligny>
			  <textoffsetx>10</textoffsetx>
			  <textoffsety>0</textoffsety>
			  <pulseonselect>false</pulseonselect>
			  <radioheight>45</radioheight>
			  <radiowidth>100></radiowidth>
			  <onup>82002</onup>
			  <ondown>82999</ondown>
		</control>

		<control type="grouplist" id="82999">
			<left>150</left>
			<top>500</top>
			<width>980</width>
			<height>40</height>
			<defaultcontrol>82011</defaultcontrol>
			<visible>true</visible>
			<itemgap>20</itemgap>
			<orientation>horizontal</orientation>
			<onup>82003</onup>
			<align>center</align>
			<control type="button" id="82010">
				<width>200</width>
				<height>40</height>
				<font>font13</font>
				<label>Cancel</label>
				<textcolor>white</textcolor>
				<focusedcolor>FFFFFFFF</focusedcolor>
				<colordiffuse>FFFFFFFF</colordiffuse>
				<texturefocus>button.png</texturefocus>
				<texturenofocus>buttonNF.png</texturenofocus>
				<pulseonselect>true</pulseonselect>
				<align>center</align>
				<aligny>center</aligny>
			</control>
		
			<control type="button" id="82011">
				<width>200</width>
				<height>40</height>
				<font>font13</font>
				<label>Update</label>
				<textcolor>white</textcolor>
				<focusedcolor>FFFFFFFF</focusedcolor>
				<colordiffuse>FFFFFFFF</colordiffuse>
				<texturefocus>button.png</texturefocus>
				<texturenofocus>buttonNF.png</texturenofocus>
				<pulseonselect>true</pulseonselect>
				<align>center</align>
				<aligny>center</aligny>
			</control>
		</control>	
	</controls>
</window>
