<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <setting type="lsep" label="This addon doesn't have any configuration options." />
    <setting type="sep" />
    <setting type="lsep" label="Should you require any assistance, feel free to visit" />
    <setting type="lsep" label="[COLOR white]http://tvaddons.co/forums[/COLOR] for addon support." />

    <setting id="notify" default="0" visible="false" />

</settings>
