<settings>
    <setting id="musicfullscreenenabled" type="bool">false</setting>
    <setting id="hideseekbarosd" type="bool">false</setting>
    <setting id="showinfoonpause" type="bool">false</setting>
    <setting id="showclearartosd" type="bool">false</setting>
    <setting id="showclearlogoosd" type="bool">false</setting>
    <setting id="disablevideoplayingbg" type="bool">false</setting>
    <setting id="disablemusicplayingbg" type="bool">false</setting>
    <setting id="animatefanart" type="bool">false</setting>
    <setting id="usefanartformusicplayingbg" type="bool">false</setting>
    <setting id="usevisualizationandfanartformusicplayingbg" type="bool">false</setting>
    <setting id="enableartistfanartslideshow" type="bool">false</setting>
    <setting id="disableaddonslistinfoview" type="bool">false</setting>
    <setting id="disableaddonswraplistinfoview" type="bool">false</setting>
    <setting id="disabletvshowslogo" type="bool">false</setting>
    <setting id="disablemoviesclearlogo" type="bool">false</setting>
    <setting id="enablemusiclibraryclearlogos" type="bool">false</setting>
    <setting id="disablestudiologo" type="bool">false</setting>
    <setting id="enablebatterynotification" type="bool">false</setting>
    <setting id="disableweather" type="bool">false</setting>
    <setting id="applyallweather" type="bool">false</setting>
    <setting id="hidetopbardate" type="bool">false</setting>
    <setting id="enableaddonsfanart" type="bool">false</setting>
    <setting id="showiconviewscrollbar" type="bool">false</setting>
    <setting id="enablequickjump" type="bool">false</setting>
    <setting id="enableanimatedposters" type="bool">false</setting>
    <setting id="hideepisodesiconoverlay" type="bool">false</setting>
    <setting id="hidemusiciconlabel" type="bool">false</setting>
    <setting id="hidepicturesiconlabel" type="bool">false</setting>
    <setting id="hidemenubar" type="bool">false</setting>
    <setting id="enablelistextrathumbs" type="bool">false</setting>
    <setting id="usetvshowspostercover" type="bool">false</setting>
    <setting id="donotusestarratingmovies" type="bool">false</setting>
    <setting id="donotusestarratingepisodes" type="bool">false</setting>
    <setting id="ratingtypeuser" type="bool">false</setting>
    <setting id="donotusestarratingtvshows" type="bool">false</setting>
    <setting id="donotusestarratingmusic" type="bool">false</setting>
    <setting id="hidelistviewscrollbar" type="bool">false</setting>
    <setting id="showthumbnailviewscrollbar" type="bool">false</setting>
    <setting id="hidealbumthumbslabel" type="bool">false</setting>
    <setting id="enablenextairedinfo" type="bool">false</setting>
    <setting id="hideaddonslistinfodescription" type="bool">false</setting>
    <setting id="hidelistinfoviewscrollbar" type="bool">false</setting>
    <setting id="hideaddonswraplistmediainfo" type="bool">false</setting>
    <setting id="hideaddonswraplistinfodescription" type="bool">false</setting>
    <setting id="showwrapinfoviewscrollbar" type="bool">false</setting>
    <setting id="showmediaextraoptions" type="bool">false</setting>
    <setting id="enablekioskmode" type="bool">false</setting>
    <setting id="skindateformat" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="hidewidgetbackgrounds" type="bool">false</setting>
    <setting id="animatebackground" type="bool">false</setting>
    <setting id="hiderecentlyaddedhomepanel" type="bool">false</setting>
    <setting id="hidewatchlisthomepanel" type="bool">false</setting>
    <setting id="hideincinemashomewidget" type="bool">false</setting>
    <setting id="hidevideoshomewidget" type="bool">false</setting>
    <setting id="hidenowplayinghomepanel" type="bool">false</setting>
    <setting id="hidepvrchannelswidget" type="bool">false</setting>
    <setting id="hideweatherhomepanel" type="bool">false</setting>
    <setting id="hidesysteminfohomepanel" type="bool">false</setting>
    <setting id="hiderecordinginfohomepanel" type="bool">false</setting>
    <setting id="hidenextairedwidget" type="bool">false</setting>
    <setting id="hideaddonswidget" type="bool">false</setting>
    <setting id="hidegameswidget" type="bool">false</setting>
    <setting id="hidefavouriteswidget" type="bool">false</setting>
    <setting id="hidehomecategoryicons" type="bool">false</setting>
    <setting id="enablecustomcategory1" type="bool">false</setting>
    <setting id="enablecustomcategory2" type="bool">false</setting>
    <setting id="enablecustomcategory3" type="bool">false</setting>
    <setting id="enablecustomcategory4" type="bool">false</setting>
    <setting id="enablecustomcategory5" type="bool">false</setting>
    <setting id="enablecustomcategory6" type="bool">false</setting>
    <setting id="enablecustomcategory7" type="bool">false</setting>
    <setting id="enablecustomcategory8" type="bool">false</setting>
    <setting id="enablecustomcategory9" type="bool">false</setting>
    <setting id="enablecustomcategory10" type="bool">false</setting>
    <setting id="enablecustomcategory11" type="bool">false</setting>
    <setting id="enablecustomcategory12" type="bool">false</setting>
    <setting id="enablecustomcategory13" type="bool">false</setting>
    <setting id="enablecustomcategory14" type="bool">false</setting>
    <setting id="enablecustomcategory15" type="bool">false</setting>
    <setting id="enablecustomcategory16" type="bool">false</setting>
    <setting id="hidehomesubmenus" type="bool">false</setting>
    <setting id="showhomenavbuttons" type="bool">false</setting>
    <setting id="enablemusicplayinghomeprogressbar" type="bool">false</setting>
    <setting id="togglecategorycolors" type="bool">false</setting>
    <setting id="hidemusiccategory" type="bool">false</setting>
    <setting id="hidepvrcategory" type="bool">false</setting>
    <setting id="hidepvrradiocategory" type="bool">false</setting>
    <setting id="hidevideoscategory" type="bool">false</setting>
    <setting id="hidemoviescategory" type="bool">false</setting>
    <setting id="hidetvshowscategory" type="bool">false</setting>
    <setting id="hideaddonscategory" type="bool">false</setting>
    <setting id="hidegamescategory" type="bool">false</setting>
    <setting id="hidepicturescategory" type="bool">false</setting>
    <setting id="enableweathercategory" type="bool">false</setting>
    <setting id="hidegeneralcategory" type="bool">false</setting>
    <setting id="hidesystemcategory" type="bool">false</setting>
    <setting id="hidepowercategory" type="bool">false</setting>
    <setting id="expandaddmorecategorysettings" type="bool">false</setting>
    <setting id="expandaddmorecategorysettings2" type="bool">false</setting>
    <setting id="expandaddmorecategorysettings3" type="bool">false</setting>
    <setting id="expandaddmorecategorysettings4" type="bool">false</setting>
    <setting id="enablemusiccdart" type="bool">false</setting>
    <setting id="usealternativeduration" type="bool">false</setting>
    <setting id="enableaddonshortcuttitles" type="bool">false</setting>
    <setting id="editmusicsubmenubtn1" type="bool">false</setting>
    <setting id="editmusicsubmenubtn2" type="bool">false</setting>
    <setting id="editmusicsubmenubtn3" type="bool">false</setting>
    <setting id="editmusicsubmenubtn4" type="bool">false</setting>
    <setting id="editmusicsubmenubtn5" type="bool">false</setting>
    <setting id="editmusicsubmenubtn6" type="bool">false</setting>
    <setting id="editmusicsubmenubtn7" type="bool">false</setting>
    <setting id="editvideossubmenubtn1" type="bool">false</setting>
    <setting id="editvideossubmenubtn2" type="bool">false</setting>
    <setting id="editvideossubmenubtn3" type="bool">false</setting>
    <setting id="editvideossubmenubtn4" type="bool">false</setting>
    <setting id="editvideossubmenubtn5" type="bool">false</setting>
    <setting id="editvideossubmenubtn6" type="bool">false</setting>
    <setting id="editvideossubmenubtn7" type="bool">false</setting>
    <setting id="editmoviessubmenubtn1" type="bool">false</setting>
    <setting id="editmoviessubmenubtn2" type="bool">false</setting>
    <setting id="editmoviessubmenubtn3" type="bool">false</setting>
    <setting id="editmoviessubmenubtn4" type="bool">false</setting>
    <setting id="editmoviessubmenubtn5" type="bool">false</setting>
    <setting id="editmoviessubmenubtn6" type="bool">false</setting>
    <setting id="editmoviessubmenubtn7" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn1" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn2" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn3" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn4" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn5" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn6" type="bool">false</setting>
    <setting id="edittvshowssubmenubtn7" type="bool">false</setting>
    <setting id="editpvrsubmenubtn1" type="bool">false</setting>
    <setting id="editpvrsubmenubtn2" type="bool">false</setting>
    <setting id="editpvrsubmenubtn3" type="bool">false</setting>
    <setting id="editpvrsubmenubtn4" type="bool">false</setting>
    <setting id="editpvrsubmenubtn5" type="bool">false</setting>
    <setting id="editpvrsubmenubtn6" type="bool">false</setting>
    <setting id="editpvrsubmenubtn7" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn1" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn2" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn3" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn4" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn5" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn6" type="bool">false</setting>
    <setting id="editpvrradiosubmenubtn7" type="bool">false</setting>
    <setting id="editaddonssubmenubtn1" type="bool">false</setting>
    <setting id="editaddonssubmenubtn2" type="bool">false</setting>
    <setting id="editaddonssubmenubtn3" type="bool">false</setting>
    <setting id="editaddonssubmenubtn4" type="bool">false</setting>
    <setting id="editaddonssubmenubtn5" type="bool">false</setting>
    <setting id="editaddonssubmenubtn6" type="bool">false</setting>
    <setting id="editaddonssubmenubtn7" type="bool">false</setting>
    <setting id="editgamessubmenubtn1" type="bool">false</setting>
    <setting id="editgamessubmenubtn2" type="bool">false</setting>
    <setting id="editgamessubmenubtn3" type="bool">false</setting>
    <setting id="editgamessubmenubtn4" type="bool">false</setting>
    <setting id="editgamessubmenubtn5" type="bool">false</setting>
    <setting id="editgamessubmenubtn6" type="bool">false</setting>
    <setting id="editgamessubmenubtn7" type="bool">false</setting>
    <setting id="editpicturessubmenubtn1" type="bool">false</setting>
    <setting id="editpicturessubmenubtn2" type="bool">false</setting>
    <setting id="editpicturessubmenubtn3" type="bool">false</setting>
    <setting id="editpicturessubmenubtn4" type="bool">false</setting>
    <setting id="editpicturessubmenubtn5" type="bool">false</setting>
    <setting id="editpicturessubmenubtn6" type="bool">false</setting>
    <setting id="editpicturessubmenubtn7" type="bool">false</setting>
    <setting id="editweathersubmenubtn1" type="bool">false</setting>
    <setting id="editweathersubmenubtn2" type="bool">false</setting>
    <setting id="editweathersubmenubtn3" type="bool">false</setting>
    <setting id="editweathersubmenubtn4" type="bool">false</setting>
    <setting id="editweathersubmenubtn5" type="bool">false</setting>
    <setting id="editweathersubmenubtn6" type="bool">false</setting>
    <setting id="editweathersubmenubtn7" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn1" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn2" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn3" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn4" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn5" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn6" type="bool">false</setting>
    <setting id="editgeneralsubmenubtn7" type="bool">false</setting>
    <setting id="editsystemsubmenubtn1" type="bool">false</setting>
    <setting id="editsystemsubmenubtn2" type="bool">false</setting>
    <setting id="editsystemsubmenubtn3" type="bool">false</setting>
    <setting id="editsystemsubmenubtn4" type="bool">false</setting>
    <setting id="editsystemsubmenubtn5" type="bool">false</setting>
    <setting id="editsystemsubmenubtn6" type="bool">false</setting>
    <setting id="editsystemsubmenubtn7" type="bool">false</setting>
    <setting id="editcustom1submenubtn1" type="bool">false</setting>
    <setting id="editcustom1submenubtn2" type="bool">false</setting>
    <setting id="editcustom1submenubtn3" type="bool">false</setting>
    <setting id="editcustom1submenubtn4" type="bool">false</setting>
    <setting id="editcustom1submenubtn5" type="bool">false</setting>
    <setting id="editcustom1submenubtn6" type="bool">false</setting>
    <setting id="editcustom1submenubtn7" type="bool">false</setting>
    <setting id="editcustom2submenubtn1" type="bool">false</setting>
    <setting id="editcustom2submenubtn2" type="bool">false</setting>
    <setting id="editcustom2submenubtn3" type="bool">false</setting>
    <setting id="editcustom2submenubtn4" type="bool">false</setting>
    <setting id="editcustom2submenubtn5" type="bool">false</setting>
    <setting id="editcustom2submenubtn6" type="bool">false</setting>
    <setting id="editcustom2submenubtn7" type="bool">false</setting>
    <setting id="editcustom3submenubtn1" type="bool">false</setting>
    <setting id="editcustom3submenubtn2" type="bool">false</setting>
    <setting id="editcustom3submenubtn3" type="bool">false</setting>
    <setting id="editcustom3submenubtn4" type="bool">false</setting>
    <setting id="editcustom3submenubtn5" type="bool">false</setting>
    <setting id="editcustom3submenubtn6" type="bool">false</setting>
    <setting id="editcustom3submenubtn7" type="bool">false</setting>
    <setting id="editcustom4submenubtn1" type="bool">false</setting>
    <setting id="editcustom4submenubtn2" type="bool">false</setting>
    <setting id="editcustom4submenubtn3" type="bool">false</setting>
    <setting id="editcustom4submenubtn4" type="bool">false</setting>
    <setting id="editcustom4submenubtn5" type="bool">false</setting>
    <setting id="editcustom4submenubtn6" type="bool">false</setting>
    <setting id="editcustom4submenubtn7" type="bool">false</setting>
    <setting id="editcustom5submenubtn1" type="bool">false</setting>
    <setting id="editcustom5submenubtn2" type="bool">false</setting>
    <setting id="editcustom5submenubtn3" type="bool">false</setting>
    <setting id="editcustom5submenubtn4" type="bool">false</setting>
    <setting id="editcustom5submenubtn5" type="bool">false</setting>
    <setting id="editcustom5submenubtn6" type="bool">false</setting>
    <setting id="editcustom5submenubtn7" type="bool">false</setting>
    <setting id="editcustom6submenubtn1" type="bool">false</setting>
    <setting id="editcustom6submenubtn2" type="bool">false</setting>
    <setting id="editcustom6submenubtn3" type="bool">false</setting>
    <setting id="editcustom6submenubtn4" type="bool">false</setting>
    <setting id="editcustom6submenubtn5" type="bool">false</setting>
    <setting id="editcustom6submenubtn6" type="bool">false</setting>
    <setting id="editcustom6submenubtn7" type="bool">false</setting>
    <setting id="editcustom7submenubtn1" type="bool">false</setting>
    <setting id="editcustom7submenubtn2" type="bool">false</setting>
    <setting id="editcustom7submenubtn3" type="bool">false</setting>
    <setting id="editcustom7submenubtn4" type="bool">false</setting>
    <setting id="editcustom7submenubtn5" type="bool">false</setting>
    <setting id="editcustom7submenubtn6" type="bool">false</setting>
    <setting id="editcustom7submenubtn7" type="bool">false</setting>
    <setting id="editcustom8submenubtn1" type="bool">false</setting>
    <setting id="editcustom8submenubtn2" type="bool">false</setting>
    <setting id="editcustom8submenubtn3" type="bool">false</setting>
    <setting id="editcustom8submenubtn4" type="bool">false</setting>
    <setting id="editcustom8submenubtn5" type="bool">false</setting>
    <setting id="editcustom8submenubtn6" type="bool">false</setting>
    <setting id="editcustom8submenubtn7" type="bool">false</setting>
    <setting id="editcustom9submenubtn1" type="bool">false</setting>
    <setting id="editcustom9submenubtn2" type="bool">false</setting>
    <setting id="editcustom9submenubtn3" type="bool">false</setting>
    <setting id="editcustom9submenubtn4" type="bool">false</setting>
    <setting id="editcustom9submenubtn5" type="bool">false</setting>
    <setting id="editcustom9submenubtn6" type="bool">false</setting>
    <setting id="editcustom9submenubtn7" type="bool">false</setting>
    <setting id="editcustom10submenubtn1" type="bool">false</setting>
    <setting id="editcustom10submenubtn2" type="bool">false</setting>
    <setting id="editcustom10submenubtn3" type="bool">false</setting>
    <setting id="editcustom10submenubtn4" type="bool">false</setting>
    <setting id="editcustom10submenubtn5" type="bool">false</setting>
    <setting id="editcustom10submenubtn6" type="bool">false</setting>
    <setting id="editcustom10submenubtn7" type="bool">false</setting>
    <setting id="editcustom11submenubtn1" type="bool">false</setting>
    <setting id="editcustom11submenubtn2" type="bool">false</setting>
    <setting id="editcustom11submenubtn3" type="bool">false</setting>
    <setting id="editcustom11submenubtn4" type="bool">false</setting>
    <setting id="editcustom11submenubtn5" type="bool">false</setting>
    <setting id="editcustom11submenubtn6" type="bool">false</setting>
    <setting id="editcustom11submenubtn7" type="bool">false</setting>
    <setting id="editcustom12submenubtn1" type="bool">false</setting>
    <setting id="editcustom12submenubtn2" type="bool">false</setting>
    <setting id="editcustom12submenubtn3" type="bool">false</setting>
    <setting id="editcustom12submenubtn4" type="bool">false</setting>
    <setting id="editcustom12submenubtn5" type="bool">false</setting>
    <setting id="editcustom12submenubtn6" type="bool">false</setting>
    <setting id="editcustom12submenubtn7" type="bool">false</setting>
    <setting id="editcustom13submenubtn1" type="bool">false</setting>
    <setting id="editcustom13submenubtn2" type="bool">false</setting>
    <setting id="editcustom13submenubtn3" type="bool">false</setting>
    <setting id="editcustom13submenubtn4" type="bool">false</setting>
    <setting id="editcustom13submenubtn5" type="bool">false</setting>
    <setting id="editcustom13submenubtn6" type="bool">false</setting>
    <setting id="editcustom13submenubtn7" type="bool">false</setting>
    <setting id="editcustom14submenubtn1" type="bool">false</setting>
    <setting id="editcustom14submenubtn2" type="bool">false</setting>
    <setting id="editcustom14submenubtn3" type="bool">false</setting>
    <setting id="editcustom14submenubtn4" type="bool">false</setting>
    <setting id="editcustom14submenubtn5" type="bool">false</setting>
    <setting id="editcustom14submenubtn6" type="bool">false</setting>
    <setting id="editcustom14submenubtn7" type="bool">false</setting>
    <setting id="editcustom15submenubtn1" type="bool">false</setting>
    <setting id="editcustom15submenubtn2" type="bool">false</setting>
    <setting id="editcustom15submenubtn3" type="bool">false</setting>
    <setting id="editcustom15submenubtn4" type="bool">false</setting>
    <setting id="editcustom15submenubtn5" type="bool">false</setting>
    <setting id="editcustom15submenubtn6" type="bool">false</setting>
    <setting id="editcustom15submenubtn7" type="bool">false</setting>
    <setting id="editcustom16submenubtn1" type="bool">false</setting>
    <setting id="editcustom16submenubtn2" type="bool">false</setting>
    <setting id="editcustom16submenubtn3" type="bool">false</setting>
    <setting id="editcustom16submenubtn4" type="bool">false</setting>
    <setting id="editcustom16submenubtn5" type="bool">false</setting>
    <setting id="editcustom16submenubtn6" type="bool">false</setting>
    <setting id="editcustom16submenubtn7" type="bool">false</setting>
    <setting id="hidetopbar" type="bool">false</setting>
    <setting id="smartshortcuts.emby" type="bool">false</setting>
    <setting id="applyalladdonscustombg" type="bool">false</setting>
    <setting id="donotautoscrollplot" type="bool">false</setting>
    <setting id="hidemyaddonsscrollbar" type="bool">false</setting>
    <setting id="commonliststyle" type="string"></setting>
    <setting id="lowcpupowermode" type="string"></setting>
    <setting id="commonalbumthumbsstyle" type="string"></setting>
    <setting id="addonswrapinfostyle" type="string"></setting>
    <setting id="CustomDefaultBGPath" type="string"></setting>
    <setting id="globalbrightnessvalue" type="string"></setting>
    <setting id="fanartbrightnessvalue" type="string"></setting>
    <setting id="moviegenreiconsaddon.path" type="string"></setting>
    <setting id="musicgenreiconsaddon.path" type="string"></setting>
    <setting id="MusicLibraryClearLogosPath" type="string"></setting>
    <setting id="moviegenreiconsaddon.ext" type="string"></setting>
    <setting id="musicgenreiconsaddon.ext" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="extendedinfotrailerbutton" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="custom1panelplaylist" type="string"></setting>
    <setting id="custom1paneltype" type="string">1</setting>
    <setting id="custom2panelplaylist" type="string"></setting>
    <setting id="custom2paneltype" type="string">1</setting>
    <setting id="custom3panelplaylist" type="string"></setting>
    <setting id="custom3paneltype" type="string">1</setting>
    <setting id="custom4panelplaylist" type="string"></setting>
    <setting id="custom4paneltype" type="string">1</setting>
    <setting id="custom5panelplaylist" type="string"></setting>
    <setting id="custom5paneltype" type="string">1</setting>
    <setting id="custom6panelplaylist" type="string"></setting>
    <setting id="custom6paneltype" type="string">1</setting>
    <setting id="custom7panelplaylist" type="string"></setting>
    <setting id="custom7paneltype" type="string">1</setting>
    <setting id="custom8panelplaylist" type="string"></setting>
    <setting id="custom8paneltype" type="string">1</setting>
    <setting id="custom9panelplaylist" type="string"></setting>
    <setting id="custom9paneltype" type="string">1</setting>
    <setting id="custom10panelplaylist" type="string"></setting>
    <setting id="custom10paneltype" type="string">1</setting>
    <setting id="custom11panelplaylist" type="string"></setting>
    <setting id="custom11paneltype" type="string">1</setting>
    <setting id="custom12panelplaylist" type="string"></setting>
    <setting id="custom12paneltype" type="string">1</setting>
    <setting id="custom13panelplaylist" type="string"></setting>
    <setting id="custom13paneltype" type="string">1</setting>
    <setting id="custom14panelplaylist" type="string"></setting>
    <setting id="custom14paneltype" type="string">1</setting>
    <setting id="custom15panelplaylist" type="string"></setting>
    <setting id="custom15paneltype" type="string">1</setting>
    <setting id="custom16panelplaylist" type="string"></setting>
    <setting id="custom16paneltype" type="string">1</setting>
    <setting id="custompicturesbgtype" type="string"></setting>
    <setting id="custom1paneltopaspect" type="string"></setting>
    <setting id="custom1panelbottomaspect" type="string"></setting>
    <setting id="custom2paneltopaspect" type="string"></setting>
    <setting id="custom2panelbottomaspect" type="string"></setting>
    <setting id="custom3paneltopaspect" type="string"></setting>
    <setting id="custom3panelbottomaspect" type="string"></setting>
    <setting id="custom4paneltopaspect" type="string"></setting>
    <setting id="custom4panelbottomaspect" type="string"></setting>
    <setting id="custom5paneltopaspect" type="string"></setting>
    <setting id="custom5panelbottomaspect" type="string"></setting>
    <setting id="custom6paneltopaspect" type="string"></setting>
    <setting id="custom6panelbottomaspect" type="string"></setting>
    <setting id="custom7paneltopaspect" type="string"></setting>
    <setting id="custom7panelbottomaspect" type="string"></setting>
    <setting id="custom8paneltopaspect" type="string"></setting>
    <setting id="custom8panelbottomaspect" type="string"></setting>
    <setting id="custom9paneltopaspect" type="string"></setting>
    <setting id="custom9panelbottomaspect" type="string"></setting>
    <setting id="custom10paneltopaspect" type="string"></setting>
    <setting id="custom10panelbottomaspect" type="string"></setting>
    <setting id="custom11paneltopaspect" type="string"></setting>
    <setting id="custom11panelbottomaspect" type="string"></setting>
    <setting id="custom12paneltopaspect" type="string"></setting>
    <setting id="custom12panelbottomaspect" type="string"></setting>
    <setting id="custom13paneltopaspect" type="string"></setting>
    <setting id="custom13panelbottomaspect" type="string"></setting>
    <setting id="custom14paneltopaspect" type="string"></setting>
    <setting id="custom14panelbottomaspect" type="string"></setting>
    <setting id="custom15paneltopaspect" type="string"></setting>
    <setting id="custom15panelbottomaspect" type="string"></setting>
    <setting id="custom16paneltopaspect" type="string"></setting>
    <setting id="custom16panelbottomaspect" type="string"></setting>
    <setting id="reordercategories1" type="string"></setting>
    <setting id="customaddonsbgtype" type="string"></setting>
    <setting id="customgamesbgtype" type="string"></setting>
    <setting id="customgeneralbgtype" type="string"></setting>
    <setting id="customsystembgtype" type="string"></setting>
    <setting id="custompowerbgtype" type="string"></setting>
    <setting id="musiccategoryaction" type="string"></setting>
    <setting id="musiccategoryactionlabel" type="string"></setting>
    <setting id="videoscategoryaction" type="string"></setting>
    <setting id="videoscategoryactionlabel" type="string"></setting>
    <setting id="addmorecategorybtn1backgroundimagetype" type="string"></setting>
    <setting id="Custom1BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn2backgroundimagetype" type="string"></setting>
    <setting id="Custom2BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn3backgroundimagetype" type="string"></setting>
    <setting id="Custom3BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn4backgroundimagetype" type="string"></setting>
    <setting id="Custom4BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn5backgroundimagetype" type="string"></setting>
    <setting id="Custom5BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn6backgroundimagetype" type="string"></setting>
    <setting id="Custom6BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn7backgroundimagetype" type="string"></setting>
    <setting id="Custom7BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn8backgroundimagetype" type="string"></setting>
    <setting id="Custom8BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn9backgroundimagetype" type="string"></setting>
    <setting id="Custom9BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn10backgroundimagetype" type="string"></setting>
    <setting id="Custom10BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn11backgroundimagetype" type="string"></setting>
    <setting id="Custom11BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn12backgroundimagetype" type="string"></setting>
    <setting id="Custom12BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn13backgroundimagetype" type="string"></setting>
    <setting id="Custom13BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn14backgroundimagetype" type="string"></setting>
    <setting id="Custom14BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn15backgroundimagetype" type="string"></setting>
    <setting id="Custom15BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn16backgroundimagetype" type="string"></setting>
    <setting id="Custom16BackgroundImagePath" type="string"></setting>
    <setting id="addmorecategorybtn1backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn2backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn3backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn4backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn5backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn6backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn7backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn8backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn9backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn10backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn11backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn12backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn13backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn14backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn15backgroundimagepathlabel" type="string"></setting>
    <setting id="addmorecategorybtn16backgroundimagepathlabel" type="string"></setting>
    <setting id="pvrchannelswidgettv" type="string"></setting>
    <setting id="pvrchannelswidgetradio" type="string"></setting>
    <setting id="MusicCategoryIconPath" type="string"></setting>
    <setting id="PVRCategoryIconPath" type="string"></setting>
    <setting id="PVRRadioCategoryIconPath" type="string"></setting>
    <setting id="VideosCategoryIconPath" type="string"></setting>
    <setting id="MoviesCategoryIconPath" type="string"></setting>
    <setting id="TVShowsCategoryIconPath" type="string"></setting>
    <setting id="AddonsCategoryIconPath" type="string"></setting>
    <setting id="GamesCategoryIconPath" type="string"></setting>
    <setting id="PicturesCategoryIconPath" type="string"></setting>
    <setting id="WeatherCategoryIconPath" type="string"></setting>
    <setting id="GeneralCategoryIconPath" type="string"></setting>
    <setting id="SystemCategoryIconPath" type="string"></setting>
    <setting id="PowerCategoryIconPath" type="string"></setting>
    <setting id="VideoAddon1" type="string"></setting>
    <setting id="VideoAddon2" type="string"></setting>
    <setting id="VideoAddon3" type="string"></setting>
    <setting id="VideoAddon4" type="string"></setting>
    <setting id="VideoAddon5" type="string"></setting>
    <setting id="VideoAddon6" type="string"></setting>
    <setting id="MovieAddon1" type="string"></setting>
    <setting id="MovieAddon2" type="string"></setting>
    <setting id="MovieAddon3" type="string"></setting>
    <setting id="MovieAddon4" type="string"></setting>
    <setting id="MovieAddon5" type="string"></setting>
    <setting id="MovieAddon6" type="string"></setting>
    <setting id="TVShowAddon1" type="string"></setting>
    <setting id="TVShowAddon2" type="string"></setting>
    <setting id="TVShowAddon3" type="string"></setting>
    <setting id="TVShowAddon4" type="string"></setting>
    <setting id="TVShowAddon5" type="string"></setting>
    <setting id="TVShowAddon6" type="string"></setting>
    <setting id="MusicAddon1" type="string"></setting>
    <setting id="MusicAddon2" type="string"></setting>
    <setting id="MusicAddon3" type="string"></setting>
    <setting id="MusicAddon4" type="string"></setting>
    <setting id="MusicAddon5" type="string"></setting>
    <setting id="MusicAddon6" type="string"></setting>
    <setting id="PicturesAddon1" type="string"></setting>
    <setting id="PicturesAddon2" type="string"></setting>
    <setting id="PicturesAddon3" type="string"></setting>
    <setting id="PicturesAddon4" type="string"></setting>
    <setting id="PicturesAddon5" type="string"></setting>
    <setting id="PicturesAddon6" type="string"></setting>
    <setting id="AddonsAddon1" type="string"></setting>
    <setting id="AddonsAddon2" type="string"></setting>
    <setting id="AddonsAddon3" type="string"></setting>
    <setting id="AddonsAddon4" type="string"></setting>
    <setting id="AddonsAddon5" type="string"></setting>
    <setting id="AddonsAddon6" type="string"></setting>
    <setting id="GeneralAddon1" type="string"></setting>
    <setting id="GeneralAddon2" type="string"></setting>
    <setting id="GeneralAddon3" type="string"></setting>
    <setting id="GeneralAddon4" type="string"></setting>
    <setting id="GeneralAddon5" type="string"></setting>
    <setting id="GeneralAddon6" type="string"></setting>
    <setting id="GamesAddon1" type="string"></setting>
    <setting id="GamesAddon2" type="string"></setting>
    <setting id="GamesAddon3" type="string"></setting>
    <setting id="GamesAddon4" type="string"></setting>
    <setting id="GamesAddon5" type="string"></setting>
    <setting id="GamesAddon6" type="string"></setting>
    <setting id="custommusicbgtype" type="string"></setting>
    <setting id="CustomMusicBGPath" type="string"></setting>
    <setting id="custommusicfanartbgtype" type="string"></setting>
    <setting id="customvideosbgtype" type="string"></setting>
    <setting id="CustomVideosBGPath" type="string"></setting>
    <setting id="customvideosfanartbgtype" type="string"></setting>
    <setting id="custommoviesbgtype" type="string"></setting>
    <setting id="CustomMoviesBGPath" type="string"></setting>
    <setting id="custommoviesfanartbgtype" type="string"></setting>
    <setting id="customtvshowsbgtype" type="string"></setting>
    <setting id="CustomTVShowsBGPath" type="string"></setting>
    <setting id="customtvshowsfanartbgtype" type="string"></setting>
    <setting id="MusicSubMenuBtn1Label" type="string"></setting>
    <setting id="MusicSubMenuBtn2Label" type="string"></setting>
    <setting id="MusicSubMenuBtn3Label" type="string"></setting>
    <setting id="MusicSubMenuBtn4Label" type="string"></setting>
    <setting id="MusicSubMenuBtn5Label" type="string"></setting>
    <setting id="MusicSubMenuBtn6Label" type="string"></setting>
    <setting id="MusicSubMenuBtn7Label" type="string"></setting>
    <setting id="VideosSubMenuBtn1Label" type="string"></setting>
    <setting id="VideosSubMenuBtn2Label" type="string"></setting>
    <setting id="VideosSubMenuBtn3Label" type="string"></setting>
    <setting id="VideosSubMenuBtn4Label" type="string"></setting>
    <setting id="VideosSubMenuBtn5Label" type="string"></setting>
    <setting id="VideosSubMenuBtn6Label" type="string"></setting>
    <setting id="VideosSubMenuBtn7Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn1Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn2Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn3Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn4Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn5Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn6Label" type="string"></setting>
    <setting id="MoviesSubMenuBtn7Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn1Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn2Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn3Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn4Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn5Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn6Label" type="string"></setting>
    <setting id="TVShowsSubMenuBtn7Label" type="string"></setting>
    <setting id="PVRSubMenuBtn1Label" type="string"></setting>
    <setting id="PVRSubMenuBtn2Label" type="string"></setting>
    <setting id="PVRSubMenuBtn3Label" type="string"></setting>
    <setting id="PVRSubMenuBtn4Label" type="string"></setting>
    <setting id="PVRSubMenuBtn5Label" type="string"></setting>
    <setting id="PVRSubMenuBtn6Label" type="string"></setting>
    <setting id="PVRSubMenuBtn7Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn1Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn2Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn3Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn4Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn5Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn6Label" type="string"></setting>
    <setting id="PVRRadioSubMenuBtn7Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn1Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn2Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn3Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn4Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn5Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn6Label" type="string"></setting>
    <setting id="AddonsSubMenuBtn7Label" type="string"></setting>
    <setting id="GamesSubMenuBtn1Label" type="string"></setting>
    <setting id="GamesSubMenuBtn2Label" type="string"></setting>
    <setting id="GamesSubMenuBtn3Label" type="string"></setting>
    <setting id="GamesSubMenuBtn4Label" type="string"></setting>
    <setting id="GamesSubMenuBtn5Label" type="string"></setting>
    <setting id="GamesSubMenuBtn6Label" type="string"></setting>
    <setting id="GamesSubMenuBtn7Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn1Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn2Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn3Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn4Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn5Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn6Label" type="string"></setting>
    <setting id="PicturesSubMenuBtn7Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn1Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn2Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn3Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn4Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn5Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn6Label" type="string"></setting>
    <setting id="WeatherSubMenuBtn7Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn1Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn2Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn3Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn4Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn5Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn6Label" type="string"></setting>
    <setting id="GeneralSubMenuBtn7Label" type="string"></setting>
    <setting id="SystemSubMenuBtn1Label" type="string"></setting>
    <setting id="SystemSubMenuBtn2Label" type="string"></setting>
    <setting id="SystemSubMenuBtn3Label" type="string"></setting>
    <setting id="SystemSubMenuBtn4Label" type="string"></setting>
    <setting id="SystemSubMenuBtn5Label" type="string"></setting>
    <setting id="SystemSubMenuBtn6Label" type="string"></setting>
    <setting id="SystemSubMenuBtn7Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom1SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom2SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom3SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom4SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom5SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom6SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom7SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom8SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom9SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom10SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom11SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom12SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom13SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom14SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom15SubMenuBtn7Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn1Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn2Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn3Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn4Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn5Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn6Label" type="string"></setting>
    <setting id="Custom16SubMenuBtn7Label" type="string"></setting>
    <setting id="skinhelper.randomfanartdelay" type="string"></setting>
    <setting id="generalcategoryaction" type="string"></setting>
    <setting id="addonscategoryaction" type="string"></setting>
    <setting id="customaddonsbgpath" type="string"></setting>
    <setting id="addoninfocontenttoggle" type="string"></setting>
</settings>
