<settings>
    <setting id="ace_host" value="127.0.0.1" />
    <setting id="ace_keep_encripted" value="false" />
    <setting id="ace_port" value="62062" />
    <setting id="android_app_id" value="org.xbmc.xbmc" />
    <setting id="base_bitsnoop" value="http://bitsnoop.com" />
    <setting id="base_btdigg" value="http://btdigg.org" />
    <setting id="base_extratorrent" value="http://extratorrent.cc" />
    <setting id="base_eztv" value="http://eztv.it" />
    <setting id="base_kickass" value="http://kickass.to" />
    <setting id="base_nyaa" value="http://www.nyaa.se" />
    <setting id="base_rutor" value="http://rutor.org" />
    <setting id="base_tpb" value="http://thepiratebay.se" />
    <setting id="base_yify" value="http://yts.re" />
    <setting id="bitsnoop_enabled" value="true" />
    <setting id="btdigg_enabled" value="true" />
    <setting id="dlpath" value="" />
    <setting id="encryption" value="1" />
    <setting id="extratorrent_ebabled" value="true" />
    <setting id="eztv_enabled" value="true" />
    <setting id="firstrun" value="true" />
    <setting id="force_ace" value="false" />
    <setting id="ga_disable" value="false" />
    <setting id="immunicity" value="false" />
    <setting id="keep_files" value="false" />
    <setting id="kickass_enabled" value="true" />
    <setting id="lostfilm_enabled" value="true" />
    <setting id="lostfilm_login" value="" />
    <setting id="lostfilm_passw" value="" />
    <setting id="magnet_boost" value="true" />
    <setting id="max_download_rate" value="" />
    <setting id="nyaa_enabled" value="true" />
    <setting id="porn" value="true" />
    <setting id="rutor_enabled" value="true" />
    <setting id="rutor_usesearch" value="false" />
    <setting id="rutracker_enabled" value="true" />
    <setting id="rutracker_login" value="" />
    <setting id="rutracker_passw" value="" />
    <setting id="rutracker_usesearch" value="false" />
    <setting id="t3d_enabled" value="true" />
    <setting id="t3d_login" value="" />
    <setting id="t3d_passw" value="" />
    <setting id="tpb_enabled" value="true" />
    <setting id="yify_enabled" value="true" />
</settings>
