########################################################
# DragonStreams 
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=[COLOR=FF00FF00]Stream 1[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
url=http://dl.dropbox.com/s/t59oqowsk94xtgj/Stream1.xml
########################################################
title=[COLOR=FF00FF00]Stream 2[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream2.jpg
url=http://dl.dropbox.com/s/oq46hek3uuo1h36/Stream2.xml
########################################################
title=[COLOR=FF00FF00]Stream 3[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream3.jpg
url=http://dl.dropbox.com/s/9nfxawmfhmc50st/Stream3.xml
########################################################
title=[COLOR=FF00FF00]Stream 4[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream4.jpg
url=http://dl.dropbox.com/s/m7asego45w5w2pi/Stream4.xml
########################################################
title=[COLOR=FF00FF00]Stream 5[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream5.jpg
url=http://dl.dropbox.com/s/28r5xy48pgyp9xh/Stream5.xml
########################################################
title=[COLOR=FF00FF00]Stream 6[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream6.jpg
url=http://dl.dropbox.com/s/3vkshtehfbl2gdz/Stream6.xml
########################################################
title=[COLOR=FF00FF00]Stream 7[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream7.jpg
url=http://dl.dropbox.com/s/7ifk5njytnlykco/Stream7.xml
########################################################
title=[COLOR=FF00FF00]Stream 8[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream8.jpg
url=http://dl.dropbox.com/s/6frkt6wnks4u1fm/Stream8.xml
########################################################
title=[COLOR=FF00FF00]Stream 9[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream9.jpg
url=http://dl.dropbox.com/s/4nn9eh6zff1grf7/Stream9.xml
########################################################
title=[COLOR=FF00FF00]Stream 10[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream10.jpg
url=http://dl.dropbox.com/s/xtfbyyx7fguz8zs/Stream10.xml
########################################################
title=[COLOR=FF00FF00]Stream 11[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream11.jpg
url=http://dl.dropbox.com/s/wyrijcvbsqukkm1/Stream11.xml
########################################################
title=[COLOR=FF00FF00]Stream 12[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream12.jpg
url=http://dl.dropbox.com/s/49x0rxaeo6e8uay/Stream12.xml
########################################################
title=[COLOR=FF00FF00]Stream 13[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream13.jpg
url=http://dl.dropbox.com/s/h488vqqu7wbxeb7/Stream13.xml
########################################################
title=[COLOR=FF00FF00]Stream 14[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream14.jpg
url=http://dl.dropbox.com/s/1egn7hy3rl8wxgg/Stream14.xml
########################################################
title=[COLOR=FF00FF00]Stream 15[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream15.jpg
url=http://dl.dropbox.com/s/rnsn5fhyvq900i6/Stream15.xml
########################################################
title=[COLOR=FF00FF00]Stream 16[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream16.jpg
url=http://dl.dropbox.com/s/lnz0wqarllvzisv/Stream16.xml
########################################################
title=[COLOR=FF00FF00]Stream 17[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream17.jpg
url=http://dl.dropbox.com/s/ftxr8ct0o230v2a/Stream17.xml
########################################################
title=[COLOR=FF00FF00]Stream 18[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream18.jpg
url=http://dl.dropbox.com/s/jlot9gvha91e7hu/Stream18.xml
########################################################
title=[COLOR=FF00FF00]Stream 19[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream19.jpg
url=http://dl.dropbox.com/s/8imiy0ie5lfh2b6/Stream19.xml
########################################################
title=[COLOR=FF00FF00]Stream 20[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream20.jpg
url=http://dl.dropbox.com/s/e6vwsn82w3jq9t6/Stream20.xml
########################################################
title=[COLOR=FF00FF00]Stream 21[/COLOR]
cfg=dragonstreams.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream21.jpg
url=http://dl.dropbox.com/s/6dv9i3zdvhr6qhq/Stream21.xml
########################################################



@ENDIF@
@ENDIF@

@IF(@PARAM1@==Streams)@
skill=videoTitle

item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=dragonstreams.cfg@Streams

item_info_name=type
item_info_build=video

item_url_build=%s
           

@ENDIF@  
