########################################################
# http://tvtoast.com
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=Artists
cfg=Various/Tunes.cfg@Channels
url=http://dl.dropbox.com/s/8khlcebuwxaq6qs/MainMenu.xml
########################################################



@ENDIF@
@ENDIF@

@IF(@PARAM1@==Channels)@
####################################################

skill=videoTitle

item_infos=<artist>(.+?)</artist><image>(.+?)</image><fanart>(.+?)</fanart><url>https://www.dropbox.com/s/(.+?)?dl=0</url>
item_order=title|icon|fanart|url
item_skill=rss

item_info_name=cfg
item_info_build=Various/Tunes.cfg@Streams

item_url_build=http://dl.dropbox.com/s/%s

@ENDIF@  

@IF(@PARAM1@==Streams)@
catcher=streams
item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss


item_info_name=type
item_info_build=video

item_url_build=%s

@ENDIF@
           

