<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Configure">
		<setting id="autoclean" type="bool" label="Enable Auto Clean" default="true"/>
		<setting id="clearcache" type="bool" label="Clear Cache On Startup" default="true"/>
		<setting id="clearpackages" type="bool" label="Clear Packages On Startup" default="true"/>
   	</category>  	
</settings>































































































































































































