<settings version="2">
    <setting id="apiv2.clientid">YUKXoArFcqrlQn9tfNHvvyfnDISj04zk</setting>
    <setting id="apiv2.locale" default="true">0</setting>
    <setting id="audio.format">2</setting>
    <setting id="search.history.size" default="true">10</setting>
    <setting id="search.items.size" default="true">20</setting>
</settings>
