<settings>
    <setting id="autoplay" value="false" />
    <setting id="autoplay_host_sel_dialog" value="true" />
    <setting id="autoplay_skip_interval" value="300" />
    <setting id="metadata_movies" value="true" />
    <setting id="movies_123Movies_source_enabled" value="true" />
    <setting id="movies_9Movies_source_enabled" value="true" />
    <setting id="movies_BeinMovie_source_enabled" value="true" />
    <setting id="movies_CARTOONEXTRA_source_enabled" value="false" />
    <setting id="movies_Cartoon HD_source_enabled" value="false" />
    <setting id="movies_EasyNews_source_enabled" value="false" />
    <setting id="movies_Film-Streaming_source_enabled" value="true" />
    <setting id="movies_FlixBreak_source_enabled" value="true" />
    <setting id="movies_Furk.Net_source_enabled" value="false" />
    <setting id="movies_HDMovie_source_enabled" value="true" />
    <setting id="movies_IMDb_indexer_enabled" value="true" />
    <setting id="movies_IceFilms_indexer_enabled" value="false" />
    <setting id="movies_IceFilms_source_enabled" value="true" />
    <setting id="movies_MailRu_source_enabled" value="true" />
    <setting id="movies_MovieStorm_source_enabled" value="true" />
    <setting id="movies_MovieTube_source_enabled" value="true" />
    <setting id="movies_Moviefarsi_source_enabled" value="true" />
    <setting id="movies_MoviesHD_source_enabled" value="true" />
    <setting id="movies_MuchMovies_source_enabled" value="true" />
    <setting id="movies_Niter.tv_source_enabled" value="true" />
    <setting id="movies_Online Movies_source_enabled" value="true" />
    <setting id="movies_PlayBoxHD_source_enabled" value="true" />
    <setting id="movies_Plex_source_enabled" value="false" />
    <setting id="movies_PrimeWire_indexer_enabled" value="false" />
    <setting id="movies_PrimeWire_source_enabled" value="true" />
    <setting id="movies_Showbox_source_enabled" value="true" />
    <setting id="movies_Streamlord_source_enabled" value="true" />
    <setting id="movies_XMovies8_source_enabled" value="true" />
    <setting id="movies_Yify_source_enabled" value="true" />
    <setting id="movies_afdah_source_enabled" value="true" />
    <setting id="movies_g2g_indexer_enabled" value="false" />
    <setting id="movies_g2g_source_enabled" value="true" />
    <setting id="movies_iStream_source_enabled" value="false" />
    <setting id="movies_izlemeyedeger_source_enabled" value="true" />
    <setting id="movies_movie.to_source_enabled" value="true" />
    <setting id="movies_movie25_indexer_enabled" value="false" />
    <setting id="movies_movie25_source_enabled" value="true" />
    <setting id="movies_movie4u_source_enabled" value="true" />
    <setting id="movies_myvideolinks_source_enabled" value="true" />
    <setting id="movies_oneclickmoviez_source_enabled" value="true" />
    <setting id="movies_oneclickwatch_source_enabled" value="true" />
    <setting id="movies_putlocker.is_source_enabled" value="true" />
    <setting id="movies_superchillin_indexer_enabled" value="false" />
    <setting id="movies_superchillin_source_enabled" value="false" />
    <setting id="movies_tmdb_indexer_enabled" value="false" />
    <setting id="movies_trakt_indexer_enabled" value="false" />
    <setting id="movies_vidic.ch_source_enabled" value="true" />
    <setting id="movies_watchmoviespro_source_enabled" value="true" />
    <setting id="sort" value="true" />
    <setting id="sort_hosts_1" value="GOOGLEVIDEO.COM,CARTOONHD,MOVREEL,ICEFILMS,PRIMEWIRE,SIMPLYMOVIES.NET,MUCHMOVIES.ORG,MOVIESTORM.EU,YIFY.TV" />
    <setting id="sort_hosts_2" value="LEMUPLOADS.COM,PUTLOCKER.COM,SOCKSHARE.COM,PLAYED.TO" />
    <setting id="sort_hosts_3" value="PROMPTFILE.COM,MIGHTYUPLOAD.COM,GORILLAVID.IN,VIDHOG.COM" />
    <setting id="sort_hosts_4" value="NOWVIDEO.CH,NOWVIDEO.SX,NOWVIDEO.EU" />
    <setting id="sort_hosts_5" value="SHARESIX.COM,ZALAA.COM,FILENUKE.COM" />
    <setting id="sort_quality" value="3D,1080P,720P,HD,DVD,SD,NA,TS,CAM" />
</settings>
