<settings>
    <setting id="improve" value="false" />
    <setting id="kasutajanimi" value="" />
    <setting id="lehekylg" value="http://dupdates.tk" />
    <setting id="pordinumber" value="8000" />
    <setting id="salasona" value="" />
    <setting id="uuendused" value="false" />
    <setting id="vanemakood" value="1234" />
    <setting id="vanemalukk" value="false" />
</settings>
