<settings>
    <setting id="advanced_mode_1" value="false" />
    <setting id="advanced_mode_2" value="false" />
    <setting id="advanced_mode_3" value="false" />
    <setting id="advanced_mode_4" value="false" />
    <setting id="advanced_mode_7" value="false" />
    <setting id="agent_refresh_time" value="" />
    <setting id="alluc_api_language" value="en" />
    <setting id="alluc_url" value="https://www.alluc.com/api/search/" />
    <setting id="autoplay_attempts" value="3" />
    <setting id="custom_color_bitrate" value="purple" />
    <setting id="custom_color_disabled" value="blue" />
    <setting id="custom_color_enabled" value="yellow" />
    <setting id="custom_color_extension" value="green" />
    <setting id="custom_color_filesize" value="blue" />
    <setting id="custom_color_hostname" value="red" />
    <setting id="custom_color_nextpage" value="green" />
    <setting id="custom_color_previouspage" value="orange" />
    <setting id="custom_color_quality" value="yellow" />
    <setting id="custom_color_service" value="white" />
    <setting id="custom_color_sync" value="green" />
    <setting id="custom_color_watchlist" value="red" />
    <setting id="custom_result_sorting" value="0" />
    <setting id="database_mysql_host" value="" />
    <setting id="database_mysql_init" value="false" />
    <setting id="database_mysql_init.cache" value="false" />
    <setting id="database_mysql_name" value="alluc" />
    <setting id="database_mysql_pass" value="" />
    <setting id="database_mysql_port" value="3306" />
    <setting id="database_mysql_user" value="" />
    <setting id="database_mysql_version" value="1" />
    <setting id="database_mysql_version.cache" value="1" />
    <setting id="database_sqlite_file" value="special://userdata/addon_data/plugin.video.alluc.api/alluc.api.db" />
    <setting id="database_sqlite_init" value="false" />
    <setting id="database_sqlite_init.cache" value="false" />
    <setting id="database_sqlite_version" value="1" />
    <setting id="database_sqlite_version.cache" value="1" />
    <setting id="database_type" value="0" />
    <setting id="default_episode_view" value="515" />
    <setting id="default_folder_view" value="500" />
    <setting id="default_list_view" value="50" />
    <setting id="default_movie_view" value="515" />
    <setting id="default_season_view" value="50" />
    <setting id="default_tvshow_view" value="515" />
    <setting id="enable_autoplay" value="false" />
    <setting id="enable_default_views" value="true" />
    <setting id="enable_result_caching" value="true" />
    <setting id="enable_result_sorting" value="true" />
    <setting id="enable_transmogrifier" value="false" />
    <setting id="hide_watched_episodes" value="false" />
    <setting id="last_setup_notify" value="false" />
    <setting id="log_level" value="1" />
    <setting id="max_results" value="100" />
    <setting id="setup_run" value="false" />
    <setting id="smtp-address" value="" />
    <setting id="smtp-login" value="" />
    <setting id="smtp-notify" value="false" />
    <setting id="smtp-passwd" value="" />
    <setting id="smtp-server" value="" />
    <setting id="smtp-ssl" value="false" />
    <setting id="tmdb_key" value="" />
    <setting id="trakt_account" value="" />
    <setting id="trakt_authorized" value="false" />
    <setting id="trakt_client_id" value="7fe0eea41783130c7c3c3c0a99153740e19964bcd84cc488ef0691881e2c5da9" />
    <setting id="trakt_oauth_token" value="" />
    <setting id="trakt_pin_url" value="http://trakt.tv/pin/4428" />
    <setting id="trakt_refresh_token" value="" />
    <setting id="trakt_secret" value="d0858eff6524270fc1e5dfb6e32583b22aa1111cf5d097214b54f74cc207cce0" />
    <setting id="use_custom_colors" value="false" />
    <setting id="version" value="" />
</settings>
