<settings>
    <setting id="Additional Random Time" value="0" />
    <setting id="Automatic Blend Time" value="0" />
    <setting id="Average Time Between Hard Cuts" value="0" />
    <setting id="Enable Hard Cuts" value="false" />
    <setting id="Enable Stereo 3d" value="false" />
    <setting id="Loudness Threshold For Hard Cuts" value="0" />
    <setting id="Maximum Refresh Rate" value="6" />
    <setting id="Preset Pack" value="0" />
    <setting id="Preset Shuffle Mode" value="true" />
    <setting id="Time Between Presets" value="0" />
    <setting id="User Preset Folder" value="" />
    <setting id="lastlockedstatus" value="false" />
    <setting id="lastpresetfolder" value="zip://C%3A%2FProgram Files (x86)%2FKodi%2Faddons%2Fvisualization.milkdrop%2Fpresets%2FWA51-presets(265).zip/" />
    <setting id="lastpresetidx" value="161" />
</settings>
