<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30010">
    <setting id="newznab_name_1" type="text" label="30015" default="My Newznab Site" />
    <setting type="sep" />
    <setting id="newznab_siteapi_1" type="text" label="30016" default="api.mynzb.site without http://" />
    <setting id="newznab_siterss_1" type="text" label="30017" default="rss.mynzb.site without http://" />
    <setting id="newznab_https_1" type="bool" label="30018" default="true" />
    <setting id="newznab_id_1" type="number" label="30019" default="site dependent" />
    <setting id="newznab_key_1" type="text" label="30010" default=""/>
    <setting id="newznab_hide_cat_1" type="text" label="30021" default="6030|6020"/>
  </category>
  <category label="30011">
    <setting id="newznab_name_2" type="text" label="30015" default="My Newznab Site" />
    <setting type="sep" />
    <setting id="newznab_siteapi_2" type="text" label="30016" default="api.mynzb.site without http://" />
    <setting id="newznab_siterss_2" type="text" label="30017" default="rss.mynzb.site without http://" />
    <setting id="newznab_https_2" type="bool" label="30018" default="true" />
    <setting id="newznab_id_2" type="number" label="30019" default="" />
    <setting id="newznab_key_2" type="text" label="30010" default=""/>
    <setting id="newznab_hide_cat_2" type="text" label="30021" default="6030|6020"/>
  </category>
  <category label="30012">
    <setting id="newznab_name_3" type="text" label="30015" default="My Newznab Site" />
    <setting type="sep" />
    <setting id="newznab_siteapi_3" type="text" label="30016" default="api.mynzb.site without http://" />
    <setting id="newznab_siterss_3" type="text" label="30017" default="rss.mynzb.site without http://" />
    <setting id="newznab_https_3" type="bool" label="30018" default="true" />
    <setting id="newznab_id_3" type="number" label="30019" default="" />
    <setting id="newznab_key_3" type="text" label="30010" default=""/>
    <setting id="newznab_hide_cat_3" type="text" label="30021" default="6030|6020"/>
  </category>
  <category label="30013">
    <setting id="newznab_name_4" type="text" label="30015" default="My Newznab Site" />
    <setting type="sep" />
    <setting id="newznab_siteapi_4" type="text" label="30016" default="api.mynzb.site without http://" />
    <setting id="newznab_siterss_4" type="text" label="30017" default="rss.mynzb.site without http://" />
    <setting id="newznab_https_4" type="bool" label="30018" default="true" />
    <setting id="newznab_id_4" type="number" label="30019" default="" />
    <setting id="newznab_key_4" type="text" label="30010" default=""/>
    <setting id="newznab_hide_cat_4" type="text" label="30021" default="6030|6020"/>
  </category>
  <category label="30014">
    <setting id="newznab_name_5" type="text" label="30015" default="My Newznab Site" />
    <setting type="sep" />
    <setting id="newznab_siteapi_5" type="text" label="30016" default="api.mynzb.site without http://" />
    <setting id="newznab_siterss_5" type="text" label="30017" default="rss.mynzb.site without http://" />
    <setting id="newznab_https_5" type="bool" label="30018" default="true" />
    <setting id="newznab_id_5" type="number" label="30019" default="" />
    <setting id="newznab_key_5" type="text" label="30010" default=""/>
    <setting id="newznab_hide_cat_5" type="text" label="30021" default="6030|6020"/>
  </category>
  <category label="30040">
    <setting id="cache_time" type="labelenum" label="30041" values="5|10|20|30|40|50|60" default="60"/>
  </category>
</settings>
