<settings>
    <setting id="alldebrid.pass" value="" />
    <setting id="alldebrid.user" value="" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Exodus" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay" value="false" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="calendar.widget" value="0" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="2" />
    <setting id="hosts.quality" value="2" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="0" />
    <setting id="lists.widget" value="1" />
    <setting id="menu.classic" value="true" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesplanet.pass" value="" />
    <setting id="moviesplanet.user" value="" />
    <setting id="open_smu_settings" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="player.info" value="false" />
    <setting id="premiumize.pin" value="" />
    <setting id="premiumize.user" value="" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.123movieshd" value="true" />
    <setting id="provider.1kino" value="true" />
    <setting id="provider.1movies" value="true" />
    <setting id="provider.afdah" value="true" />
    <setting id="provider.alltube" value="true" />
    <setting id="provider.animebase" value="true" />
    <setting id="provider.animeloads" value="true" />
    <setting id="provider.animeultima" value="true" />
    <setting id="provider.bmoviez" value="true" />
    <setting id="provider.bobby" value="true" />
    <setting id="provider.bs" value="true" />
    <setting id="provider.cdahd" value="true" />
    <setting id="provider.cine" value="true" />
    <setting id="provider.cinemay" value="true" />
    <setting id="provider.cinenator" value="true" />
    <setting id="provider.crazy" value="true" />
    <setting id="provider.dailyrls" value="true" />
    <setting id="provider.dayt" value="true" />
    <setting id="provider.ddl" value="true" />
    <setting id="provider.ddls" value="true" />
    <setting id="provider.ddlvalley" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.dizibox" value="true" />
    <setting id="provider.dizigold" value="true" />
    <setting id="provider.dizilab" value="true" />
    <setting id="provider.dltube" value="true" />
    <setting id="provider.dpstreaming" value="true" />
    <setting id="provider.drama4u" value="true" />
    <setting id="provider.dramabus" value="true" />
    <setting id="provider.dramacool" value="true" />
    <setting id="provider.dramafire" value="true" />
    <setting id="provider.einthusan" value="true" />
    <setting id="provider.filister" value="true" />
    <setting id="provider.filmenstreaminghd" value="true" />
    <setting id="provider.filmpalast" value="true" />
    <setting id="provider.filmyto" value="true" />
    <setting id="provider.foxx" value="true" />
    <setting id="provider.fullmoviz" value="true" />
    <setting id="provider.fullstream" value="true" />
    <setting id="provider.genvideo" value="true" />
    <setting id="provider.gogoanime" value="true" />
    <setting id="provider.hdfilme" value="true" />
    <setting id="provider.hevcfilm" value="true" />
    <setting id="provider.hevcmovies" value="true" />
    <setting id="provider.iheartdrama" value="true" />
    <setting id="provider.ikshow" value="true" />
    <setting id="provider.iload" value="true" />
    <setting id="provider.kdramacool" value="true" />
    <setting id="provider.kingmovies" value="true" />
    <setting id="provider.kinodogs" value="true" />
    <setting id="provider.kinox" value="true" />
    <setting id="provider.library" value="true" />
    <setting id="provider.meinkino" value="true" />
    <setting id="provider.mfree" value="true" />
    <setting id="provider.miradetodo" value="true" />
    <setting id="provider.movie25" value="true" />
    <setting id="provider.movie4k" value="true" />
    <setting id="provider.moviefree" value="true" />
    <setting id="provider.moviegross" value="true" />
    <setting id="provider.movies14" value="true" />
    <setting id="provider.moviesever" value="true" />
    <setting id="provider.movieshd" value="true" />
    <setting id="provider.moviesplanet" value="true" />
    <setting id="provider.moviestorm" value="true" />
    <setting id="provider.moviexk" value="true" />
    <setting id="provider.myasiantv" value="true" />
    <setting id="provider.myddl" value="true" />
    <setting id="provider.myvideolink" value="true" />
    <setting id="provider.netzkino" value="true" />
    <setting id="provider.newlinks" value="true" />
    <setting id="provider.ninemovies" value="true" />
    <setting id="provider.onemovies" value="true" />
    <setting id="provider.onlinedizi" value="true" />
    <setting id="provider.onlinemovies" value="true" />
    <setting id="provider.onseries" value="true" />
    <setting id="provider.openmovies" value="true" />
    <setting id="provider.ororo" value="true" />
    <setting id="provider.pelispedia" value="true" />
    <setting id="provider.pftv" value="true" />
    <setting id="provider.phdmovies" value="true" />
    <setting id="provider.plocker" value="true" />
    <setting id="provider.pmovies" value="true" />
    <setting id="provider.primewire" value="true" />
    <setting id="provider.projectfree" value="true" />
    <setting id="provider.pubfilm" value="true" />
    <setting id="provider.pureanime" value="true" />
    <setting id="provider.putlocker" value="true" />
    <setting id="provider.rainierland" value="true" />
    <setting id="provider.releasebb" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.rlsmovies" value="true" />
    <setting id="provider.scenedown" value="true" />
    <setting id="provider.sceper" value="true" />
    <setting id="provider.scnrls" value="true" />
    <setting id="provider.serienstream" value="true" />
    <setting id="provider.seriesever" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.sezonlukdizi" value="true" />
    <setting id="provider.skstream" value="true" />
    <setting id="provider.solarmovie" value="true" />
    <setting id="provider.streamay" value="true" />
    <setting id="provider.streamdream" value="true" />
    <setting id="provider.streamingseries" value="true" />
    <setting id="provider.streamit" value="true" />
    <setting id="provider.streamkiste" value="true" />
    <setting id="provider.streamlord" value="true" />
    <setting id="provider.szukajkatv" value="true" />
    <setting id="provider.tata" value="true" />
    <setting id="provider.tinydl" value="true" />
    <setting id="provider.torba" value="true" />
    <setting id="provider.tunemovie" value="true" />
    <setting id="provider.tvbmoviez" value="true" />
    <setting id="provider.twoddl" value="true" />
    <setting id="provider.usmovies" value="true" />
    <setting id="provider.usseries" value="true" />
    <setting id="provider.video4k" value="true" />
    <setting id="provider.watch1080" value="true" />
    <setting id="provider.watch32" value="true" />
    <setting id="provider.watch5s" value="true" />
    <setting id="provider.watchfree" value="true" />
    <setting id="provider.watchhd" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.wrzcraft" value="true" />
    <setting id="provider.xmovies" value="true" />
    <setting id="provider.ymovies" value="true" />
    <setting id="providers.lang" value="English" />
    <setting id="realdebrid.auth" value="" />
    <setting id="realdebrid.id" value="" />
    <setting id="realdebrid.refresh" value="" />
    <setting id="realdebrid.secret" value="" />
    <setting id="realdebrid.token" value="" />
    <setting id="rpnet.api" value="" />
    <setting id="rpnet.user" value="" />
    <setting id="scrapers.timeout.1" value="30" />
    <setting id="seriesever.pass" value="" />
    <setting id="seriesever.user" value="" />
    <setting id="streamlord.pass" value="" />
    <setting id="streamlord.user" value="" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tm.user" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
</settings>
