<settings>
	<category label="General">
	<setting id="enable_playback_service" type="bool" label="Enable Playback Service" default="true"/>
	<!-- 
	<setting id="force_pvr_sync" type="bool" label="Force PVR Trakt Sync" default="false" visible="false"/>
	<setting id="mythtv_host" type="text" label="Mythtv Host" default="" enable="!eq(-1,false)" subsetting="true" visible="false"/>
	 -->
	</category>
	<category label="Metadata">
		<setting type="lsep" label="Fanart"/>
		<setting type="lsep" label="Fanart Client Settings"/>
		<setting default="localhost" id="fanart_server" type="text" label="Fanart Server Client Address" />
		<setting label="Port" type="slider" id="fanart_port" default="8630" range="8000,1,8999" option="int"/>
		<setting default="false" id="enable_people" label="Include Cast and Crew Fanart (Slower)" type="bool" />
		<setting type="lsep" label="Specify conneciton port and interface 0.0.0.0/127.0.0.1"/>
		<setting id="enable_fanart_proxy" default="true" type="bool" label="Enable Fanart Server"/>
		<setting label="Port" type="slider" id="control_port" default="8630" range="8000,1,8999" option="int"/>
		<setting id="network_bind" type="labelenum" label="Network" values="All Subnets|Localhost" default="Localhost" />
		<setting default="E2BAAA3720B6A361" id="tvdb_api_key" type="text" label="TVDB Key"/>
		<setting default="9a9e43b65d5edebe05dffc00ada01cea" id="tmdb_api_key" type="text" label="TMDB Key"/>
		<setting default="b6feac333bd451648dba3dd0dcd9b10a" id="fanarttv_api_key" type="text" label="Fanart.tv Key"/>
	
	</category>
	<category label="Scrapers Settings">
		<setting label="Settings for alluc_api" type="lsep" />
		<setting default="false" id="overide_scraper_alluc_api" label="Override alluc_api" type="bool" />
		<setting default="alluc.ee" id="name_scraper_alluc_api" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://www.alluc.ee" id="base_url_scraper_alluc_api" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_alluc_api" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for dizilab" type="lsep" />
		<setting default="false" id="overide_scraper_dizilab" label="Override dizilab" type="bool" />
		<setting default="dizilab.com" id="name_scraper_dizilab" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://dizilab.com" id="base_url_scraper_dizilab" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_dizilab" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for extratorrent" type="lsep" />
		<setting default="false" id="overide_scraper_extratorrent" label="Override extratorrent" type="bool" />
		<setting default="extratorrent.cc" id="name_scraper_extratorrent" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://extratorrent.cc" id="base_url_scraper_extratorrent" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_extratorrent" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for eztv" type="lsep" />
		<setting default="false" id="overide_scraper_eztv" label="Override eztv" type="bool" />
		<setting default="eztv.ag" id="name_scraper_eztv" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://eztv.ag" id="base_url_scraper_eztv" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_eztv" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for furk" type="lsep" />
		<setting default="false" id="overide_scraper_furk" label="Override furk" type="bool" />
		<setting default="furk.net" id="name_scraper_furk" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://www.furk.net/api" id="base_url_scraper_furk" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_furk" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for icefilms" type="lsep" />
		<setting default="false" id="overide_scraper_icefilms" label="Override icefilms" type="bool" />
		<setting default="icefilms.info" id="name_scraper_icefilms" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://www.icefilms.info" id="base_url_scraper_icefilms" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_icefilms" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for losmovies" type="lsep" />
		<setting default="false" id="overide_scraper_losmovies" label="Override losmovies" type="bool" />
		<setting default="losmovies.is" id="name_scraper_losmovies" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://losmovies.ws" id="base_url_scraper_losmovies" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_losmovies" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
	
		<setting label="Settings for primewire" type="lsep" />
		<setting default="false" id="overide_scraper_primewire" label="Override primewire" type="bool" />
		<setting default="primewire" id="name_scraper_primewire" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://primewire.ag" id="base_url_scraper_primewire" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_primewire" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for projectfreetv" type="lsep" />
		<setting default="false" id="overide_scraper_projectfreetv" label="Override projectfreetv" type="bool" />
		<setting default="projectfreetv.so" id="name_scraper_projectfreetv" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://projectfreetv.so" id="base_url_scraper_projectfreetv" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_projectfreetv" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for putlocker" type="lsep" />
		<setting default="false" id="overide_scraper_putlocker" label="Override putlocker" type="bool" />
		<setting default="putlocker.is" id="name_scraper_putlocker" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://putlocker.is" id="base_url_scraper_putlocker" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_putlocker" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for releasebb" type="lsep" />
		<setting default="false" id="overide_scraper_releasebb" label="Override releasebb" type="bool" />
		<setting default="releasebb" id="name_scraper_releasebb" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://rlsbb.com" id="base_url_scraper_releasebb" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_releasebb" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for solarmovie" type="lsep" />
		<setting default="false" id="overide_scraper_solarmovie" label="Override solarmovie" type="bool" />
		<setting default="solarmovie.is" id="name_scraper_solarmovie" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://www.solarmovie.is" id="base_url_scraper_solarmovie" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_solarmovie" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for torrentapi" type="lsep" />
		<setting default="false" id="overide_scraper_torrentapi" label="Override torrentapi" type="bool" />
		<setting default="torrentapi.org" id="name_scraper_torrentapi" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://torrentapi.org" id="base_url_scraper_torrentapi" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_torrentapi" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for torrentdownloads" type="lsep" />
		<setting default="false" id="overide_scraper_torrentdownloads" label="Override torrentdownloads" type="bool" />
		<setting default="torrentdownloads.me" id="name_scraper_torrentdownloads" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://torrentdownloads.me" id="base_url_scraper_torrentdownloads" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_torrentdownloads" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for tpb" type="lsep" />
		<setting default="false" id="overide_scraper_tbp" label="Override tpb" type="bool" />
		<setting default="thepiratebay.org" id="name_scraper_tpb" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://thepiratebay.org" id="base_url_scraper_tpb" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_tpb" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for tvonline" type="lsep" />
		<setting default="false" id="overide_scraper_tvonline" label="Override tvonline" type="bool" />
		<setting default="tvonline.tw" id="name_scraper_tvonline" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://tvonline.tw" id="base_url_scraper_tvonline" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_tvonline" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for vidics" type="lsep" />
		<setting default="false" id="overide_scraper_vidics" label="Override vidics" type="bool" />
		<setting default="vidics.ch" id="name_scraper_vidics" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://www.vidics.ch" id="base_url_scraper_vidics" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_vidics" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for vumoo" type="lsep" />
		<setting default="false" id="overide_scraper_vumoo" label="Override vumoo" type="bool" />
		<setting default="vumoo.ch" id="name_scraper_vumoo" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://vumoo.ch" id="base_url_scraper_vumoo" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_vumoo" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />
		
		<setting label="Settings for watchepisode" type="lsep" />
		<setting default="false" id="overide_scraper_watchepisode" label="Override watchepisode" type="bool" />
		<setting default="watchepisode.tv" id="name_scraper_watchepisode" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="http://www.watchepisode.tv" id="base_url_scraper_watchepisode" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_watchepisode" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />

		<setting label="Settings for yts" type="lsep" />
		<setting default="false" id="overide_scraper_yts" label="Override yts" type="bool" />
		<setting default="yts.ag" id="name_scraper_yts" label="Name" subsetting="true" type="text" visible="eq(-1,true)" />
		<setting default="https://yts.ag" id="base_url_scraper_yts" label="Base URL" subsetting="true" type="text" visible="eq(-2,true)" />
		<setting default="3" id="timeout_scraper_yts" label="Timeout (seconds)" option="float" range="1,10" subsetting="true" type="slider" visible="eq(-3,true)" />

		</category>
	<category label="Database">
		<setting id="database_type" type="enum" label="Database Type" values="SQLite|MySQL" default="0"/>
		<setting type="lsep" label="SQLite"/>
		<setting id="database_sqlite_file" type="file" label="SQLite File" default="special://userdata/addon_data/script.module.dudehere.routines/trakt.db" enable="eq(-2,0) + !eq(-3,false)" subsetting="true"/>	
		<setting type="lsep" label="MySQL"/>
		<setting id="database_mysql_host" type="text" label="Host" default="" enable="eq(-4,1)" subsetting="true" />
		<setting id="database_mysql_name" type="text" label="MySQL Schema Name" default="metadata" enable="eq(-5,1)" subsetting="true" />
		<setting id="database_mysql_user" type="text" label="MySQL Username" default="" enable="eq(-6,1)" subsetting="true" />
		<setting id="database_mysql_pass" type="text" label="MySQL Password" option="hidden" default="" enable="eq(-7,1)" subsetting="true" />
		<setting id="database_mysql_port" type="number" label="MySQL Port" default="3306" enable="eq(-8,1)" subsetting="true" />
		<setting id="database_sqlite_init" type="text" default="false" visible="false" />
		<setting id="database_mysql_init" type="text" default="false" visible="false" />
		<setting id="database_sqlite_version" type="number" default="1" visible="false" />
		<setting id="database_mysql_version" type="number" default="1" visible="false" />
	</category>
	
	
</settings>