<settings>
	<category label="General">
		<setting type="lsep" label="Adult Section"/>
		<setting id="enable_adult_section" type="bool" label="Enable Adult Section (by enabling, you confirm you are 18+)" default="false" />
		<setting type="lsep" label="Filmon View"/>
		<setting id="filmon_view" type="enum" label="Filmon View" values="Play Channel|Show TV Listings First|Choose" default="0" />
		<!-- <setting type="lsep" label="TVA Log Uploader"/> -->
 		<!-- <setting id="upload_log" label="Upload Log File" type="action" action="RunScript(script.tvaddons.debug.log)" option="close"/> -->
		<!-- <setting type="lsep" label="[CR]If you don't already have it, make sure you install the TVA Log Uploader"/> -->
		<!-- <setting type="lsep" label="[CR]and configure your email address in the settings"/> -->
		<!-- <setting type="lsep" label=""/> -->
	</category>

	<!-- <category label="30101"> -->
		<!-- <setting type="lsep" label="Source"/> -->
		<!-- <setting id="xmltv.type_select" label="30123" type="action" action="RunScript($CWD/resources/guide/guideTypes.py)" visible="false"/> -->
        <!-- <setting id="xmltv.type" type="number" enable="false" visible="false"/> -->
        <!-- <setting id="xmltv.interval" label="30128" type="enum" default="2" lvalues="30129|30130|30131|30132" /> -->
        <!-- <setting id="xmltv.file" label="30103" type="file" visible="eq(-2,6)" /> -->
        <!-- <setting id="xmltv.refresh" label="30149" type="bool" default="false" visible="eq(-3,6)" /> -->
        <!-- <setting id="addons.ini.type" label="30144" type="enum" default="1" lvalues="30143|30142" visible="true" /> -->
        <!-- <setting id="addons.ini.file" label="30145" type="file" visible="eq(-1,1)" /> -->
        <!-- <setting id="addons.ini.file" label="30145" type="file" visible="eq(-1,1)" default='special://home/addons/plugin.video.ccloudtv/resources/ccloudaddons.ini' /> -->
		<!-- <setting id="background.service" label="30400" type="bool" default="false" /> -->
        <!-- <setting id="service.interval" label="30401" type="enum" default="1" lvalues="30402|30403|30404|30405" visible="eq(-1,true)" /> -->
		<!-- <setting type="lsep" label="Appearance"/> -->
		<!-- <setting id="skin" label="30141" type="fileenum" values="resources/skins" mask="/" default="ccloud" visible="false" /> -->
		<!-- <setting id="logos.enabled" label="30117" type="bool" default="true" /> -->
        <!-- <setting id="logos.source" label="30146" type="enum" default="1" lvalues="30143|30147" visible="false" /> -->
        <!-- <setting id="logos.folder" label="30116" type="folder" visible="false" default="special://home/addons/plugin.video.ccloudtv/resources/logos/" /> -->
        <!-- <setting id="autostart" label="30900" type="bool" default="false"  visible="false"/> -->
		<!-- <setting id="enable.osd" label="30118" type="bool" default="false" enable="true" /> -->
		<!-- <setting id="addon.match" label="Channel Matching" type="enum" default="0" values="Exact|Containing|Everything" /> -->
		<!-- <setting id="background.stream" label="30450" type="bool" default="true" visible="false"/> -->
		<!-- <setting label="30119" type="lsep" /> -->
		<!-- <setting id="alternative.playback" label="30120" type="bool" default="false" /> -->
		<!-- <setting label="30121" type="lsep" /> -->
		<!-- <setting type="lsep" label="Notifications"/> -->
		<!-- <setting id="notifications.enabled" label="30106" type="bool" default="true" /> -->
		<!-- <setting label="30108" type="action" action="RunScript($CWD/resources/guide/notification.py)" /> -->
		<!-- <setting type="lsep" label="Reset Database"/> -->
		<!-- <setting type="lsep" label="30137"/> -->
		<!-- <setting type="lsep" label="30138"/> -->
        <!-- <setting label="30139" type="action" action="RunScript($CWD/resources/guide/ResetDatabase.py)" /> -->
    <!-- </category> -->

</settings>