<settings>
    <setting id="homepagemusicinfo" type="bool">false</setting>
    <setting id="showbackgroundvideo" type="bool">false</setting>
    <setting id="stopvideoonback" type="bool">false</setting>
    <setting id="hidebackgroundfanart" type="bool">false</setting>
    <setting id="hidewindowedtrailer" type="bool">false</setting>
    <setting id="homepageweatherinfo" type="bool">false</setting>
    <setting id="randomizebackground" type="bool">false</setting>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="autohidehomepagesubmenu" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">true</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="showbackgroundvis" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="homepagevideoinfo" type="bool">false</setting>
    <setting id="musicfullscreen" type="bool">false</setting>
    <setting id="homemenunomoviebutton" type="bool">false</setting>
    <setting id="homemenunotvshowbutton" type="bool">false</setting>
    <setting id="view508hideinfo" type="bool">false</setting>
    <setting id="show_slideshow_paused" type="bool">false</setting>
    <setting id="alwaysshowmusicinfo" type="bool">false</setting>
    <setting id="hidefilenameflagging" type="bool">false</setting>
    <setting id="activatetvtunes" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">false</setting>
    <setting id="disableartistslideshow" type="bool">false</setting>
    <setting id="hidevisualizationfanart" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="custombackgroundpath" type="string"></setting>
    <setting id="HomeProgramButton2" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="color.tertiary" type="string">FFF1F1F1</setting>
    <setting id="color.primary" type="string">FFFFFFFF</setting>
    <setting id="HomeVideosButton1" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="backgroundswitchdelay" type="string">30</setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="HomeProgramButton1" type="string"></setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="color.alt" type="string">FFFFEB3B</setting>
    <setting id="color.400" type="string">FFE84E40</setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="color.500" type="string">FFE51C23</setting>
    <setting id="color.900" type="string">FF850A04</setting>
    <setting id="color.border" type="string">FFCCCCCC</setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="color.disabled" type="string">AABBBBBB</setting>
    <setting id="color.text" type="string">FF666666</setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="BackgroundSwitchDelay.label" type="string">30 seconds</setting>
    <setting id="CustomBackgroundPath.label" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomeProgramButton6" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
</settings>
