<settings>
	


<category label="Artwork">
<setting id="theme" type="enum" values="SHOWGUN|CLASSIC BLUE" label="Artwork Theme" default="0" />
</category>
<category label="Video Quality">
<setting id="espn-quality" type="select" label="ESPN Video Quality" values="272p30_448k|324p30_948k|360p30_1464k|432p30_2096k|720p30_2896k" default="720p30_2896k"/>
</category>

	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="movies-view" type="number" label="Movie View" default="515" enable="!eq(-1,false)"/>
		<setting id="tvshows-view" type="number" label="TV Show View" default="503" enable="!eq(-2,false)"/>
		<setting id="seasons-view" type="number" label="Seasons View" default="504" enable="!eq(-3,false)"/>	
		<setting id="episodes-view" type="number" label="Episode View" default="504" enable="!eq(-4,false)"/>
		<setting id="default-view" type="number" label="Default View" default="500" enable="!eq(-5,false)"/>
   	</category>

<category label="Downloads">>
<setting id="download_folder" type="folder" label="Downloads Folder" default="" />
</category>

<category label="Custom">>
<setting id="custom_streams" type="text" label="External URL" default="" />
<setting id="custom_name" type="text" label="Name" default="" />
<setting type="sep"/>

<setting id="local_file" type="file"  label="Local Playlist File" value="" />
<setting id="local_custom_name" type="text" label="Name" default="" />
</category>



<category label="Enable / Disable Sections">

<setting id="adult" type="bool" label="Adult Section" default="false"/>

<setting id="resolver" type="bool" label="Resolver Settings" default="false"/>

<setting id="toons" type="bool" label="Cartoons" default="true"/>

<setting id="sports" type="bool" label="Sports" default="true"/>

<setting id="streams" type="bool" label="Live Streams" default="true"/>

<setting id="debug" type="bool" label="Enable Advanced Logging" default="false"/>

<setting id="metadata" type="bool" label="Tv Show Episode MetaData" default="true"/>



</category>
<category label= 'Logfile Upload'>
		<setting label="Click to Upload Log NOW" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.moviedb/resources/modules/logup.py)"/>
		<setting id="email" type="text" label="Email address"/>
		<setting type="lsep" label="[COLOR gold]Please add your email if you want to recieve links to your uploads[/COLOR]"/>

</category>
	

</settings>



