<settings>
    <setting id="HEVC" value="true" />
    <setting id="addon_debug" value="false" />
    <setting id="api.language" value="English" />
    <setting id="appearance.1" value="Exodus" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoTraktOnStart" value="False" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="chillax.password" value="" />
    <setting id="chillax.username" value="" />
    <setting id="crefresh" value="false" />
    <setting id="debrid.only" value="false" />
    <setting id="debug.location" value="0" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="" />
    <setting id="first.info" value="false" />
    <setting id="first.info2" value="false" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="furk.api" value="" />
    <setting id="furk.limit" value="25" />
    <setting id="furk.user_name" value="" />
    <setting id="furk.user_pass" value="" />
    <setting id="gostream.pass" value="" />
    <setting id="gostream.user" value="" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="1" />
    <setting id="hosts.quality" value="0" />
    <setting id="hosts.sort.provider" value="true" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.exodusredux/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.exodusredux/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="0" />
    <setting id="module.provider" value="Openscrapers Scrapers" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="4" />
    <setting id="moviesearch" value="lion king&#x0A;cabin in the&#x0A;captain america&#x0A;son of bigfoot&#x0A;nightmare&#x0A;doom&#x0A;monsters&#x0A;godzilla&#x0A;league&#x0A;peinguins&#x0A;nighmare before christmas&#x0A;finding nemo&#x0A;home&#x0A;dumbo&#x0A;spongebob&#x0A;sponebob&#x0A;dolphin&#x0A;walking with dino&#x0A;gorgosaurus life&#x0A;clay mouse&#x0A;box trolls&#x0A;ratatouille&#x0A;ratatooty&#x0A;ratooty&#x0A;rattooty&#x0A;rat&#x0A;mouse&#x0A;godzilla wars&#x0A;dinosaur&#x0A;" />
    <setting id="moviesplanet.pass" value="" />
    <setting id="moviesplanet.user" value="" />
    <setting id="navi.channels" value="false" />
    <setting id="navi.docu" value="true" />
    <setting id="navi.movieboxoffice" value="true" />
    <setting id="navi.moviecerts" value="true" />
    <setting id="navi.moviefeat" value="true" />
    <setting id="navi.moviegenre" value="true" />
    <setting id="navi.movielanguages" value="true" />
    <setting id="navi.movieoscars" value="true" />
    <setting id="navi.moviepersons" value="true" />
    <setting id="navi.moviepopular" value="true" />
    <setting id="navi.movietheaters" value="true" />
    <setting id="navi.movietrending" value="true" />
    <setting id="navi.movieviews" value="true" />
    <setting id="navi.moviewidget" value="true" />
    <setting id="navi.movieyears" value="true" />
    <setting id="navi.tvActive" value="true" />
    <setting id="navi.tvAdded" value="true" />
    <setting id="navi.tvAiring" value="true" />
    <setting id="navi.tvCalendar" value="true" />
    <setting id="navi.tvCertificates" value="true" />
    <setting id="navi.tvGenres" value="true" />
    <setting id="navi.tvLanguages" value="true" />
    <setting id="navi.tvNetworks" value="true" />
    <setting id="navi.tvPopular" value="true" />
    <setting id="navi.tvPremier" value="true" />
    <setting id="navi.tvRating" value="true" />
    <setting id="navi.tvTrending" value="true" />
    <setting id="navi.tvViews" value="true" />
    <setting id="navi.tvfeat" value="true" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="preemptive.limit" value="10" />
    <setting id="preemptive.termination" value="false" />
    <setting id="prem.identify" value="0" />
    <setting id="prgr.sortorder" value="1" />
    <setting id="progress.dialog" value="0" />
    <setting id="pron.api" value="" />
    <setting id="pron.download" value="false" />
    <setting id="pron.limit" value="10" />
    <setting id="providers.lang" value="English" />
    <setting id="schedTraktTime" value="0" />
    <setting id="scrapers.timeout.1" value="30" />
    <setting id="serienstream.pass" value="" />
    <setting id="serienstream.user" value="" />
    <setting id="seriesever.pass" value="" />
    <setting id="seriesever.user" value="" />
    <setting id="showunaired" value="true" />
    <setting id="sources.extrainfo" value="true" />
    <setting id="streamlord.pass" value="" />
    <setting id="streamlord.user" value="" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tm.user" value="3b3eccd1c6bc0f679223fdbd7cf0d06d" />
    <setting id="torrent.enabled" value="true" />
    <setting id="torrent.identify" value="8" />
    <setting id="torrent.min.seeders" value="10" />
    <setting id="torrent.sort.them.up" value="false" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.specials" value="true" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="tvdb.user" value="" />
    <setting id="tvsearch" value="bigfoot&#x0A;mountain monsters&#x0A;unexplored&#x0A;helltown&#x0A;this is us&#x0A;wentworth&#x0A;seinfeld&#x0A;game of thrones&#x0A;big bang theory&#x0A;dinosaurs&#x0A;monster&#x0A;walking with beasts&#x0A;walking with dinosaurs&#x0A;" />
    <setting id="unaired.identify" value="1" />
</settings>
