<settings>
    <category label="General">
        <setting label="Use livestreamer" type="bool" id="livestreamer" default="true"/>
        <setting label="Use inputstream.adaptive HLS" type="bool" id="inputstream" default="false"/>
        <setting label="Cache time (Hours)" type="slider" id="cache_time" default="8" range="0,80" option="int"/>
    </category>
</settings>
