<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="30000">
<!-- 		<setting label="30001" type="bool" id="general.on.back" default="true"/> -->
		<setting type="lsep" label="30002" />
		<setting label="30012" type="bool" id="context.venom.settings" default="true"/>
		<setting label="30003" type="bool" id="context.venom.traktManager" default="true"/>
		<setting label="30004" type="bool" id="context.venom.clearProviders" default="true"/>
		<setting label="30005" type="bool" id="context.venom.rescrape" default="true"/>
<!-- 		<setting label="30006" type="bool" id="context.venom.playFromHere" default="true"/> -->
		<setting label="30007" type="bool" id="context.venom.autoPlay" default="true"/>
		<setting label="30008" type="bool" id="context.venom.sourceSelect" default="true"/>
		<setting label="30009" type="bool" id="context.venom.findSimilar" default="true"/>
		<setting label="30010" type="bool" id="context.venom.browseSeries" default="true"/>
		<setting label="30011" type="bool" id="context.venom.browseEpisodes" default="true"/>
	</category>
</settings>