<settings>
    <category label="General">
        <setting label="Use livestreamer" type="bool" id="livestreamer" default="true"/>
        <setting label="rtmfp (external player)" type="bool" id="rtmfp" default="false"/>
    </category>
    <setting id="auth_token" value="" />
    <setting id="auth_token_time" value="0" />
</settings>
