<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting id="disable_auto_squeezelite" type="bool" label="32001" default="false" visible="!System.Platform.IOS + !System.Platform.Android"/>
        <setting id="squeezelite_path" type="folder" source="auto" label="32002" default="" visible="!System.Platform.IOS + !System.Platform.Android + !eq(-1,true)"/>
        <setting id="output_device" type="action" action="RunPlugin(plugin://plugin.audio.squeezebox/?action=select_output)" label="32209" visible="!System.Platform.IOS + !System.Platform.Android + !eq(-2,true)"/>
        <setting label="32003" type="lsep" visible="System.Platform.IOS | System.Platform.Android"/>
        <setting label="32004" type="lsep" visible="System.Platform.IOS | System.Platform.Android"/>
        <setting label="32005" type="lsep" visible="System.Platform.Android"/>
        <setting label="32006" type="lsep" visible="System.Platform.IOS"/>
        <setting label="32007" type="lsep" visible="!System.Platform.IOS + !System.Platform.Android"/>
        <setting label="32008" type="lsep" visible="!System.Platform.IOS + !System.Platform.Android"/>
        <setting label="32009" type="lsep" visible="!System.Platform.IOS + !System.Platform.Android"/>
        <setting id="disable_auto_mac" type="bool" label="32010" default="false"/>
        <setting id="manual_mac" type="text" label="32011" default="aa:bb:02:03:04:ff" visible="eq(-1,true)" />
    </category>
    <category label="32100">
        <setting id="disable_auto_lms" type="bool" label="32101" default="false"/>
        <setting id="lms_hostname" label="32102" type="text" visible="eq(-1,true)"/>
        <setting id="lms_port" label="32103" type="number" default="9000" visible="eq(-2,true)"/>
    </category>
</settings>