<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Backup/Restore">
        <setting id="zip" type="folder" label="Choose Backup Storage Location:" default="Click Here"/>
        <setting id="notify" default="1" visible="true"/>
    </category>

    <category label="Addon Installer Sections">
        <setting visible="true" id="addoninstaller" type="bool" label="Addon Installer Section" default="false"/>

        <setting visible="false" id="newest" type="bool" label="Newest Added" default="true"/>
        <setting visible="false" id="updated" type="bool" label="Recently Updated" default="true"/>
        <setting visible="false" id="toprepositories" type="bool" label="Top Developers Section" default="true"/>
        <setting visible="true" id="skincat" type="bool" label="Skins" default="true"/>
        <setting visible="true" id="featured" type="bool" label="Featured Section" default="true"/>
        <!--<setting visible="true" id="livetv" type="bool" label="Live TV Section" default="true"/>-->
        <!--<setting visible="true" id="sports" type="bool" label="Sports Section" default="true"/>-->
        <!--<setting visible="true" id="playlist" type="bool" label="Playlists Section" default="true"/>-->
        <setting visible="true" id="video" type="bool" label="Video Section" default="true"/>
        <setting visible="true" id="audio" type="bool" label="Audio Section" default="true"/>
        <setting visible="true" id="program" type="bool" label="Programs Section" default="true"/>
        <setting visible="false" id="repositories" type="bool" label="Repositories Section" default="false"/>
        <setting visible="true" id="world" type="bool" label="International Section" default="true"/>
        <setting visible="true" id="adult" type="bool" label="Adult Section" default="false"/>
        <setting visible="true" id="github_key" type="text" label="GitHub Personal API Key" default=""/>
        <setting visible="false" id="wizardran" type="bool" label="Wizard Ran" default="false"/>
        <setting visible="false" id="scriptblock" type="bool" label="Script Blocker" default="true"/>
    </category>

    <category label="Maintenance Options">
        <setting visible="false" id="automain" type="bool" label="Test Setting" default="false"/>
        <setting type="lsep" label="Checks Cache Size, Packages Size, etc"/>
        <setting id="maint_check_folders" type="bool" label="Enable Folder Size Monitoring For Maintenance Section?"
                 default="true"/>
    </category>

    <category label="Auto Clean Options">
        <setting type="lsep" label="Launch Time Options.  Based on Clean Up and Size Options Below"/>
        <setting id="acstartup" type="bool" label="Clear Kodi on Every Launch" default="false"/>

        <setting id="clearday" type="enum" values="Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|Disabled"
                 label="Weekly Clean Out Day" default="7"/>
        <setting type="lsep" label="Clean Up Options"/>
        <setting id="accache" type="bool" label="Clear Cache" default="false"/>
        <!--<setting visible="false" id="acdb" type="bool" label="[COLOR=red]      Clear Databases:[/COLOR][COLOR=blue] May include favorites and user account data[/COLOR]" default="false"/>-->
        <setting id="acthumbs" type="bool" label="Clear Thumbnails" default="false"/>
        <setting id="acpackages" type="bool" label="Purge Packages" default="false"/>
        <setting id="accrash" type="bool" label="Clear Crash Logs" default="false"/>
        <setting type="lsep" label="Clean Up At Certain MB Size Options"/>
        <setting id="cachemb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Cache At (MB)"
                 default="0"/>
        <setting id="thumbsmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Thumbnails At (MB)"
                 default="0"/>
        <setting id="packagesmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Packages At (MB)"
                 default="0"/>
        <setting id="automb" type="bool" label="Auto Size: [COLOR=blue] Based on Available Drive Space[/COLOR]" default="False"/>
        <setting visible="false" id="tt_togglesetting" type="bool" label="Test Setting" default="false"/>
    </category>

    <category label="Notifications">
        <setting type="bool" default="false" id="notifications-on-startup" label="Unsubscribe"/>
        <setting visible="false" id="hasran" type="bool" label="HasRan" default="false"/>
        <setting visible="false" id="sevicehasran" type="bool" label="ServiceHasRan" default="false"/>
        <setting visible="false" id="set_rtmp" type="bool" label="Set_RTMP" default="false"/>
    </category>

    <category label="Auto-View">
        <setting id="auto-view" type="bool" label="[COLOR blue]Enable Autoview[/COLOR]" default="true"/>
    </category>

    <category label="NoCoin">
        <setting type="lsep" label="Directory To Scan"/>
        <setting id="scan_default_dir" type="bool" label="Kodi Home Directory" default="true" visible="true"/>
        <setting id="default_dir" type="text" label="Kodi Home Directory" visible="false"
                 default="xbmc.translatePath('special://home/')"/>
        <setting id="scan_warning" type="bool" default="false" visible="true"
                 label="[COLOR=red][B]CAUTION:[/B] Scanning directory paths outside of the Kodi Home Directoy may
          cause false positives and can extend scan times. Use with caution[/COLOR]"/>
        <setting id="scan_dir0" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="eq(-1,true)"/>
        <setting id="scan_dir1" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-2,true)"/>
        <setting id="scan_dir2" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-3,true)"/>
        <setting id="scan_dir3" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-4,true)"/>
        <setting id="scan_dir4" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-5,true)"/>
        <setting id="scan_dir5" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-6,true)"/>
        <setting id="scan_dir6" type="text" label="[COLOR=red]User Defined[/COLOR]" default="" visible="!eq(-1,) + eq(-7,true)"/>

        <setting type="lsep" label="Definition Location"/>
        <setting id="default_url_t" type="bool" label="Default NoCoin Definitions" default="true" visible="true"/>
        <!--<setting id="default_url" type="text" label="Default Location" visible="eq(-1,true)"-->
        <setting id="default_url" type="text" label="Default Location" visible="false"
                 default="https://raw.githubusercontent.com/keraf/NoCoin/master/src/blacklist.txt"/>
        <setting id="user_url0" type="text" label="User Defined" default="" visible="true"/>
        <setting id="user_url1" type="text" label="User Defined" default="" visible="!eq(-1,)"/>
        <setting id="user_url2" type="text" label="User Defined" default="" visible="!eq(-1,)"/>
        <setting id="user_url3" type="text" label="User Defined" default="" visible="!eq(-1,)"/>
        <setting id="user_url4" type="text" label="User Defined" default="" visible="!eq(-1,)"/>
        <setting id="user_url5" type="text" label="User Defined" default="" visible="!eq(-1,)"/>
    </category>

</settings>



