<settings>
    <setting id="auto-view" value="false" />
    <setting id="default-view" value="50" />
    <setting id="download_path" value="" />
    <setting id="downloads" value="false" />
    <setting id="easy-view" value="50" />
    <setting id="easy_account" value="false" />
    <setting id="easy_pass" value="" />
    <setting id="easy_user" value="" />
    <setting id="episodes-view" value="503" />
    <setting id="fanart" value="false" />
    <setting id="ga_time" value="2000-01-01 00:00:00" />
    <setting id="glacodec" value="" />
    <setting id="glfileext" value="1" />
    <setting id="glfilename" value="" />
    <setting id="glfilesize" value="0" />
    <setting id="glgrex" value="false" />
    <setting id="gllangex" value="" />
    <setting id="glmaxfilesize" value="0" />
    <setting id="glnewsgroup" value="" />
    <setting id="glposter" value="" />
    <setting id="glrem" value="true" />
    <setting id="glreso" value="0" />
    <setting id="glresults" value="1000" />
    <setting id="glspam" value="true" />
    <setting id="glsubject" value="" />
    <setting id="glvcodec" value="" />
    <setting id="imdb" value="false" />
    <setting id="imdb_user" value="ur********" />
    <setting id="macodec" value="" />
    <setting id="message" value="false" />
    <setting id="mfileext" value="2" />
    <setting id="mfilename" value="" />
    <setting id="mfilesize" value="0" />
    <setting id="mgrex" value="false" />
    <setting id="mlangex" value="" />
    <setting id="mmaxfilesize" value="0" />
    <setting id="mnewsgroup" value="" />
    <setting id="movienoclick" value="false" />
    <setting id="movies-view" value="50" />
    <setting id="mposter" value="" />
    <setting id="mrem" value="true" />
    <setting id="mreso" value="0" />
    <setting id="mresults" value="1000" />
    <setting id="mspam" value="true" />
    <setting id="msubject" value="" />
    <setting id="mufanart" value="false" />
    <setting id="music-view" value="50" />
    <setting id="mvcodec" value="" />
    <setting id="pop_time" value="2000-01-01 00:00:00" />
    <setting id="searchnoclick" value="false" />
    <setting id="seasons-view" value="50" />
    <setting id="ssl" value="false" />
    <setting id="trakt" value="false" />
    <setting id="trakt_user" value="" />
    <setting id="tvacodec" value="" />
    <setting id="tvfileext" value="1" />
    <setting id="tvfilename" value="" />
    <setting id="tvfilesize" value="0" />
    <setting id="tvgrex" value="false" />
    <setting id="tvlangex" value="" />
    <setting id="tvmaxfilesize" value="0" />
    <setting id="tvnewsgroup" value="" />
    <setting id="tvnoclick" value="false" />
    <setting id="tvposter" value="" />
    <setting id="tvrem" value="true" />
    <setting id="tvreso" value="0" />
    <setting id="tvresults" value="1000" />
    <setting id="tvshows-view" value="503" />
    <setting id="tvspam" value="true" />
    <setting id="tvsubject" value="" />
    <setting id="tvvcodec" value="" />
    <setting id="visitor_ga" value="1935474809" />
</settings>
