<settings>
    <setting id="7icon" value="false" />
    <setting id="_allitemsonbottom" value="DISABLED" />
    <setting id="_backgroundupdate" value="DISABLED" />
    <setting id="_defaultplayer" value="DISABLED" />
    <setting id="_excludefromlisting" value="DISABLED" />
    <setting id="_excludefromscan" value="DISABLED" />
    <setting id="_hideallitems" value="DISABLED" />
    <setting id="_host" value="DISABLED" />
    <setting id="_itemseparator" value="DISABLED" />
    <setting id="_name" value="DISABLED" />
    <setting id="_pass" value="DISABLED" />
    <setting id="_playcountminimumpercent" value="DISABLED" />
    <setting id="_port" value="DISABLED" />
    <setting id="_prioritiseapetags" value="DISABLED" />
    <setting id="_recentlyaddeditems" value="DISABLED" />
    <setting id="_type" value="DISABLED" />
    <setting id="_user" value="DISABLED" />
    <setting id="ac3downmixgain" value="DISABLED" />
    <setting id="activetagcheckinterval" value="DISABLED" />
    <setting id="airplayport" value="DISABLED" />
    <setting id="airtunesport" value="DISABLED" />
    <setting id="albumformat" value="DISABLED" />
    <setting id="albumssortbyartistthenyear" value="DISABLED" />
    <setting id="allitemsonbottom" value="DISABLED" />
    <setting id="allowd3d9ex" value="DISABLED" />
    <setting id="allowmpeg4vaapi" value="DISABLED" />
    <setting id="allowmpeg4vdpau" value="DISABLED" />
    <setting id="allowtranscode44100" value="DISABLED" />
    <setting id="alwaysontop" value="DISABLED" />
    <setting id="alwaysreplacegenre" value="DISABLED" />
    <setting id="applydrc" value="DISABLED" />
    <setting id="audiochannelselection" value="DISABLED" />
    <setting id="audiodelayrange" value="DISABLED" />
    <setting id="audiophile" value="DISABLED" />
    <setting id="audiosinkbufferdurationmsec" value="DISABLED" />
    <setting id="autoassignstartfrom" value="DISABLED" />
    <setting id="automastermode" value="DISABLED" />
    <setting id="autoscalemaxfps" value="DISABLED" />
    <setting id="autoscaniconsuserset" value="DISABLED" />
    <setting id="backgroundupdate" value="DISABLED" />
    <setting id="backup_path" value="" />
    <setting id="blackbarcolour" value="DISABLED" />
    <setting id="buffermode" value="DISABLED" />
    <setting id="cacheindvdplayer" value="DISABLED" />
    <setting id="cachemembuffersize" value="DISABLED" />
    <setting id="cddbaddress" value="DISABLED" />
    <setting id="channeliconsautoscan" value="DISABLED" />
    <setting id="checkdxvacompatibility" value="DISABLED" />
    <setting id="cleanonupdate" value="DISABLED" />
    <setting id="clienttimeout" value="DISABLED" />
    <setting id="commbreakautowait" value="DISABLED" />
    <setting id="commbreakautowind" value="DISABLED" />
    <setting id="compactoutput" value="DISABLED" />
    <setting id="controllerdeadzone" value="DISABLED" />
    <setting id="cputempcommand" value="DISABLED" />
    <setting id="curlclienttimeout" value="DISABLED" />
    <setting id="curllowspeedtime" value="DISABLED" />
    <setting id="dateadded" value="DISABLED" />
    <setting id="defaultbackground:image" value="DISABLED" />
    <setting id="defaultbackground:none" value="DISABLED" />
    <setting id="defaultbackground:video" value="DISABLED" />
    <setting id="defaultbackground:vis" value="DISABLED" />
    <setting id="defaultplayer" value="DISABLED" />
    <setting id="defaultrootmenu" value="DISABLED" />
    <setting id="defaultsubmenu" value="DISABLED" />
    <setting id="delay-av" value="DISABLED" />
    <setting id="detectasudf" value="DISABLED" />
    <setting id="disablehi10pmultithreading" value="DISABLED" />
    <setting id="discstubextensions$add" value="DISABLED" />
    <setting id="discstubextensions$remove" value="DISABLED" />
    <setting id="displayincrementalupdatepopup" value="DISABLED" />
    <setting id="displayupdatepopup" value="DISABLED" />
    <setting id="doscodepage" value="DISABLED" />
    <setting id="download-wallpaper" value="" />
    <setting id="dvdplayerignoredtsinwav" value="DISABLED" />
    <setting id="enableairtunesdebuglog" value="DISABLED" />
    <setting id="enablehighqualityhwscalers" value="DISABLED" />
    <setting id="enablemultimediakeys" value="DISABLED" />
    <setting id="epgrequesttime" value="DISABLED" />
    <setting id="excludefromlisting" value="DISABLED" />
    <setting id="excludefromscan" value="DISABLED" />
    <setting id="exportautothumbs" value="DISABLED" />
    <setting id="fallback-av" value="DISABLED" />
    <setting id="fallback-bv" value="DISABLED" />
    <setting id="fallback-range-av" value="DISABLED" />
    <setting id="fallback-range-bv" value="DISABLED" />
    <setting id="fanart$add" value="DISABLED" />
    <setting id="fanart$remove" value="DISABLED" />
    <setting id="fanartres" value="DISABLED" />
    <setting id="feed" value="8" />
    <setting id="forceDirectSound" value="DISABLED" />
    <setting id="forced3d9ex" value="DISABLED" />
    <setting id="forcedswaptime" value="DISABLED" />
    <setting id="fpsdetect" value="DISABLED" />
    <setting id="ftpshowcache" value="DISABLED" />
    <setting id="fullscreen" value="DISABLED" />
    <setting id="fullscreenonmoviestart" value="DISABLED" />
    <setting id="glrectanglehack" value="DISABLED" />
    <setting id="gputempcommand" value="DISABLED" />
    <setting id="gui$algorithmdirtyregions" value="DISABLED" />
    <setting id="gui$nofliptimeout" value="DISABLED" />
    <setting id="gui$visualizedirtyregions" value="DISABLED" />
    <setting id="headroom" value="DISABLED" />
    <setting id="hideallitems" value="DISABLED" />
    <setting id="hideemptyseries" value="DISABLED" />
    <setting id="hiderecentlyaddeditems" value="DISABLED" />
    <setting id="host" value="DISABLED" />
    <setting id="httpproxypassword" value="DISABLED" />
    <setting id="httpproxyusername" value="DISABLED" />
    <setting id="ignorepercentatend" value="DISABLED" />
    <setting id="ignoresecondsatstart" value="DISABLED" />
    <setting id="imageres" value="DISABLED" />
    <setting id="importresumepoint" value="DISABLED" />
    <setting id="importwatchedstate" value="DISABLED" />
    <setting id="infotoggleinterval" value="DISABLED" />
    <setting id="itemseparator" value="DISABLED" />
    <setting id="limiterhold" value="DISABLED" />
    <setting id="limiterrelease" value="DISABLED" />
    <setting id="lingercleanupintervaltime" value="DISABLED" />
    <setting id="lingertime" value="DISABLED" />
    <setting id="loginlock" value="DISABLED" />
    <setting id="maxcommbreakgap" value="DISABLED" />
    <setting id="maxcommbreaklength" value="DISABLED" />
    <setting id="maxretries" value="DISABLED" />
    <setting id="maxvideocachelevel" value="DISABLED" />
    <setting id="measurerefreshrate" value="DISABLED" />
    <setting id="mergeshortcommbreaks" value="DISABLED" />
    <setting id="mincommbreaklength" value="DISABLED" />
    <setting id="minvideocachelevel" value="DISABLED" />
    <setting id="moviestacking$regexp" value="DISABLED" />
    <setting id="musicextensions$add" value="DISABLED" />
    <setting id="musicextensions$remove" value="DISABLED" />
    <setting id="musicfilenamefilters" value="DISABLED" />
    <setting id="musicthumbs$add" value="DISABLED" />
    <setting id="musicthumbs$remove" value="DISABLED" />
    <setting id="mymovies$categoriestogenres" value="DISABLED" />
    <setting id="myth$movielength" value="DISABLED" />
    <setting id="name" value="DISABLED" />
    <setting id="nextsongpopuptime" value="DISABLED" />
    <setting id="nocdgbackground" value="DISABLED" />
    <setting id="numericchannelswitchtimeout" value="DISABLED" />
    <setting id="opened" value="6" />
    <setting id="override-av" value="DISABLED" />
    <setting id="override-bv" value="DISABLED" />
    <setting id="override-range-av" value="DISABLED" />
    <setting id="override-range-bv" value="DISABLED" />
    <setting id="packagefoldersize" value="DISABLED" />
    <setting id="pass" value="DISABLED" />
    <setting id="pc_default" value="1" />
    <setting id="pc_enable_pc" value="false" />
    <setting id="pc_enable_pc_settings" value="UNLOCKED" />
    <setting id="pc_pass" value="0000" />
    <setting id="pc_pw_required_at" value="2" />
    <setting id="pc_watershed_pc" value="6" />
    <setting id="percentseekbackward" value="DISABLED" />
    <setting id="percentseekbackwardbig" value="DISABLED" />
    <setting id="percentseekforward" value="DISABLED" />
    <setting id="percentseekforwardbig" value="DISABLED" />
    <setting id="pictureexcludes$regexp" value="DISABLED" />
    <setting id="pictureextensions$add" value="DISABLED" />
    <setting id="pictureextensions$remove" value="DISABLED" />
    <setting id="pictureicon" value="DISABLED" />
    <setting id="playcountminimumpercent" value="DISABLED" />
    <setting id="playlistretries" value="DISABLED" />
    <setting id="playlisttimeout" value="DISABLED" />
    <setting id="port" value="DISABLED" />
    <setting id="ppffmpegdeinterlacing" value="DISABLED" />
    <setting id="ppffmpegpostprocessing" value="DISABLED" />
    <setting id="readbufferfactor" value="DISABLED" />
    <setting id="recentlyaddeditems" value="DISABLED" />
    <setting id="refresh-range-bv" value="DISABLED" />
    <setting id="refresh-rate-av" value="DISABLED" />
    <setting id="remotedelay" value="DISABLED" />
    <setting id="remoterepeat" value="DISABLED" />
    <setting id="resample" value="DISABLED" />
    <setting id="restrictcapsmask" value="DISABLED" />
    <setting id="retryinterruptedupdateinterval" value="DISABLED" />
    <setting id="screensaver$dimlevel" value="DISABLED" />
    <setting id="showexitbutton" value="DISABLED" />
    <setting id="skiploopfilter" value="DISABLED" />
    <setting id="slideshow$blackbarcompensation" value="DISABLED" />
    <setting id="slideshow$panamount" value="DISABLED" />
    <setting id="slideshow$zoomamount" value="DISABLED" />
    <setting id="smallstepbackseconds" value="DISABLED" />
    <setting id="songinfoduration" value="DISABLED" />
    <setting id="sorttokens$token" value="DISABLED" />
    <setting id="startuplock" value="DISABLED" />
    <setting id="statfiles" value="DISABLED" />
    <setting id="stereoscopicregex3d" value="DISABLED" />
    <setting id="stereoscopicregexsbs" value="DISABLED" />
    <setting id="stereoscopicregextab" value="DISABLED" />
    <setting id="storedelay" value="DISABLED" />
    <setting id="streamsilence" value="DISABLED" />
    <setting id="submenuselection" value="DISABLED" />
    <setting id="subsdelayrange" value="DISABLED" />
    <setting id="substitute$from" value="DISABLED" />
    <setting id="substitute$to" value="DISABLED" />
    <setting id="syncdelaycdg" value="DISABLED" />
    <setting id="syncdelaylrc" value="DISABLED" />
    <setting id="tcpport" value="DISABLED" />
    <setting id="timecorrection" value="DISABLED" />
    <setting id="timeseekbackward" value="DISABLED" />
    <setting id="timeseekbackwardbig" value="DISABLED" />
    <setting id="timeseekforward" value="DISABLED" />
    <setting id="timeseekforwardbig" value="DISABLED" />
    <setting id="trailermatching$regexp" value="DISABLED" />
    <setting id="tvmultipartmatching" value="DISABLED" />
    <setting id="tvshowmatching$regexp" value="DISABLED" />
    <setting id="type" value="DISABLED" />
    <setting id="updatecheckinterval" value="DISABLED" />
    <setting id="updateemptytagsinterval" value="DISABLED" />
    <setting id="useavccodec" value="DISABLED" />
    <setting id="useddsfanart" value="DISABLED" />
    <setting id="usemp4codec" value="DISABLED" />
    <setting id="usempeg2codec" value="DISABLED" />
    <setting id="useocclusionquery" value="DISABLED" />
    <setting id="user" value="DISABLED" />
    <setting id="useswrenderer" value="DISABLED" />
    <setting id="usetimeseeking" value="DISABLED" />
    <setting id="usevc1codec" value="DISABLED" />
    <setting id="usevpxcodec" value="DISABLED" />
    <setting id="vdpauscaling" value="DISABLED" />
    <setting id="video$cleandatetime" value="DISABLED" />
    <setting id="video$cleanstrings$regexp" value="DISABLED" />
    <setting id="video$excludetvshowsfromscan$regexp" value="DISABLED" />
    <setting id="videoextensions$add" value="DISABLED" />
    <setting id="videoextensions$remove" value="DISABLED" />
    <setting id="videoscanner$ignoreerrors" value="DISABLED" />
    <setting id="viewtype" value="504" />
    <setting id="virtualshares" value="DISABLED" />
    <setting id="xbmc_path" value="" />
    <setting id="zapwaittime" value="DISABLED" />
</settings>
