<settings>
<category label="Global Proxy">
<setting type="sep"/>
<setting id="global_proxy" type="bool" label="Global Proxy" default="false"/>
<setting id="gp_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="gp_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="gp_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="gp_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="gp_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="gp_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="gp_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="gp_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="gp_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
</category>
<category label="More Proxies">
<setting type="sep"/>
<setting id="lp_1" type="bool" label="Proxy 1" default="false"/>
<setting id="lp_1_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_1_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_1_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_1_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_1_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_1_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_1_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_1_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_1_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_2" type="bool" label="Proxy 2" default="false"/>
<setting id="lp_2_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_2_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_2_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_2_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_2_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_2_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_2_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_2_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_2_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_3" type="bool" label="Proxy 3" default="false"/>
<setting id="lp_3_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_3_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_3_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_3_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_3_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_3_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_3_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_3_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_3_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_4" type="bool" label="Proxy 4" default="false"/>
<setting id="lp_4_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_4_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_4_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_4_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_4_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_4_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_4_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_4_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_4_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_5" type="bool" label="Proxy 5" default="false"/>
<setting id="lp_5_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_5_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_5_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_5_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_5_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_5_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_5_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_5_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_5_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_6" type="bool" label="Proxy 6" default="false"/>
<setting id="lp_6_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_6_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_6_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_6_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_6_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_6_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_6_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_6_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_6_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_7" type="bool" label="Proxy 7" default="false"/>
<setting id="lp_7_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_7_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_7_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_7_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_7_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_7_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_7_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_7_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_7_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
<setting id="lp_8" type="bool" label="Proxy 8" default="false"/>
<setting id="lp_8_connection_type" type="enum" values="Proxy|DNS Proxy" label="     Connection Type" default="0" visible="eq(-1,true)"/>
<setting id="lp_8_ct_p_ip" type="ipaddress" label="     Proxy IP" default="" visible="eq(-2,true) + eq(-1,0)"/>
<setting id="lp_8_ct_p_port" type="number" label="     Port" default="" visible="eq(-3,true) + eq(-2,0)"/>
<setting id="lp_8_ct_p_username" type="text" label="     Username" default="" visible="eq(-4,true) + eq(-3,0)"/>
<setting id="lp_8_ct_p_password" type="text" label="     Password" default="" visible="eq(-5,true) + eq(-4,0)"/>
<setting id="lp_8_ct_dp_ip1" type="ipaddress" label="     Primary DNS" default="" visible="eq(-6,true) + eq(-5,1)"/>
<setting id="lp_8_ct_dp_ip2" type="ipaddress" label="     Secondary DNS" default="" visible="eq(-7,true) + eq(-6,1)"/>
<setting id="lp_8_ct_dp_ip3" type="ipaddress" label="     Tertiary DNS" default="" visible="eq(-8,true) + eq(-7,1)"/>
<setting id="lp_8_ct_p_socks5" type="bool" label="     Socks 5" default="false" visible="eq(-9,true) + eq(-8,0)"/>
<setting type="sep"/>
</category>
<category label="Proxy Assignments">
<setting type="sep"/>
<setting type="sep"/>
</category>
</settings>
