<settings>
    <setting id="accache" value="false" />
    <setting id="accrash" value="false" />
    <setting id="acpackages" value="false" />
    <setting id="acstartup" value="false" />
    <setting id="acthumbs" value="false" />
    <setting id="addoninstaller" value="false" />
    <setting id="adult" value="false" />
    <setting id="audio" value="true" />
    <setting id="auto-view" value="true" />
    <setting id="automain" value="false" />
    <setting id="automb" value="False" />
    <setting id="cachemb" value="0" />
    <setting id="clearday" value="7" />
    <setting id="default_dir" value="xbmc.translatePath(&apos;special://home/&apos;)" />
    <setting id="default_url" value="https://raw.githubusercontent.com/keraf/NoCoin/master/src/blacklist.txt" />
    <setting id="default_url_t" value="true" />
    <setting id="featured" value="true" />
    <setting id="github_key" value="" />
    <setting id="hasran" value="false" />
    <setting id="maint_check_folders" value="true" />
    <setting id="newest" value="true" />
    <setting id="noteImage" value="318" />
    <setting id="noteMessage" value="There&apos;s [B]less than two weeks[/B] left before our [B]VPN&#x0A;provider[/B] of choice raises their rates again...&#x0A;&#x0A;Subscribe today to [B]get locked into $3.49/month[/B]&#x0A;pricing, while [B]supporting our community[/B]!&#x0A;&#x0A;* [B]Bypass[/B] Censorship&#x0A;* Stream TV[B] Worldwide[/B]&#x0A;* Hide Your [B]IP Address[/B]&#x0A;* [B]Location[/B] Spoofing&#x0A;* [B]Torrent[/B]/P2P Safely&#x0A;&#x0A;[B][COLOR yellow]Best VPN for Kodi:[/COLOR][/B] [B][COLOR lime]https://www.tvaddons.co/vpn[/COLOR][/B]" />
    <setting id="noteType" value="t" />
    <setting id="notifications-on-startup" value="false" />
    <setting id="notify" value="1" />
    <setting id="packagesmb" value="0" />
    <setting id="program" value="true" />
    <setting id="repositories" value="false" />
    <setting id="scan_default_dir" value="true" />
    <setting id="scan_dir0" value="" />
    <setting id="scan_dir1" value="" />
    <setting id="scan_dir2" value="" />
    <setting id="scan_dir3" value="" />
    <setting id="scan_dir4" value="" />
    <setting id="scan_dir5" value="" />
    <setting id="scan_dir6" value="" />
    <setting id="scan_warning" value="false" />
    <setting id="scriptblock" value="true" />
    <setting id="set_rtmp" value="true" />
    <setting id="sevicehasran" value="true" />
    <setting id="skincat" value="true" />
    <setting id="thumbsmb" value="0" />
    <setting id="toprepositories" value="true" />
    <setting id="tt_togglesetting" value="false" />
    <setting id="updated" value="true" />
    <setting id="user_url0" value="" />
    <setting id="user_url1" value="" />
    <setting id="user_url2" value="" />
    <setting id="user_url3" value="" />
    <setting id="user_url4" value="" />
    <setting id="user_url5" value="" />
    <setting id="video" value="true" />
    <setting id="wizardran" value="false" />
    <setting id="world" value="true" />
    <setting id="zip" value="Click Here" />
</settings>
