<settings>
    <setting id="viewtype" type="text" label="10000" default="504"/>
    <setting id="compactoutput" type="text" label="10001" default="DISABLED" visible="false"/>
    <setting id="tcpport" type="text" label="10002" default="DISABLED" visible="false"/>
    <setting id="skiploopfilter" type="text" label="10003" default="DISABLED" visible="false"/>
    <setting id="subsdelayrange" type="text" label="10004" default="DISABLED" visible="false"/>
    <setting id="audiodelayrange" type="text" label="10005" default="DISABLED" visible="false"/>
    <setting id="smallstepbackseconds" type="text" label="10006" default="DISABLED" visible="false"/>
    <setting id="usetimeseeking" type="text" label="10007" default="DISABLED" visible="false"/>
    <setting id="timeseekforward" type="text" label="10008" default="DISABLED" visible="false"/>
    <setting id="timeseekbackward" type="text" label="10009" default="DISABLED" visible="false"/>
    <setting id="timeseekforwardbig" type="text" label="10010" default="DISABLED" visible="false"/>
    <setting id="timeseekbackwardbig" type="text" label="10011" default="DISABLED" visible="false"/>
    <setting id="percentseekforward" type="text" label="10012" default="DISABLED" visible="false"/>
    <setting id="percentseekbackward" type="text" label="10013" default="DISABLED" visible="false"/>
    <setting id="percentseekforwardbig" type="text" label="10014" default="DISABLED" visible="false"/>
    <setting id="percentseekbackwardbig" type="text" label="10015" default="DISABLED" visible="false"/>
    <setting id="blackbarcolour" type="text" label="10016" default="DISABLED" visible="false"/>
    <setting id="fullscreenonmoviestart" type="text" label="10017" default="DISABLED" visible="false"/>
    <setting id="defaultplayer" type="text" label="10018" default="DISABLED" visible="false"/>
    <setting id="playcountminimumpercent" type="text" label="10019" default="DISABLED" visible="false"/>
    <setting id="ignoresecondsatstart" type="text" label="10020" default="DISABLED" visible="false"/>
    <setting id="ignorepercentatend" type="text" label="10021" default="DISABLED" visible="false"/>
    <setting id="vdpauscaling" type="text" label="10022" default="DISABLED" visible="false"/>
    <setting id="enablehighqualityhwscalers" type="text" label="10023" default="DISABLED" visible="false"/>
    <setting id="ppffmpegdeinterlacing" type="text" label="10024" default="DISABLED" visible="false"/>
    <setting id="ppffmpegpostprocessing" type="text" label="10025" default="DISABLED" visible="false"/>
    <setting id="allowmpeg4vdpau" type="text" label="10026" default="DISABLED" visible="false"/>
    <setting id="allowmpeg4vaapi" type="text" label="10027" default="DISABLED" visible="false"/>
    <setting id="autoscalemaxfps" type="text" label="10028" default="DISABLED" visible="false"/>
    <setting id="checkdxvacompatibility" type="text" label="10029" default="DISABLED" visible="false"/>
    <setting id="useocclusionquery" type="text" label="10030" default="DISABLED" visible="false"/>
    <setting id="fpsdetect" type="text" label="10031" default="DISABLED" visible="false"/>
    <setting id="stereoscopicregex3d" type="text" label="10032" default="DISABLED" visible="false"/>
    <setting id="stereoscopicregexsbs" type="text" label="10033" default="DISABLED" visible="false"/>
    <setting id="stereoscopicregextab" type="text" label="10034" default="DISABLED" visible="false"/>
    <setting id="disablehi10pmultithreading" type="text" label="10035" default="DISABLED" visible="false"/>
    <setting id="headroom" type="text" label="10035" default="DISABLED" visible="false"/>
    <setting id="_defaultplayer" type="text" label="10036" default="DISABLED" visible="false"/>
    <setting id="ac3downmixgain" type="text" label="10037" default="DISABLED" visible="false"/>
    <setting id="_playcountminimumpercent" type="text" label="10038" default="DISABLED" visible="false"/>
    <setting id="resample" type="text" label="10039" default="DISABLED" visible="false"/>
    <setting id="applydrc" type="text" label="10040" default="DISABLED" visible="false"/>
    <setting id="dvdplayerignoredtsinwav" type="text" label="10041" default="DISABLED" visible="false"/>
    <setting id="limiterhold" type="text" label="10042" default="DISABLED" visible="false"/>
    <setting id="limiterrelease" type="text" label="10043" default="DISABLED" visible="false"/>
    <setting id="forceDirectSound" type="text" label="10044" default="DISABLED" visible="false"/>
    <setting id="audiophile" type="text" label="10045" default="DISABLED" visible="false"/>
    <setting id="audiosinkbufferdurationmsec" type="text" label="10046" default="DISABLED" visible="false"/>
    <setting id="allowtranscode44100" type="text" label="10047" default="DISABLED" visible="false"/>
    <setting id="streamsilence" type="text" label="10048" default="DISABLED" visible="false"/>
    <setting id="excludefromscan" type="text" label="10049" default="DISABLED" visible="false"/>
    <setting id="excludefromlisting" type="text" label="10050" default="DISABLED" visible="false"/>
    <setting id="override-av" type="text" label="10051" default="DISABLED" visible="false"/>
    <setting id="override-bv" type="text" label="10052" default="DISABLED" visible="false"/>
    <setting id="override-range-av" type="text" label="10053" default="DISABLED" visible="false"/>
    <setting id="override-range-bv" type="text" label="10054" default="DISABLED" visible="false"/>
    <setting id="fallback-av" type="text" label="10055" default="DISABLED" visible="false"/>
    <setting id="fallback-bv" type="text" label="10056" default="DISABLED" visible="false"/>
    <setting id="fallback-range-av" type="text" label="10057" default="DISABLED" visible="false"/>
    <setting id="fallback-range-bv" type="text" label="10058" default="DISABLED" visible="false"/>
    <setting id="delay-av" type="text" label="10059" default="DISABLED" visible="false"/>
    <setting id="refresh-range-bv" type="text" label="10060" default="DISABLED" visible="false"/>
    <setting id="refresh-rate-av" type="text" label="10061" default="DISABLED" visible="false"/>
    <setting id="useavccodec" type="text" label="10062" default="DISABLED" visible="false"/>
    <setting id="usevc1codec" type="text" label="10063" default="DISABLED" visible="false"/>
    <setting id="usevpxcodec" type="text" label="10064" default="DISABLED" visible="false"/>
    <setting id="usemp4codec" type="text" label="10065" default="DISABLED" visible="false"/>
    <setting id="usempeg2codec" type="text" label="10066" default="DISABLED" visible="false"/>
    <setting id="useswrenderer" type="text" label="10067" default="DISABLED" visible="false"/>
    <setting id="doscodepage" type="text" label="10068" default="DISABLED" visible="false"/>
    <setting id="clienttimeout" type="text" label="10069" default="DISABLED" visible="false"/>
    <setting id="statfiles" type="text" label="10070" default="DISABLED" visible="false"/>
    <setting id="curlclienttimeout" type="text" label="10071" default="DISABLED" visible="false"/>
    <setting id="curllowspeedtime" type="text" label="10072" default="DISABLED" visible="false"/>
    <setting id="httpproxyusername" type="text" label="10073" default="DISABLED" visible="false"/>
    <setting id="httpproxypassword" type="text" label="10074" default="DISABLED" visible="false"/>
    <setting id="cachemembuffersize" type="text" label="10075" default="DISABLED" visible="false"/>
    <setting id="buffermode" type="text" label="10076" default="DISABLED" visible="false"/>
    <setting id="readbufferfactor" type="text" label="10077" default="DISABLED" visible="false"/>
    <setting id="_excludefromscan" type="text" label="10078" default="DISABLED" visible="false"/>
    <setting id="_excludefromlisting" type="text" label="10079" default="DISABLED" visible="false"/>
    <setting id="measurerefreshrate" type="text" label="10080" default="DISABLED" visible="false"/>
    <setting id="mergeshortcommbreaks" type="text" label="10081" default="DISABLED" visible="false"/>
    <setting id="maxcommbreaklength" type="text" label="10082" default="DISABLED" visible="false"/>
    <setting id="mincommbreaklength" type="text" label="10083" default="DISABLED" visible="false"/>
    <setting id="maxcommbreakgap" type="text" label="10084" default="DISABLED" visible="false"/>
    <setting id="commbreakautowait" type="text" label="10085" default="DISABLED" visible="false"/>
    <setting id="commbreakautowind" type="text" label="10086" default="DISABLED" visible="false"/>
    <setting id="timecorrection" type="text" label="10087" default="DISABLED" visible="false"/>
    <setting id="infotoggleinterval" type="text" label="10088" default="DISABLED" visible="false"/>
    <setting id="minvideocachelevel" type="text" label="10089" default="DISABLED" visible="false"/>
    <setting id="maxvideocachelevel" type="text" label="10090" default="DISABLED" visible="false"/>
    <setting id="cacheindvdplayer" type="text" label="10091" default="DISABLED" visible="false"/>
    <setting id="channeliconsautoscan" type="text" label="10092" default="DISABLED" visible="false"/>
    <setting id="autoscaniconsuserset" type="text" label="10093" default="DISABLED" visible="false"/>
    <setting id="numericchannelswitchtimeout" type="text" label="10094" default="DISABLED" visible="false"/>
    <setting id="lingertime" type="text" label="10095" default="DISABLED" visible="false"/>
    <setting id="updatecheckinterval" type="text" label="10096" default="DISABLED" visible="false"/>
    <setting id="lingercleanupintervaltime" type="text" label="10097" default="DISABLED" visible="false"/>
    <setting id="activetagcheckinterval" type="text" label="10098" default="DISABLED" visible="false"/>
    <setting id="retryinterruptedupdateinterval" type="text" label="10099" default="DISABLED" visible="false"/>
    <setting id="updateemptytagsinterval" type="text" label="10100" default="DISABLED" visible="false"/>
    <setting id="displayupdatepopup" type="text" label="10101" default="DISABLED" visible="false"/>
    <setting id="displayincrementalupdatepopup" type="text" label="10102" default="DISABLED" visible="false"/>
    <setting id="forcedswaptime" type="text" label="10103" default="DISABLED" visible="false"/>
    <setting id="allitemsonbottom" type="text" label="10104" default="DISABLED" visible="false"/>
    <setting id="backgroundupdate" type="text" label="10105" default="DISABLED" visible="false"/>
    <setting id="cleanonupdate" type="text" label="10106" default="DISABLED" visible="false"/>
    <setting id="hideallitems" type="text" label="10107" default="DISABLED" visible="false"/>
    <setting id="hideemptyseries" type="text" label="10108" default="DISABLED" visible="false"/>
    <setting id="hiderecentlyaddeditems" type="text" label="10109" default="DISABLED" visible="false"/>
    <setting id="recentlyaddeditems" type="text" label="10110" default="DISABLED" visible="false"/>
    <setting id="itemseparator" type="text" label="10111" default="DISABLED" visible="false"/>
    <setting id="exportautothumbs" type="text" label="10112" default="DISABLED" visible="false"/>
    <setting id="importwatchedstate" type="text" label="10113" default="DISABLED" visible="false"/>
    <setting id="importresumepoint" type="text" label="10114" default="DISABLED" visible="false"/>
    <setting id="mymovies$categoriestogenres" type="text" label="10115" default="DISABLED" visible="false"/>
    <setting id="dateadded" type="text" label="10116" default="DISABLED" visible="false"/>
    <setting id="videoextensions$add" type="text" label="10117" default="DISABLED" visible="false"/>
    <setting id="videoextensions$remove" type="text" label="10118" default="DISABLED" visible="false"/>
    <setting id="discstubextensions$add" type="text" label="10119" default="DISABLED" visible="false"/>
    <setting id="discstubextensions$remove" type="text" label="10120" default="DISABLED" visible="false"/>
    <setting id="sorttokens$token" type="text" label="10121" default="DISABLED" visible="false"/>
    <setting id="moviestacking$regexp" type="text" label="10122" default="DISABLED" visible="false"/>
    <setting id="video$cleandatetime" type="text" label="10123" default="DISABLED" visible="false"/>
    <setting id="video$cleanstrings$regexp" type="text" label="10124" default="DISABLED" visible="false"/>
    <setting id="tvshowmatching$regexp" type="text" label="10125" default="DISABLED" visible="false"/>
    <setting id="tvmultipartmatching" type="text" label="10126" default="DISABLED" visible="false"/>
    <setting id="video$excludetvshowsfromscan$regexp" type="text" label="10127" default="DISABLED" visible="false"/>
    <setting id="trailermatching$regexp" type="text" label="10128" default="DISABLED" visible="false"/>
    <setting id="videoscanner$ignoreerrors" type="text" label="10129" default="DISABLED" visible="false"/>
    <setting id="myth$movielength" type="text" label="10130" default="DISABLED" visible="false"/>
    <setting id="imageres" type="text" label="10131" default="DISABLED" visible="false"/>
    <setting id="fanartres" type="text" label="10132" default="DISABLED" visible="false"/>
    <setting id="fanart$add" type="text" label="10133" default="DISABLED" visible="false"/>
    <setting id="fanart$remove" type="text" label="10134" default="DISABLED" visible="false"/>
    <setting id="musicthumbs$add" type="text" label="10135" default="DISABLED" visible="false"/>
    <setting id="musicthumbs$remove" type="text" label="10136" default="DISABLED" visible="false"/>
    <setting id="useddsfanart" type="text" label="10137" default="DISABLED" visible="false"/>
    <setting id="playlistretries" type="text" label="10138" default="DISABLED" visible="false"/>
    <setting id="playlisttimeout" type="text" label="10139" default="DISABLED" visible="false"/>
    <setting id="type" type="text" label="10140" default="DISABLED" visible="false"/>
    <setting id="host" type="text" label="10141" default="DISABLED" visible="false"/>
    <setting id="port" type="text" label="10142" default="DISABLED" visible="false"/>
    <setting id="name" type="text" label="10143" default="DISABLED" visible="false"/>
    <setting id="user" type="text" label="10144" default="DISABLED" visible="false"/>
    <setting id="pass" type="text" label="10145" default="DISABLED" visible="false"/>
    <setting id="_type" type="text" label="10146" default="DISABLED" visible="false"/>
    <setting id="_host" type="text" label="10147" default="DISABLED" visible="false"/>
    <setting id="_port" type="text" label="10148" default="DISABLED" visible="false"/>
    <setting id="_name" type="text" label="10149" default="DISABLED" visible="false"/>
    <setting id="_user" type="text" label="10150" default="DISABLED" visible="false"/>
    <setting id="_pass" type="text" label="10151" default="DISABLED" visible="false"/>
    <setting id="musicextensions$add" type="text" label="10152" default="DISABLED" visible="false"/>
    <setting id="musicextensions$remove" type="text" label="10153" default="DISABLED" visible="false"/>
    <setting id="cddbaddress" type="text" label="10154" default="DISABLED" visible="false"/>
    <setting id="songinfoduration" type="text" label="10155" default="DISABLED" visible="false"/>
    <setting id="musicfilenamefilters" type="text" label="10156" default="DISABLED" visible="false"/>
    <setting id="_hideallitems" type="text" label="10157" default="DISABLED" visible="false"/>
    <setting id="_allitemsonbottom" type="text" label="10158" default="DISABLED" visible="false"/>
    <setting id="_backgroundupdate" type="text" label="10159" default="DISABLED" visible="false"/>
    <setting id="_recentlyaddeditems" type="text" label="10160" default="DISABLED" visible="false"/>
    <setting id="albumssortbyartistthenyear" type="text" label="10161" default="DISABLED" visible="false"/>
    <setting id="albumformat" type="text" label="10162" default="DISABLED" visible="false"/>
    <setting id="_prioritiseapetags" type="text" label="10163" default="DISABLED" visible="false"/>
    <setting id="_itemseparator" type="text" label="10164" default="DISABLED" visible="false"/>
    <setting id="syncdelaycdg" type="text" label="10165" default="DISABLED" visible="false"/>
    <setting id="syncdelaylrc" type="text" label="10166" default="DISABLED" visible="false"/>
    <setting id="alwaysreplacegenre" type="text" label="10167" default="DISABLED" visible="false"/>
    <setting id="storedelay" type="text" label="10168" default="DISABLED" visible="false"/>
    <setting id="autoassignstartfrom" type="text" label="10169" default="DISABLED" visible="false"/>
    <setting id="nocdgbackground" type="text" label="10170" default="DISABLED" visible="false"/>
    <setting id="defaultbackground:none" type="text" label="10171" default="DISABLED" visible="false"/>
    <setting id="defaultbackground:vis" type="text" label="10172" default="DISABLED" visible="false"/>
    <setting id="defaultbackground:image" type="text" label="10173" default="DISABLED" visible="false"/>
    <setting id="defaultbackground:video" type="text" label="10174" default="DISABLED" visible="false"/>
    <setting id="nextsongpopuptime" type="text" label="10175" default="DISABLED" visible="false"/>
    <setting id="pictureextensions$add" type="text" label="10176" default="DISABLED" visible="false"/>
    <setting id="pictureextensions$remove" type="text" label="10177" default="DISABLED" visible="false"/>
    <setting id="pictureexcludes$regexp" type="text" label="10178" default="DISABLED" visible="false"/>
    <setting id="slideshow$panamount" type="text" label="10179" default="DISABLED" visible="false"/>
    <setting id="slideshow$zoomamount" type="text" label="10180" default="DISABLED" visible="false"/>
    <setting id="slideshow$blackbarcompensation" type="text" label="10181" default="DISABLED" visible="false"/>
    <setting id="audiochannelselection" type="text" label="10182" default="DISABLED" visible="false"/>
    <setting id="submenuselection" type="text" label="10183" default="DISABLED" visible="false"/>
    <setting id="defaultrootmenu" type="text" label="10184" default="DISABLED" visible="false"/>
    <setting id="defaultsubmenu" type="text" label="10185" default="DISABLED" visible="false"/>
    <setting id="pictureicon" type="text" label="10186" default="DISABLED" visible="false"/>
    <setting id="epgrequesttime" type="text" label="10187" default="DISABLED" visible="false"/>
    <setting id="zapwaittime" type="text" label="10188" default="DISABLED" visible="false"/>
    <setting id="ftpshowcache" type="text" label="10189" default="DISABLED" visible="false"/>
    <setting id="enableairtunesdebuglog" type="text" label="10190" default="DISABLED" visible="false"/>
    <setting id="airtunesport" type="text" label="10191" default="DISABLED" visible="false"/>
    <setting id="airplayport" type="text" label="10192" default="DISABLED" visible="false"/>
    <setting id="packagefoldersize" type="text" label="10193" default="DISABLED" visible="false"/>
    <setting id="detectasudf" type="text" label="10194" default="DISABLED" visible="false"/>
    <setting id="virtualshares" type="text" label="10195" default="DISABLED" visible="false"/>
    <setting id="substitute$from" type="text" label="10196" default="DISABLED" visible="false"/>
    <setting id="substitute$to" type="text" label="10197" default="DISABLED" visible="false"/>
    <setting id="remotedelay" type="text" label="10198" default="DISABLED" visible="false"/>
    <setting id="remoterepeat" type="text" label="10199" default="DISABLED" visible="false"/>
    <setting id="controllerdeadzone" type="text" label="10200" default="DISABLED" visible="false"/>
    <setting id="enablemultimediakeys" type="text" label="10201" default="DISABLED" visible="false"/>
    <setting id="allowd3d9ex" type="text" label="10202" default="DISABLED" visible="false"/>
    <setting id="restrictcapsmask" type="text" label="10203" default="DISABLED" visible="false"/>
    <setting id="forced3d9ex" type="text" label="10204" default="DISABLED" visible="false"/>
    <setting id="gui$algorithmdirtyregions" type="text" label="10205" default="DISABLED" visible="false"/>
    <setting id="gui$visualizedirtyregions" type="text" label="10206" default="DISABLED" visible="false"/>
    <setting id="gui$nofliptimeout" type="text" label="10207" default="DISABLED" visible="false"/>
    <setting id="showexitbutton" type="text" label="10208" default="DISABLED" visible="false"/>
    <setting id="screensaver$dimlevel" type="text" label="10209" default="DISABLED" visible="false"/>
    <setting id="fullscreen" type="text" label="10210" default="DISABLED" visible="false"/>
    <setting id="cputempcommand" type="text" label="10211" default="DISABLED" visible="false"/>
    <setting id="gputempcommand" type="text" label="10212" default="DISABLED" visible="false"/>
    <setting id="glrectanglehack" type="text" label="10213" default="DISABLED" visible="false"/>
    <setting id="alwaysontop" type="text" label="10214" default="DISABLED" visible="false"/>
    <setting id="startuplock" type="text" label="10215" default="DISABLED" visible="false"/>
    <setting id="automastermode" type="text" label="10216" default="DISABLED" visible="false"/>
    <setting id="loginlock" type="text" label="10217" default="DISABLED" visible="false"/>
    <setting id="maxretries" type="text" label="10218" default="DISABLED" visible="false"/>
</settings>