<settings>
    <setting id="CURRLOGO" value="" />
    <setting id="DEBUG" value="false" />
    <setting id="DIXIEURL" value="All Channels" />
    <setting id="FIRSTRUN" value="false" />
    <setting id="INIVERSION" value="0" />
    <setting id="INI_0" value="" />
    <setting id="INI_0_E" value="false" />
    <setting id="INI_1" value="" />
    <setting id="INI_1_E" value="false" />
    <setting id="INI_2" value="" />
    <setting id="INI_2_E" value="false" />
    <setting id="INI_3" value="" />
    <setting id="INI_3_E" value="false" />
    <setting id="INI_4" value="" />
    <setting id="INI_4_E" value="false" />
    <setting id="INI_5" value="" />
    <setting id="INI_5_E" value="false" />
    <setting id="INI_6" value="" />
    <setting id="INI_6_E" value="false" />
    <setting id="INI_7" value="" />
    <setting id="INI_7_E" value="false" />
    <setting id="INI_8" value="" />
    <setting id="INI_8_E" value="false" />
    <setting id="INI_9" value="" />
    <setting id="INI_9_E" value="false" />
    <setting id="LOGIN_IPTV" value="" />
    <setting id="LOGIN_TIME" value="" />
    <setting id="LOGIN_UKTV" value="" />
    <setting id="LOGOVERSION" value="0" />
    <setting id="MINIGUIDE" value="false" />
    <setting id="PREVLOGO" value="None" />
    <setting id="SF_CHANNELS" value="" />
    <setting id="SKINVERSION" value="7" />
    <setting id="VERSION" value="0.0.0" />
    <setting id="adult" value="false" />
    <setting id="alternative.playback" value="false" />
    <setting id="autoStart" value="false" />
    <setting id="autoplay" value="false" />
    <setting id="categories" value="" />
    <setting id="catschk" value="false" />
    <setting id="chan.type" value="0" />
    <setting id="chanchk" value="false" />
    <setting id="confirm.exit" value="false" />
    <setting id="current.channels" value="0" />
    <setting id="dixie.logo.folder" value="Colour Logo Pack" />
    <setting id="dixie.skin" value="FXB-ARBMOD" />
    <setting id="dixie.url" value="All Channels" />
    <setting id="enable.osd" value="true" />
    <setting id="enable.touch" value="false" />
    <setting id="epg.date" value="01-01-01" />
    <setting id="forum" value="None" />
    <setting id="ftv.ini" value="UK Links" />
    <setting id="gmtfrom" value="0" />
    <setting id="gmtprev" value="0" />
    <setting id="idle" value="4" />
    <setting id="ignore.stream" value="true" />
    <setting id="inichk" value="false" />
    <setting id="local.ini" value="true" />
    <setting id="login" value="false" />
    <setting id="logo.type" value="0" />
    <setting id="logochk" value="false" />
    <setting id="messageID" value="0" />
    <setting id="notifications.enabled" value="false" />
    <setting id="offset1" value="0" />
    <setting id="offset2" value="0" />
    <setting id="offset3" value="0" />
    <setting id="offset4" value="0" />
    <setting id="offset5" value="0" />
    <setting id="openfolder" value="false" />
    <setting id="password" value="" />
    <setting id="playlist.type" value="URL" />
    <setting id="playlist.url" value="" />
    <setting id="remotelocation" value="" />
    <setting id="remoteshare" value="false" />
    <setting id="showSFchannels" value="false" />
    <setting id="showcats" value="true" />
    <setting id="skip_oldlog" value="true" />
    <setting id="streamURL" value="" />
    <setting id="testver" value="false" />
    <setting id="trailers.addon" value="HD-Trailers.net" />
    <setting id="updated.channels" value="0" />
    <setting id="usenanxml" value="false" />
    <setting id="username" value="" />
    <setting id="ustv.addon" value="USTV VoD" />
    <setting id="validator" value="0" />
    <setting id="xmlpath1.type" value="None" />
    <setting id="xmlpath1.url" value="" />
    <setting id="xmlpath2.type" value="None" />
    <setting id="xmlpath2.url" value="" />
    <setting id="xmlpath3.type" value="None" />
    <setting id="xmlpath3.url" value="" />
    <setting id="xmlpath4.type" value="None" />
    <setting id="xmlpath4.url" value="" />
    <setting id="xmlpath5.type" value="None" />
    <setting id="xmlpath5.url" value="" />
</settings>
