<settings>
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Rebirth" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="debridsources" value="false" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="2" />
    <setting id="hosts.quality" value="3" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.rebirth/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.rebirth/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="nanscraper" value="" />
    <setting id="open_smu_settings" value="" />
    <setting id="progress.dialog" value="0" />
    <setting id="providers.lang" value="English" />
    <setting id="scrapers.timeout.1" value="30" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tm.user" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
</settings>
