########################################################
# FirstRowSports.ge VideoPortal
########################################################
@IF(@PARAM1@!=Events)@

skill=allowDuplicates

item_infos=<span> &nbsp; [^<]* </span>\s*([^<]+) </a> </h3> <div>
item_order=tv
item_skill=rss


item_info_name=title
item_info_from=tv
item_info_build=%s


item_info_name=cfg
item_info_from=tv
item_info_build=firstrowsports.ge.links.cfg@Events@%s
item_url_build=%s


###################################################################

item_infos=<span class="matchtime">([^<]+)</span> </span>\s*([^<]+)</a> </h3>
item_order=timeTmp|match
item_skill=rss


item_info_name=time
item_info_from=timeTmp
item_info_convert=offset('%s','+01:00')
item_info_build=%s


item_info_name=title
item_info_from='(' + time + ')  ' + match
item_info_build=%s


item_info_name=cfg
item_info_from=match
item_info_build=firstrowsports.ge.links.cfg@Events@%s
item_url_build=%s


@ENDIF@


@IF(@PARAM1@==Events)@
skill=videoTitle
catcher=streams

section=</span>\s*@PARAM2@\s*</a> </h3>.*?</span>\s*</div>
#section=</span>\s*@PARAM2@\s*</a>\s*</h3>.*?</span>\s*&nbsp;
               
item_infos=<a.*?target='_blank' title='([^']+)'href='http://firstrowsports.ge/\?(watch/\d+/(\d+)/[^']+)'>([^<]+)</a><span style='padding-left:10px;'></span>
item_order=title_alt|url.tmp|num|name
item_skill=rss


item_info_name=title
item_info_from=title_alt
#item_info_from=title_alt + num + ' - ' + name
item_info_build=%s


item_info_name=url
item_info_from=url.tmp
item_info_convert=quote('%s')
item_info_build=%s

item_url_build=http://firstrowsports.ge/index.php?%s

@ENDIF@