<settings>
    <setting id="goto_fullscreen" type="bool">false</setting>
    <setting id="music_osd_furniture_off" type="bool">false</setting>
    <setting id="pause_label_video_off" type="bool">false</setting>
    <setting id="video_osd_furniture_off" type="bool">false</setting>
    <setting id="reminder_mute_off" type="bool">false</setting>
    <setting id="pause_label_music_off" type="bool">false</setting>
    <setting id="keep_aspect" type="bool">false</setting>
    <setting id="touch_screen" type="bool">false</setting>
    <setting id="mainmenu_vertical" type="bool">false</setting>
    <setting id="animation_panscan" type="bool">false</setting>
    <setting id="resource.images.weatherfanart.multi" type="bool">false</setting>
    <setting id="movie_library_backgrounds" type="bool">false</setting>
    <setting id="tvshow_library_backgrounds" type="bool">false</setting>
    <setting id="concert_library_backgrounds" type="bool">false</setting>
    <setting id="music_library_backgrounds" type="bool">false</setting>
    <setting id="background_video" type="bool">false</setting>
    <setting id="background_audio" type="bool">false</setting>
    <setting id="library_status_window_off" type="bool">false</setting>
    <setting id="resource.images.weathericons.multi" type="bool">false</setting>
    <setting id="mainmenu_clock_off" type="bool">false</setting>
    <setting id="mainmenu_now_playing_off" type="bool">false</setting>
    <setting id="mainmenu_weather_off" type="bool">false</setting>
    <setting id="mainmenu_reminder_now_playing_off" type="bool">false</setting>
    <setting id="mainmenu_reminder_inprogress_off" type="bool">false</setting>
    <setting id="mainmenu_reminder_similar_off" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="mainmenu_library_status_off" type="bool">false</setting>
    <setting id="mainmenu_custom_icons" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="startup_intro" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">true</setting>
    <setting id="skinhelper.enablemusicart" type="bool">true</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">true</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedfanarts" type="bool">false</setting>
    <setting id="live_background" type="bool">false</setting>
    <setting id="vis_background" type="bool">false</setting>
    <setting id="prefer_video_clearart_off" type="bool">false</setting>
    <setting id="prefer_music_clearart_off" type="bool">false</setting>
    <setting id="view_rightlist_art_video_off" type="bool">false</setting>
    <setting id="allow_scroll_off" type="bool">false</setting>
    <setting id="view_rightlist_videocase_off" type="bool">false</setting>
    <setting id="view_rightlist_audiocase_off" type="bool">false</setting>
    <setting id="overlay_watched_off" type="bool">false</setting>
    <setting id="overlay_inprogress_off" type="bool">false</setting>
    <setting id="originaltitle" type="bool">false</setting>
    <setting id="view_frame_art_video_off" type="bool">false</setting>
    <setting id="view_wall_art_video_off" type="bool">false</setting>
    <setting id="view_wall_video_big" type="bool">false</setting>
    <setting id="view_wall_music_big" type="bool">false</setting>
    <setting id="view_wall_pvr_big" type="bool">false</setting>
    <setting id="view_wall_programs_big" type="bool">false</setting>
    <setting id="show_color_picker" type="bool">false</setting>
    <setting id="view_tech_landscape_off" type="bool">false</setting>
    <setting id="view_tech_art_video_off" type="bool">false</setting>
    <setting id="view_tech_art_music_off" type="bool">false</setting>
    <setting id="view_tech_art_programs_off" type="bool">false</setting>
    <setting id="view_tech_banner_off" type="bool">false</setting>
    <setting id="view_tech_character_off" type="bool">false</setting>
    <setting id="view_tech_info_off" type="bool">false</setting>
    <setting id="view_tech_plot_off" type="bool">false</setting>
    <setting id="view_setplus_videocase_off" type="bool">false</setting>
    <setting id="scroll_letters_off" type="bool">false</setting>
    <setting id="kiosk_code" type="bool">false</setting>
    <setting id="kiosk" type="bool">false</setting>
    <setting id="widgets_details_panel_off" type="bool">false</setting>
    <setting id="widgets_plot_off" type="bool">false</setting>
    <setting id="widgets_info_button" type="bool">false</setting>
    <setting id="no_art_video" type="bool">false</setting>
    <setting id="no_art_music" type="bool">false</setting>
    <setting id="kiosk_info" type="bool">false</setting>
    <setting id="reset_mode" type="bool">false</setting>
    <setting id="texture_color_base" type="string">dark</setting>
    <setting id="label_color_highlight" type="string">light</setting>
    <setting id="header_color" type="string">header</setting>
    <setting id="texture_color_highlight" type="string">light</setting>
    <setting id="settings_fix" type="string">skinace2_fix09</setting>
    <setting id="menu01.widgettype" type="string"></setting>
    <setting id="menu02.widgettype" type="string"></setting>
    <setting id="menu03.widgettype" type="string"></setting>
    <setting id="menu04.widgettype" type="string"></setting>
    <setting id="menu05.widgettype" type="string"></setting>
    <setting id="menu06.widgettype" type="string"></setting>
    <setting id="menu07.widgettype" type="string"></setting>
    <setting id="menu08.widgettype" type="string"></setting>
    <setting id="menu09.widgettype" type="string"></setting>
    <setting id="menu10.widgettype" type="string"></setting>
    <setting id="menu11.widgettype" type="string"></setting>
    <setting id="menu12.widgettype" type="string"></setting>
    <setting id="menu13.widgettype" type="string"></setting>
    <setting id="menu14.widgettype" type="string"></setting>
    <setting id="menu15.widgettype" type="string"></setting>
    <setting id="menu16.widgettype" type="string"></setting>
    <setting id="menu17.widgettype" type="string"></setting>
    <setting id="menu18.widgettype" type="string"></setting>
    <setting id="menu19.widgettype" type="string"></setting>
    <setting id="menu20.widgettype" type="string"></setting>
    <setting id="custom_background" type="string"></setting>
    <setting id="skin.background.path" type="string"></setting>
    <setting id="resource.images.weatherfanart.path" type="string"></setting>
    <setting id="resource.images.weathericons.path" type="string"></setting>
    <setting id="widgets_seconds" type="string">3</setting>
    <setting id="widgets_mode" type="string">on</setting>
    <setting id="label_color_base" type="string">dark</setting>
    <setting id="cdart_seconds" type="string">4000</setting>
    <setting id="disc_audio" type="string">2</setting>
    <setting id="custom_audio_disc" type="string"></setting>
    <setting id="disc_video" type="string">4</setting>
    <setting id="custom_video_disc" type="string"></setting>
    <setting id="overlay_inprogress_color" type="string">ffe07f96</setting>
    <setting id="overlay_inprogress_style" type="string">5</setting>
    <setting id="overlay_watched_color" type="string">ff9673b6</setting>
    <setting id="overlay_watched_style" type="string">6</setting>
    <setting id="skin.composition.horizontal.path" type="string"></setting>
    <setting id="custom_composition_horizontal" type="string"></setting>
    <setting id="skin.composition.vertical.path" type="string"></setting>
    <setting id="custom_composition_vertical" type="string"></setting>
    <setting id="menu01.customlabel" type="string"></setting>
    <setting id="menu01.master" type="string">movie</setting>
    <setting id="menu01.path" type="string">ActivateWindow(videos,movietitles,return)</setting>
    <setting id="menu01.forcedlabel" type="string"></setting>
    <setting id="mainmenu.icons.path" type="string"></setting>
    <setting id="menu01.visible" type="string"></setting>
    <setting id="menu01.customicon" type="string"></setting>
    <setting id="menu01.color" type="string">movie</setting>
    <setting id="menu01.submenu" type="string">01</setting>
    <setting id="menu01.widgetlabel" type="string"></setting>
    <setting id="menu01.widgetsubtype" type="string"></setting>
    <setting id="menu01.widgettarget" type="string"></setting>
    <setting id="menu01.widgetsort" type="string"></setting>
    <setting id="menu01.widgetorder" type="string"></setting>
    <setting id="menu01.widgetlimit" type="string"></setting>
    <setting id="menu01.widgetcontent" type="string"></setting>
    <setting id="menu01.widgetcontent2" type="string"></setting>
    <setting id="menu02.customlabel" type="string"></setting>
    <setting id="menu02.master" type="string">tvshow</setting>
    <setting id="menu02.path" type="string">ActivateWindow(videos,tvshowtitles,return)</setting>
    <setting id="menu02.forcedlabel" type="string"></setting>
    <setting id="menu02.visible" type="string"></setting>
    <setting id="menu02.customicon" type="string"></setting>
    <setting id="menu02.color" type="string">tvshow</setting>
    <setting id="menu02.submenu" type="string">02</setting>
    <setting id="menu02.widgetlabel" type="string"></setting>
    <setting id="menu02.widgetsubtype" type="string"></setting>
    <setting id="menu02.widgettarget" type="string"></setting>
    <setting id="menu02.widgetsort" type="string"></setting>
    <setting id="menu02.widgetorder" type="string"></setting>
    <setting id="menu02.widgetlimit" type="string"></setting>
    <setting id="menu02.widgetcontent" type="string"></setting>
    <setting id="menu02.widgetcontent2" type="string"></setting>
    <setting id="menu03.customlabel" type="string"></setting>
    <setting id="menu03.master" type="string">concert</setting>
    <setting id="menu03.path" type="string">ActivateWindow(videos,musicvideotitles,return)</setting>
    <setting id="menu03.forcedlabel" type="string"></setting>
    <setting id="menu03.visible" type="string"></setting>
    <setting id="menu03.customicon" type="string"></setting>
    <setting id="menu03.color" type="string">concert</setting>
    <setting id="menu03.submenu" type="string">03</setting>
    <setting id="menu03.widgetlabel" type="string"></setting>
    <setting id="menu03.widgetsubtype" type="string"></setting>
    <setting id="menu03.widgettarget" type="string"></setting>
    <setting id="menu03.widgetsort" type="string"></setting>
    <setting id="menu03.widgetorder" type="string"></setting>
    <setting id="menu03.widgetlimit" type="string"></setting>
    <setting id="menu03.widgetcontent" type="string"></setting>
    <setting id="menu03.widgetcontent2" type="string"></setting>
    <setting id="menu04.customlabel" type="string"></setting>
    <setting id="menu04.master" type="string">music</setting>
    <setting id="menu04.path" type="string">ActivateWindow(music)</setting>
    <setting id="menu04.forcedlabel" type="string"></setting>
    <setting id="menu04.visible" type="string"></setting>
    <setting id="menu04.customicon" type="string"></setting>
    <setting id="menu04.color" type="string">music</setting>
    <setting id="menu04.submenu" type="string">04</setting>
    <setting id="menu04.widgetlabel" type="string"></setting>
    <setting id="menu04.widgetsubtype" type="string"></setting>
    <setting id="menu04.widgettarget" type="string"></setting>
    <setting id="menu04.widgetsort" type="string"></setting>
    <setting id="menu04.widgetorder" type="string"></setting>
    <setting id="menu04.widgetlimit" type="string"></setting>
    <setting id="menu04.widgetcontent" type="string"></setting>
    <setting id="menu04.widgetcontent2" type="string"></setting>
    <setting id="menu05.customlabel" type="string"></setting>
    <setting id="menu05.master" type="string">livetv</setting>
    <setting id="menu05.path" type="string">ActivateWindow(tvchannels)</setting>
    <setting id="menu05.forcedlabel" type="string"></setting>
    <setting id="menu05.visible" type="string"></setting>
    <setting id="menu05.customicon" type="string"></setting>
    <setting id="menu05.color" type="string">livetv</setting>
    <setting id="menu05.submenu" type="string">05</setting>
    <setting id="menu05.widgetlabel" type="string"></setting>
    <setting id="menu05.widgetsubtype" type="string"></setting>
    <setting id="menu05.widgettarget" type="string"></setting>
    <setting id="menu05.widgetsort" type="string"></setting>
    <setting id="menu05.widgetorder" type="string"></setting>
    <setting id="menu05.widgetlimit" type="string"></setting>
    <setting id="menu05.widgetcontent" type="string"></setting>
    <setting id="menu05.widgetcontent2" type="string"></setting>
    <setting id="menu06.customlabel" type="string"></setting>
    <setting id="menu06.master" type="string">radio</setting>
    <setting id="menu06.path" type="string">ActivateWindow(radiochannels)</setting>
    <setting id="menu06.forcedlabel" type="string"></setting>
    <setting id="menu06.visible" type="string"></setting>
    <setting id="menu06.customicon" type="string"></setting>
    <setting id="menu06.color" type="string">radio</setting>
    <setting id="menu06.submenu" type="string">00</setting>
    <setting id="menu06.widgetlabel" type="string"></setting>
    <setting id="menu06.widgetsubtype" type="string"></setting>
    <setting id="menu06.widgettarget" type="string"></setting>
    <setting id="menu06.widgetsort" type="string"></setting>
    <setting id="menu06.widgetorder" type="string"></setting>
    <setting id="menu06.widgetlimit" type="string"></setting>
    <setting id="menu06.widgetcontent" type="string"></setting>
    <setting id="menu06.widgetcontent2" type="string"></setting>
    <setting id="menu07.customlabel" type="string"></setting>
    <setting id="menu07.master" type="string">favourite</setting>
    <setting id="menu07.path" type="string">ActivateWindow(favourites)</setting>
    <setting id="menu07.forcedlabel" type="string"></setting>
    <setting id="menu07.visible" type="string"></setting>
    <setting id="menu07.customicon" type="string"></setting>
    <setting id="menu07.color" type="string">favourite</setting>
    <setting id="menu07.submenu" type="string">00</setting>
    <setting id="menu07.widgetlabel" type="string"></setting>
    <setting id="menu07.widgetsubtype" type="string"></setting>
    <setting id="menu07.widgettarget" type="string"></setting>
    <setting id="menu07.widgetsort" type="string"></setting>
    <setting id="menu07.widgetorder" type="string"></setting>
    <setting id="menu07.widgetlimit" type="string"></setting>
    <setting id="menu07.widgetcontent" type="string"></setting>
    <setting id="menu07.widgetcontent2" type="string"></setting>
    <setting id="menu08.customlabel" type="string"></setting>
    <setting id="menu08.master" type="string">game</setting>
    <setting id="menu08.path" type="string">ActivateWindow(games)</setting>
    <setting id="menu08.forcedlabel" type="string"></setting>
    <setting id="menu08.visible" type="string"></setting>
    <setting id="menu08.customicon" type="string"></setting>
    <setting id="menu08.color" type="string">game</setting>
    <setting id="menu08.submenu" type="string">00</setting>
    <setting id="menu08.widgetlabel" type="string"></setting>
    <setting id="menu08.widgetsubtype" type="string"></setting>
    <setting id="menu08.widgettarget" type="string"></setting>
    <setting id="menu08.widgetsort" type="string"></setting>
    <setting id="menu08.widgetorder" type="string"></setting>
    <setting id="menu08.widgetlimit" type="string"></setting>
    <setting id="menu08.widgetcontent" type="string"></setting>
    <setting id="menu08.widgetcontent2" type="string"></setting>
    <setting id="menu09.customlabel" type="string"></setting>
    <setting id="menu09.master" type="string">program</setting>
    <setting id="menu09.path" type="string">ActivateWindow(programs)</setting>
    <setting id="menu09.forcedlabel" type="string"></setting>
    <setting id="menu09.visible" type="string"></setting>
    <setting id="menu09.customicon" type="string"></setting>
    <setting id="menu09.color" type="string">program</setting>
    <setting id="menu09.submenu" type="string">09</setting>
    <setting id="menu09.widgetlabel" type="string"></setting>
    <setting id="menu09.widgetsubtype" type="string"></setting>
    <setting id="menu09.widgettarget" type="string"></setting>
    <setting id="menu09.widgetsort" type="string"></setting>
    <setting id="menu09.widgetorder" type="string"></setting>
    <setting id="menu09.widgetlimit" type="string"></setting>
    <setting id="menu09.widgetcontent" type="string"></setting>
    <setting id="menu09.widgetcontent2" type="string"></setting>
    <setting id="menu10.customlabel" type="string"></setting>
    <setting id="menu10.master" type="string">picture</setting>
    <setting id="menu10.path" type="string">ActivateWindow(pictures)</setting>
    <setting id="menu10.forcedlabel" type="string"></setting>
    <setting id="menu10.visible" type="string"></setting>
    <setting id="menu10.customicon" type="string"></setting>
    <setting id="menu10.color" type="string">picture</setting>
    <setting id="menu10.submenu" type="string">00</setting>
    <setting id="menu10.widgetlabel" type="string"></setting>
    <setting id="menu10.widgetsubtype" type="string"></setting>
    <setting id="menu10.widgettarget" type="string"></setting>
    <setting id="menu10.widgetsort" type="string"></setting>
    <setting id="menu10.widgetorder" type="string"></setting>
    <setting id="menu10.widgetlimit" type="string"></setting>
    <setting id="menu10.widgetcontent" type="string"></setting>
    <setting id="menu10.widgetcontent2" type="string"></setting>
    <setting id="menu11.customlabel" type="string"></setting>
    <setting id="menu11.master" type="string">weather</setting>
    <setting id="menu11.path" type="string">ActivateWindow(weather)</setting>
    <setting id="menu11.forcedlabel" type="string"></setting>
    <setting id="menu11.visible" type="string"></setting>
    <setting id="menu11.customicon" type="string"></setting>
    <setting id="menu11.color" type="string">weather</setting>
    <setting id="menu11.submenu" type="string">11</setting>
    <setting id="menu11.widgetlabel" type="string"></setting>
    <setting id="menu11.widgetsubtype" type="string"></setting>
    <setting id="menu11.widgettarget" type="string"></setting>
    <setting id="menu11.widgetsort" type="string"></setting>
    <setting id="menu11.widgetorder" type="string"></setting>
    <setting id="menu11.widgetlimit" type="string"></setting>
    <setting id="menu11.widgetcontent" type="string">weather</setting>
    <setting id="menu11.widgetcontent2" type="string"></setting>
    <setting id="menu12.customlabel" type="string"></setting>
    <setting id="menu12.master" type="string">setting</setting>
    <setting id="menu12.path" type="string">ActivateWindow(settings)</setting>
    <setting id="menu12.forcedlabel" type="string"></setting>
    <setting id="menu12.visible" type="string"></setting>
    <setting id="menu12.customicon" type="string"></setting>
    <setting id="menu12.color" type="string">setting</setting>
    <setting id="menu12.submenu" type="string">12</setting>
    <setting id="menu12.widgetlabel" type="string"></setting>
    <setting id="menu12.widgetsubtype" type="string"></setting>
    <setting id="menu12.widgettarget" type="string"></setting>
    <setting id="menu12.widgetsort" type="string"></setting>
    <setting id="menu12.widgetorder" type="string"></setting>
    <setting id="menu12.widgetlimit" type="string"></setting>
    <setting id="menu12.widgetcontent" type="string">settings</setting>
    <setting id="menu12.widgetcontent2" type="string"></setting>
    <setting id="menu13.customlabel" type="string"></setting>
    <setting id="menu13.master" type="string">shutdown</setting>
    <setting id="menu13.path" type="string">ShutDown</setting>
    <setting id="menu13.forcedlabel" type="string"></setting>
    <setting id="menu13.visible" type="string"></setting>
    <setting id="menu13.customicon" type="string"></setting>
    <setting id="menu13.color" type="string">shutdown</setting>
    <setting id="menu13.submenu" type="string">13</setting>
    <setting id="menu13.widgetlabel" type="string"></setting>
    <setting id="menu13.widgetsubtype" type="string"></setting>
    <setting id="menu13.widgettarget" type="string"></setting>
    <setting id="menu13.widgetsort" type="string"></setting>
    <setting id="menu13.widgetorder" type="string"></setting>
    <setting id="menu13.widgetlimit" type="string"></setting>
    <setting id="menu13.widgetcontent" type="string"></setting>
    <setting id="menu13.widgetcontent2" type="string"></setting>
    <setting id="menu14.customlabel" type="string"></setting>
    <setting id="menu14.master" type="string"></setting>
    <setting id="menu14.path" type="string"></setting>
    <setting id="menu14.forcedlabel" type="string"></setting>
    <setting id="menu14.visible" type="string"></setting>
    <setting id="menu14.customicon" type="string"></setting>
    <setting id="menu14.color" type="string"></setting>
    <setting id="menu14.submenu" type="string"></setting>
    <setting id="menu14.widgetlabel" type="string"></setting>
    <setting id="menu14.widgetsubtype" type="string"></setting>
    <setting id="menu14.widgettarget" type="string"></setting>
    <setting id="menu14.widgetsort" type="string"></setting>
    <setting id="menu14.widgetorder" type="string"></setting>
    <setting id="menu14.widgetlimit" type="string"></setting>
    <setting id="menu14.widgetcontent" type="string"></setting>
    <setting id="menu14.widgetcontent2" type="string"></setting>
    <setting id="menu15.customlabel" type="string"></setting>
    <setting id="menu15.master" type="string"></setting>
    <setting id="menu15.path" type="string"></setting>
    <setting id="menu15.forcedlabel" type="string"></setting>
    <setting id="menu15.visible" type="string"></setting>
    <setting id="menu15.customicon" type="string"></setting>
    <setting id="menu15.color" type="string"></setting>
    <setting id="menu15.submenu" type="string"></setting>
    <setting id="menu15.widgetlabel" type="string"></setting>
    <setting id="menu15.widgetsubtype" type="string"></setting>
    <setting id="menu15.widgettarget" type="string"></setting>
    <setting id="menu15.widgetsort" type="string"></setting>
    <setting id="menu15.widgetorder" type="string"></setting>
    <setting id="menu15.widgetlimit" type="string"></setting>
    <setting id="menu15.widgetcontent" type="string"></setting>
    <setting id="menu15.widgetcontent2" type="string"></setting>
    <setting id="menu16.customlabel" type="string"></setting>
    <setting id="menu16.master" type="string"></setting>
    <setting id="menu16.path" type="string"></setting>
    <setting id="menu16.forcedlabel" type="string"></setting>
    <setting id="menu16.visible" type="string"></setting>
    <setting id="menu16.customicon" type="string"></setting>
    <setting id="menu16.color" type="string"></setting>
    <setting id="menu16.submenu" type="string"></setting>
    <setting id="menu16.widgetlabel" type="string"></setting>
    <setting id="menu16.widgetsubtype" type="string"></setting>
    <setting id="menu16.widgettarget" type="string"></setting>
    <setting id="menu16.widgetsort" type="string"></setting>
    <setting id="menu16.widgetorder" type="string"></setting>
    <setting id="menu16.widgetlimit" type="string"></setting>
    <setting id="menu16.widgetcontent" type="string"></setting>
    <setting id="menu16.widgetcontent2" type="string"></setting>
    <setting id="menu17.customlabel" type="string"></setting>
    <setting id="menu17.master" type="string"></setting>
    <setting id="menu17.path" type="string"></setting>
    <setting id="menu17.forcedlabel" type="string"></setting>
    <setting id="menu17.visible" type="string"></setting>
    <setting id="menu17.customicon" type="string"></setting>
    <setting id="menu17.color" type="string"></setting>
    <setting id="menu17.submenu" type="string"></setting>
    <setting id="menu17.widgetlabel" type="string"></setting>
    <setting id="menu17.widgetsubtype" type="string"></setting>
    <setting id="menu17.widgettarget" type="string"></setting>
    <setting id="menu17.widgetsort" type="string"></setting>
    <setting id="menu17.widgetorder" type="string"></setting>
    <setting id="menu17.widgetlimit" type="string"></setting>
    <setting id="menu17.widgetcontent" type="string"></setting>
    <setting id="menu17.widgetcontent2" type="string"></setting>
    <setting id="menu18.customlabel" type="string"></setting>
    <setting id="menu18.master" type="string"></setting>
    <setting id="menu18.path" type="string"></setting>
    <setting id="menu18.forcedlabel" type="string"></setting>
    <setting id="menu18.visible" type="string"></setting>
    <setting id="menu18.customicon" type="string"></setting>
    <setting id="menu18.color" type="string"></setting>
    <setting id="menu18.submenu" type="string"></setting>
    <setting id="menu18.widgetlabel" type="string"></setting>
    <setting id="menu18.widgetsubtype" type="string"></setting>
    <setting id="menu18.widgettarget" type="string"></setting>
    <setting id="menu18.widgetsort" type="string"></setting>
    <setting id="menu18.widgetorder" type="string"></setting>
    <setting id="menu18.widgetlimit" type="string"></setting>
    <setting id="menu18.widgetcontent" type="string"></setting>
    <setting id="menu18.widgetcontent2" type="string"></setting>
    <setting id="menu19.customlabel" type="string"></setting>
    <setting id="menu19.master" type="string"></setting>
    <setting id="menu19.path" type="string"></setting>
    <setting id="menu19.forcedlabel" type="string"></setting>
    <setting id="menu19.visible" type="string"></setting>
    <setting id="menu19.customicon" type="string"></setting>
    <setting id="menu19.color" type="string"></setting>
    <setting id="menu19.submenu" type="string"></setting>
    <setting id="menu19.widgetlabel" type="string"></setting>
    <setting id="menu19.widgetsubtype" type="string"></setting>
    <setting id="menu19.widgettarget" type="string"></setting>
    <setting id="menu19.widgetsort" type="string"></setting>
    <setting id="menu19.widgetorder" type="string"></setting>
    <setting id="menu19.widgetlimit" type="string"></setting>
    <setting id="menu19.widgetcontent" type="string"></setting>
    <setting id="menu19.widgetcontent2" type="string"></setting>
    <setting id="menu20.customlabel" type="string"></setting>
    <setting id="menu20.master" type="string"></setting>
    <setting id="menu20.path" type="string"></setting>
    <setting id="menu20.forcedlabel" type="string"></setting>
    <setting id="menu20.visible" type="string"></setting>
    <setting id="menu20.customicon" type="string"></setting>
    <setting id="menu20.color" type="string"></setting>
    <setting id="menu20.submenu" type="string"></setting>
    <setting id="menu20.widgetlabel" type="string"></setting>
    <setting id="menu20.widgetsubtype" type="string"></setting>
    <setting id="menu20.widgettarget" type="string"></setting>
    <setting id="menu20.widgetsort" type="string"></setting>
    <setting id="menu20.widgetorder" type="string"></setting>
    <setting id="menu20.widgetlimit" type="string"></setting>
    <setting id="menu20.widgetcontent" type="string"></setting>
    <setting id="menu20.widgetcontent2" type="string"></setting>
    <setting id="settings_default" type="string">skinace2_reset02</setting>
    <setting id="kiosk_code_step" type="string"></setting>
    <setting id="submenu04.17.master" type="string">musicroles</setting>
    <setting id="submenu04.17.path" type="string">ActivateWindow(music,library://music/musicroles/,return)</setting>
    <setting id="view_tech_color_base" type="string">dark</setting>
    <setting id="overlay_disc_audio_style" type="string">2</setting>
    <setting id="overlay_disc_video_style" type="string">4</setting>
    <setting id="video_fanart" type="string">extra</setting>
    <setting id="music_fanart" type="string">extra</setting>
    <setting id="programs_fanart" type="string">extra</setting>
    <setting id="games_fanart" type="string">extra</setting>
    <setting id="music_vis_background" type="string">fanart</setting>
    <setting id="lyricscript_path" type="string">script.cu.lrclyrics</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string">3</setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string">3</setting>
    <setting id="ratingstars_color09" type="string">ffe7faff</setting>
    <setting id="ratingstars_color19" type="string">ff33d6ff</setting>
    <setting id="ratingstars_color29" type="string">ff3870ff</setting>
    <setting id="ratingstars_color39" type="string">ffa366ff</setting>
    <setting id="ratingstars_color49" type="string">ffa219ff</setting>
    <setting id="ratingstars_color59" type="string">ffffe135</setting>
    <setting id="ratingstars_color69" type="string">ffff751a</setting>
    <setting id="ratingstars_color79" type="string">ffe72e00</setting>
    <setting id="ratingstars_color89" type="string">ff8db600</setting>
    <setting id="ratingstars_color100" type="string">ff008000</setting>
    <setting id="ratingstars_style" type="string">3d</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="submenu01.1.master" type="string">movie</setting>
    <setting id="submenu01.1.path" type="string">ActivateWindow(videos,recentlyaddedmovies,return)</setting>
    <setting id="submenu01.2.master" type="string">movie</setting>
    <setting id="submenu01.2.path" type="string">ActivateWindow(videos,moviesets,return)</setting>
    <setting id="submenu01.3.master" type="string">movie</setting>
    <setting id="submenu01.3.path" type="string">ActivateWindow(videos,moviegenres,return)</setting>
    <setting id="submenu01.4.master" type="string">movie</setting>
    <setting id="submenu01.4.path" type="string">ActivateWindow(videos,movieyears,return)</setting>
    <setting id="submenu01.5.master" type="string">movie</setting>
    <setting id="submenu01.5.path" type="string">ActivateWindow(videos,movieactors,return)</setting>
    <setting id="submenu01.6.master" type="string">movie</setting>
    <setting id="submenu01.6.path" type="string">ActivateWindow(videos,moviedirectors,return)</setting>
    <setting id="submenu01.7.master" type="string">movie</setting>
    <setting id="submenu01.7.path" type="string">ActivateWindow(videos,moviestudios,return)</setting>
    <setting id="submenu01.8.master" type="string">movie</setting>
    <setting id="submenu01.8.path" type="string">ActivateWindow(videos,moviecountries,return)</setting>
    <setting id="submenu01.9.master" type="string">movie</setting>
    <setting id="submenu01.9.path" type="string">ActivateWindow(videos,movietags,return)</setting>
    <setting id="submenu01.10.master" type="string">movie</setting>
    <setting id="submenu01.10.path" type="string">CleanLibrary(video)</setting>
    <setting id="submenu01.11.master" type="string">movie</setting>
    <setting id="submenu01.11.path" type="string">UpdateLibrary(video)</setting>
    <setting id="submenu01.12.master" type="string">movie</setting>
    <setting id="submenu01.12.path" type="string">ActivateWindow(videos,files,return)</setting>
    <setting id="submenu01.13.master" type="string">globalsearch</setting>
    <setting id="submenu01.13.path" type="string">RunScript(script.globalsearch)</setting>
    <setting id="submenu01.14.master" type="string">vsmartplaylist</setting>
    <setting id="submenu01.14.path" type="string">ActivateWindow(videos,playlists,return)</setting>
    <setting id="submenu02.1.master" type="string">tvshowrecently</setting>
    <setting id="submenu02.1.path" type="string">ActivateWindow(videos,recentlyaddedepisodes,return)</setting>
    <setting id="submenu02.2.master" type="string">tvguide</setting>
    <setting id="submenu02.2.path" type="string">RunScript(script.tv.show.next.aired)</setting>
    <setting id="submenu02.3.master" type="string">tvshowgenres</setting>
    <setting id="submenu02.3.path" type="string">ActivateWindow(videos,tvshowgenres,return)</setting>
    <setting id="submenu02.4.master" type="string">tvshowyears</setting>
    <setting id="submenu02.4.path" type="string">ActivateWindow(videos,tvshowyears,return)</setting>
    <setting id="submenu02.5.master" type="string">tvshowactors</setting>
    <setting id="submenu02.5.path" type="string">ActivateWindow(videos,tvshowactors,return)</setting>
    <setting id="submenu02.6.master" type="string">tvshowstudios</setting>
    <setting id="submenu02.6.path" type="string">ActivateWindow(videos,tvshowstudios,return)</setting>
    <setting id="submenu02.7.master" type="string">videocleanlibrary</setting>
    <setting id="submenu02.7.path" type="string">CleanLibrary(video)</setting>
    <setting id="submenu02.8.master" type="string">videoupdatelibrary</setting>
    <setting id="submenu02.8.path" type="string">UpdateLibrary(video)</setting>
    <setting id="submenu02.9.master" type="string">videos</setting>
    <setting id="submenu02.9.path" type="string">ActivateWindow(videos,files,return)</setting>
    <setting id="submenu02.10.master" type="string">globalsearch</setting>
    <setting id="submenu02.10.path" type="string">RunScript(script.globalsearch)</setting>
    <setting id="submenu03.1.master" type="string">concertrecently</setting>
    <setting id="submenu03.1.path" type="string">ActivateWindow(videos,recentlyaddedmusicvideos,return)</setting>
    <setting id="submenu03.2.master" type="string">concertgenres</setting>
    <setting id="submenu03.2.path" type="string">ActivateWindow(videos,musicvideogenres,return)</setting>
    <setting id="submenu03.3.master" type="string">concertyears</setting>
    <setting id="submenu03.3.path" type="string">ActivateWindow(videos,musicvideoyears,return)</setting>
    <setting id="submenu03.4.master" type="string">concertartists</setting>
    <setting id="submenu03.4.path" type="string">ActivateWindow(videos,musicvideoartists,return)</setting>
    <setting id="submenu03.5.master" type="string">concertalbums</setting>
    <setting id="submenu03.5.path" type="string">ActivateWindow(videos,musicvideoalbums,return)</setting>
    <setting id="submenu03.6.master" type="string">concertdirectors</setting>
    <setting id="submenu03.6.path" type="string">ActivateWindow(videos,musicvideodirectors,return)</setting>
    <setting id="submenu03.7.master" type="string">concertstudios</setting>
    <setting id="submenu03.7.path" type="string">ActivateWindow(videos,musicvideostudios,return)</setting>
    <setting id="submenu03.8.master" type="string">videocleanlibrary</setting>
    <setting id="submenu03.8.path" type="string">CleanLibrary(video)</setting>
    <setting id="submenu03.9.master" type="string">videoupdatelibrary</setting>
    <setting id="submenu03.9.path" type="string">UpdateLibrary(video)</setting>
    <setting id="submenu03.10.master" type="string">videos</setting>
    <setting id="submenu03.10.path" type="string">ActivateWindow(videos,files,return)</setting>
    <setting id="submenu03.11.master" type="string">globalsearch</setting>
    <setting id="submenu03.11.path" type="string">RunScript(script.globalsearch)</setting>
    <setting id="submenu04.1.master" type="string">musicrecentlyplayed</setting>
    <setting id="submenu04.1.path" type="string">ActivateWindow(music,recentlyplayedalbums,return)</setting>
    <setting id="submenu04.2.master" type="string">musicrecently</setting>
    <setting id="submenu04.2.path" type="string">ActivateWindow(music,recentlyaddedalbums,return)</setting>
    <setting id="submenu04.3.master" type="string">musicvideoclips</setting>
    <setting id="submenu04.3.path" type="string">ActivateWindow(videos,plugin://plugin.video.youtube/?path=/root/search&amp;feed=search&amp;search=,return)</setting>
    <setting id="submenu04.4.master" type="string">musicgenres</setting>
    <setting id="submenu04.4.path" type="string">ActivateWindow(music,genres,return)</setting>
    <setting id="submenu04.5.master" type="string">musicplaylists</setting>
    <setting id="submenu04.5.path" type="string">ActivateWindow(music,playlists,return)</setting>
    <setting id="submenu04.6.master" type="string">musicartists</setting>
    <setting id="submenu04.6.path" type="string">ActivateWindow(music,artists,return)</setting>
    <setting id="submenu04.7.master" type="string">musicalbums</setting>
    <setting id="submenu04.7.path" type="string">ActivateWindow(music,albums,return)</setting>
    <setting id="submenu04.8.master" type="string">musicsongs</setting>
    <setting id="submenu04.8.path" type="string">ActivateWindow(music,songs,return)</setting>
    <setting id="submenu04.9.master" type="string">music</setting>
    <setting id="submenu04.9.path" type="string">ActivateWindow(music,files,return)</setting>
    <setting id="submenu04.10.master" type="string">musicpartymode</setting>
    <setting id="submenu04.10.path" type="string">PlayerControl(Partymode(music))</setting>
    <setting id="submenu04.11.master" type="string">musiccompilations</setting>
    <setting id="submenu04.11.path" type="string">ActivateWindow(music,compilations,return)</setting>
    <setting id="submenu04.12.master" type="string">musictop100</setting>
    <setting id="submenu04.12.path" type="string">ActivateWindow(music,top100,return)</setting>
    <setting id="submenu04.13.master" type="string">musiccleanlibrary</setting>
    <setting id="submenu04.13.path" type="string">CleanLibrary(music)</setting>
    <setting id="submenu04.14.master" type="string">musicupdatelibrary</setting>
    <setting id="submenu04.14.path" type="string">UpdateLibrary(music)</setting>
    <setting id="submenu04.15.master" type="string">globalsearch</setting>
    <setting id="submenu04.15.path" type="string">RunScript(script.globalsearch)</setting>
    <setting id="submenu04.16.master" type="string">musicsources</setting>
    <setting id="submenu04.16.path" type="string">ActivateWindow(music,musicdb://sources/,return)</setting>
    <setting id="submenu05.1.master" type="string">livetvchannels</setting>
    <setting id="submenu05.1.path" type="string">ActivateWindow(TVChannels)</setting>
    <setting id="submenu05.2.master" type="string">livetvepg</setting>
    <setting id="submenu05.2.path" type="string">ActivateWindow(TVGuide)</setting>
    <setting id="submenu05.3.master" type="string">livetvsearch</setting>
    <setting id="submenu05.3.path" type="string">ActivateWindow(TVSearch)</setting>
    <setting id="submenu05.4.master" type="string">livetvrecords</setting>
    <setting id="submenu05.4.path" type="string">ActivateWindow(TVRecordings)</setting>
    <setting id="submenu05.5.master" type="string">livetvtimers</setting>
    <setting id="submenu05.5.path" type="string">ActivateWindow(TVTimers)</setting>
    <setting id="submenu05.6.master" type="string">livetvsettings</setting>
    <setting id="submenu05.6.path" type="string">ActivateWindow(pvrsettings)</setting>
    <setting id="submenu09.1.master" type="string">settingsaddons</setting>
    <setting id="submenu09.1.path" type="string">ActivateWindow(addonbrowser)</setting>
    <setting id="submenu09.2.master" type="string">settingsaddonsprograms</setting>
    <setting id="submenu09.2.path" type="string">ActivateWindow(programs,addons,return)</setting>
    <setting id="submenu09.3.master" type="string">settingsaddonsvideo</setting>
    <setting id="submenu09.3.path" type="string">ActivateWindow(videos,addons,return)</setting>
    <setting id="submenu09.4.master" type="string">settingsaddonsmusic</setting>
    <setting id="submenu09.4.path" type="string">ActivateWindow(music,addons,return)</setting>
    <setting id="submenu09.5.master" type="string">settingsaddonsgames</setting>
    <setting id="submenu09.5.path" type="string">ActivateWindow(games,addons,return)</setting>
    <setting id="submenu09.6.master" type="string">settingsaddonspictures</setting>
    <setting id="submenu09.6.path" type="string">ActivateWindow(pictures,addons,return)</setting>
    <setting id="submenu11.1.master" type="string">weathersettings</setting>
    <setting id="submenu11.1.path" type="string">ActivateWindowAndFocus(ServiceSettings, -96,0, -79,0)</setting>
    <setting id="submenu12.1.master" type="string">settingscustom</setting>
    <setting id="submenu12.1.path" type="string">ActivateWindow(1157)</setting>
    <setting id="submenu12.2.master" type="string">settingsskin</setting>
    <setting id="submenu12.2.path" type="string">ActivateWindow(skinsettings)</setting>
    <setting id="submenu12.3.master" type="string">settingspresets</setting>
    <setting id="submenu12.3.path" type="string">ActivateWindow(1161)</setting>
    <setting id="submenu12.4.master" type="string">settingsfilemanager</setting>
    <setting id="submenu12.4.path" type="string">ActivateWindow(filemanager)</setting>
    <setting id="submenu12.5.master" type="string">settingssystem</setting>
    <setting id="submenu12.5.path" type="string">ActivateWindow(systeminfo)</setting>
    <setting id="submenu13.1.master" type="string">quit</setting>
    <setting id="submenu13.1.path" type="string">Quit()</setting>
    <setting id="submenu13.2.master" type="string">powerdown</setting>
    <setting id="submenu13.2.path" type="string">Powerdown()</setting>
    <setting id="submenu13.3.master" type="string">reboot</setting>
    <setting id="submenu13.3.path" type="string">Reboot()</setting>
    <setting id="submenu13.4.master" type="string">reboottointernal</setting>
    <setting id="submenu13.4.path" type="string">System.ExecWait(&quot;/usr/sbin/rebootfromnand&quot;)</setting>
    <setting id="submenu13.5.master" type="string">suspend</setting>
    <setting id="submenu13.5.path" type="string">Suspend()</setting>
    <setting id="submenu13.6.master" type="string">hibernate</setting>
    <setting id="submenu13.6.path" type="string">Hibernate()</setting>
    <setting id="submenu13.7.master" type="string">timer</setting>
    <setting id="submenu13.7.path" type="string">AlarmClock(shutdowntimer,Powerdown)</setting>
    <setting id="submenu13.8.master" type="string">canceltimer</setting>
    <setting id="submenu13.8.path" type="string">CancelAlarm(shutdowntimer)</setting>
    <setting id="submenu13.9.master" type="string">logoff)</setting>
    <setting id="submenu13.9.path" type="string">System.Logoff</setting>
    <setting id="view_50_videos_disc_art" type="string">ifavailable</setting>
    <setting id="view_50_music_disc_art" type="string">ifavailable</setting>
    <setting id="view_51_videos_disc_art" type="string">ifavailable</setting>
    <setting id="view_51_music_disc_art" type="string">ifavailable</setting>
    <setting id="view_56_videos_disc_art" type="string">ifavailable</setting>
    <setting id="view_56_music_disc_art" type="string">ifavailable</setting>
    <setting id="view_68_videos_disc_art" type="string">ifavailable</setting>
    <setting id="view_68_music_disc_art" type="string">ifavailable</setting>
    <setting id="view_74_videos_disc_art" type="string">ifavailable</setting>
    <setting id="vis_disc_art" type="string">ifavailable</setting>
    <setting id="resource.images.moviegenrefanart.path" type="string"></setting>
    <setting id="resource.images.musicgenrefanart.path" type="string"></setting>
    <setting id="mediaflags" type="string"></setting>
    <setting id="resource.images.musicgenreicons.path" type="string"></setting>
    <setting id="resource.images.musicgenreicons.ext" type="string"></setting>
    <setting id="resource.images.moviegenreicons.path" type="string"></setting>
    <setting id="resource.images.moviegenreicons.ext" type="string"></setting>
    <setting id="resource.images.studios.path" type="string"></setting>
    <setting id="resource.images.mediatype.path" type="string"></setting>
    <setting id="resource.images.recordlabels.path" type="string"></setting>
    <setting id="resource.images.mpaa.path" type="string"></setting>
    <setting id="resource.images.videocodec.path" type="string"></setting>
    <setting id="resource.images.resolution.path" type="string"></setting>
    <setting id="resource.images.aspectratio.path" type="string"></setting>
    <setting id="resource.images.musiccodec.path" type="string"></setting>
    <setting id="resource.images.extras.path" type="string"></setting>
    <setting id="resource.images.audiochannels.path" type="string"></setting>
    <setting id="resource.images.audiocodec.path" type="string"></setting>
    <setting id="touch_screen" type="string"></setting>
    <setting id="resource.images.studios.name" type="string"></setting>
    <setting id="resource.images.mpaa.name" type="string"></setting>
    <setting id="resource.images.mediatype.name" type="string"></setting>
    <setting id="resource.images.videocodec.name" type="string"></setting>
    <setting id="resource.images.extras.name" type="string"></setting>
    <setting id="resource.images.resolution.name" type="string"></setting>
    <setting id="resource.images.aspectratio.name" type="string"></setting>
    <setting id="resource.images.audiocodec.name" type="string"></setting>
    <setting id="resource.images.audiochannels.name" type="string"></setting>
    <setting id="resource.images.moviegenreicons.name" type="string"></setting>
    <setting id="resource.images.moviegenrefanart.name" type="string"></setting>
    <setting id="resource.images.tvshowgenrefanart.name" type="string"></setting>
    <setting id="resource.images.musicvideogenrefanart.name" type="string"></setting>
    <setting id="resource.images.musicgenreicons.name" type="string"></setting>
    <setting id="resource.images.musicgenrefanart.name" type="string"></setting>
    <setting id="resource.images.weathericons.name" type="string"></setting>
    <setting id="resource.images.weatherfanart.name" type="string"></setting>
    <setting id="startup_intro_path" type="string"></setting>
</settings>
