<settings>
    <!-- customization settings -->

    <category label="Customization">
        <setting label="32507" type="lsep"/>
        <setting label="30717" type="bool" id="metadata" default="false"/>
        <setting label="Disable Metadata Dialog" type="bool" id="disable_metadata_dialog" default="true"/>
        <setting label="32508" type="select" values="Trakt|TMDB" id="movie_metadata_provider" default="Trakt"/>
        <setting label="32509" type="select" values="Trakt|TVDB" id="tv_metadata_provider" default="Trakt"/>
        <setting label="32510" type="lsep" visible="false"/>
        <setting label="32511" type="select" values="BOTH|SD|HD" id="default_link" default="BOTH" visible="false"/>
        <setting label="32514" type="lsep" visible="false"/>
        <setting label="32515" type="bool" id="enable_gifs" default="false" visible="false"/>
        <setting label="Cool Choices" type="lsep"/>
        <setting id="news_win" type="bool" label="Enable News Dialog" default="false" visible="true"/>
        <setting id="dlimage" type="bool" label="Enable Image Downloader" default="false" visible="true"/>
        <setting id="SESSION_HOURS" type="text" label="Session Length for Password Protected XMLs" default="1" visible="true"/>
        <setting label="Display" type="lsep"/>
        <setting label="Enable Settings Context item" type="bool" id="settings_context" default="true"/>
        <setting label="Enable Trailer Context item" type="bool" id="trailer_context" default="true"/>
        <setting label="Hide Help Videos" type="bool" id="hide_help" default="false" visible="true"/>
        <setting label="32505" type="lsep" visible="true"/>
        <setting label="32506" type="select"
               values="system|bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh"
               id="language_id" default="system" visible="true"/>
    </category>

    <!-- main user settings -->
    <category label="30718">
        <setting label="30718" type="lsep"/>
        <setting label="30719" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.MaverickTV?mode=clearCache)"/>
        <setting label="Clear Cache Without Prompts" type="bool" id="quiet_cache" default="true" visible="true"/>
    </category>

    <!-- custom login settings -->
    <!--    <category label="Account">
        <setting label="30200" type="lsep"/>
        <setting id="use-account" type="bool" label="30200" default="false" visible="false"/>
        <setting id="username" type="text" label="30201" default="" enable="!eq(-1,false)"/>
        <setting id="password" type="text" label="30202" default="" option="hidden" enable="!eq(-2,false)"/>
        <setting id="login_message_style" type="select" label="30209" values="notification|popup|none" default="notification" visible="true" enable="!eq(-3,false)" />
        <setting id="login_url" type="text" label="30204" default="PUT FULL URL USED TO VERIFY LOGIN" visible="false"/>
        <setting id="user_var" type="text" label="30206" default="username" visible="false"/>
        <setting id="pwd_var" type="text" label="30207" default="password" visible="false"/>
        <setting id="session_length" type="text" label="30208" default="24" visible="false"/>
        <setting id="login_verified" type="text" label="30205" default="Welcome to" visible="false"/>
        <setting id="login_welcome_msg" type="text" label="30210" default="Welcome to Jen %s" visible="false"/>
        <setting id="login_failed_msg" type="text" label="30211" default="Username or Password was incorrect %s" visible="false"/>
        <setting id="login_required_msg" type="text" label="30212" default="Please enter a valid username and password in Settings" visible="false"/>
    </category>-->

    <!-- scraper settings -->
    <category label="Scrapers">
        <setting label="30733" type="lsep"/>
        <setting label="30734" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.MaverickTV/?mode=ScraperSettings)"/>
        <setting id="use_link_dialog" label="30744" type="bool" default="true" />
        <setting id="link_fallthrough" label="30745" type="bool"	default="true" visible="eq(-1,true)"/>
    </category>

    <!-- resolveurl settings -->
    <category label="Resolvers">
        <setting label="30741" type="lsep"/>
        <setting label="30742" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.MaverickTV/?mode=ResolverSettings)"/>

        <!-- filtering settings -->
        <setting label="30735" type="lsep"/>
        <setting id="allow_debrid" label="30743" type="bool" default="false"/>
        <setting id="allow_openload" label="30736" type="bool" default="false"/>
        <setting id="allow_the_video_me" label="30737" type="bool" default="false"/>
        <setting id="allow_vidup_me" label="30738" type="bool" default="false"/>
        <setting label="30760" type="lsep" visible="false"/>
        <setting id="disable_messages" label="30767" type="bool" default="false" visible="false"/>
        <setting id="enable_offensive" label="30761" type="bool" default="false" enable="eq(-1,false)" visible="false"/>
        <setting label="Queueing Options" type="lsep" visible="false"/>
        <setting id="include_watched_queue" label="Include Watched In Collection Queueing" type="bool" default="false" visible="false"/>
        <setting id="autostart_queue" label="Auto start queue if empty" type="bool" default="true" visible="false"/>
    </category>

    <!-- APIS -->
    <category label="Enter Own API's">
        <setting id="debug" type="bool" label="API's" default="false" visible="true"/>
        <setting id="first_run" label="first run" type="bool" default="false" visible="false"/>
        <setting label="Cache Location" id="cache_folder" type="folder" default="special://profile/addon_data/plugin.video.MaverickTV/" visible="false"/>
        <setting label="TVDB API Key" type="text" id="tvdb_api_key" option="hidden" default="API KEY GOES HERE" visible="eq(-3,true)"/>
        <setting label="TMDB API Key" type="text" id="tmdb_api_key" option="hidden" default="64f88d2f24af5def45905844399c1c2e" visible="eq(-4,true)"/>
        <setting label="Trakt Client ID" type="text" id="trakt_api_client_id" option="hidden" default="a6956bb1d8f69442aa879f9cc7c3fc3d552d6f855173e772bb289c66d40bdbc4" visible="eq(-5,true)"/>
        <setting label="Trakt Client Secret" type="text" id="trakt_api_client_secret" option="hidden" visible="!eq(-1,true) + eq(-6,true)" default="559985b1463932a3d04449fc0b7c571d2ac71f6abbd4bb6253aacc0083d13c6a"/>
        <setting label="Last.fm API Key" type="text" id="lastfm_api_key" option="hidden" default="API KEY GOES HERE" visible="eq(-7,true)"/>
        <setting label="Last.fm Secret" type="text" id="lastfm_secret" option="hidden" visible="!eq(-1,true) + eq(-8,true)" default="API KEY GOES HERE"/>
        <setting id="TRAKT_ACCESS_TOKEN" label="" type="text" visible="false"/>
        <setting id="TRAKT_EXPIRES_AT" label="" type="text" visible="false"/>
        <setting id="TRAKT_REFRESH_TOKEN" label="" type="text" visible="false"/>
    </category>

    <!-- Dev mode - future features for playlisters and developers -->
    <category label="30770">
        <setting id="debug" type="bool" label="30758" default="false" visible="true"/>
        <setting id="root_xml" type="text" label="30060" option="hidden" default="aHR0cHM6Ly9wYXN0ZWJpbi5jb20vcmF3L1d6bUdGc1dV" visible="false"/>
        <setting id="message_xml_url" type="text" label="News File Location" option="hidden" default="file://news.xml" visible="false"/>
        <setting id="current_version" type="text" label="Current API Set Version" option="hidden" default="0" visible="false"/>
        <setting id="enable_notification" type="bool" label="Enable Service Notification" option="hidden" default="true" visible="false"/>
        <setting id="disable_service" type="bool" label="Disable Service after First Run" option="hidden" default="true" visible="false"/>
        <setting id="search_db_location" type="text" label="30061" option="hidden" default="" visible="false"/>
    </category>

    <!-- Third party install options -->
    <!--  <category label="30740">
            <setting id="installaddons"     label="30766"   type="bool"   default="false"   visible="true"/>
            <setting label="30762"  type="lsep" />
            <setting label="30763"  type="lsep" />
            <setting id="installrepos"      label="30757"   type="bool"   default="false"   visible="eq(-3,true)"/>
            <setting label="30765"  type="lsep" visible="eq(-4,true)"/>
        </category>-->

</settings>
