<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="VERSION" type="text"   label="Current Version"   default="0.0.0" visible="false"/>
		
	<setting id="AUTOPLAY" type="bool"   label="Auto-play cartoons" default="true"/>		
		
        <setting id="DOWNLOAD_FOLDER" label="Download folder"           type="folder" default="" />
        <setting id="DOWNLOAD_AUTO"   label="Auto select download host" type="bool"   default="true" />		
		
	<setting type="action" label="Clear cache"               action="RunScript($CWD/clearcache.py)"/>
        <setting type="action" label="Clear all watched status"  action="RunScript($CWD/clearwatched.py)"/>
    </category>
</settings>