<settings>
    <setting id="infopanelplot" type="bool">false</setting>
    <setting id="homeprogramtile10" type="bool">false</setting>
    <setting id="homeprogramtile1" type="bool">false</setting>
    <setting id="hometvshows" type="bool">false</setting>
    <setting id="artistslideshow.enabled" type="bool">false</setting>
    <setting id="homemusic" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="osd.hidechapterinfo" type="bool">false</setting>
    <setting id="homemusictile1" type="bool">true</setting>
    <setting id="hometvshowtile4" type="bool">false</setting>
    <setting id="infolisthideinfo" type="bool">false</setting>
    <setting id="thumbnailsmall" type="bool">false</setting>
    <setting id="guide.custom4" type="bool">false</setting>
    <setting id="extendeduseclearlogo" type="bool">false</setting>
    <setting id="hidefanart" type="bool">false</setting>
    <setting id="nextaired.enabled" type="bool">false</setting>
    <setting id="homeweather" type="bool">true</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="homemusictile5" type="bool">true</setting>
    <setting id="homemovies" type="bool">false</setting>
    <setting id="skin.initialization" type="bool">true</setting>
    <setting id="osdmusicalt.enabled" type="bool">false</setting>
    <setting id="guide.hideweather" type="bool">false</setting>
    <setting id="extendeduselandscape" type="bool">false</setting>
    <setting id="homemusictile6" type="bool">true</setting>
    <setting id="customhomepanel2" type="bool">false</setting>
    <setting id="osd.hideweatherclock" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="startupplaylist" type="bool">false</setting>
    <setting id="nohdflag" type="bool">false</setting>
    <setting id="homevideotile5" type="bool">false</setting>
    <setting id="homehometile2" type="bool">false</setting>
    <setting id="homemusictile4" type="bool">false</setting>
    <setting id="homevideotile3" type="bool">false</setting>
    <setting id="homepicturestile4" type="bool">true</setting>
    <setting id="homeprogramtile9" type="bool">false</setting>
    <setting id="homeprogramtile8" type="bool">false</setting>
    <setting id="homeprogramtile7" type="bool">false</setting>
    <setting id="musicpanelbiography" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="musicinfolistreview" type="bool">false</setting>
    <setting id="musicpanelreview" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="homeprogramtile4" type="bool">false</setting>
    <setting id="homeprogramtile3" type="bool">false</setting>
    <setting id="homeprogramtile2" type="bool">false</setting>
    <setting id="movieinformation.playtrailer" type="bool">false</setting>
    <setting id="playtrailer.minimized" type="bool">false</setting>
    <setting id="epggenrecolors.enabled" type="bool">false</setting>
    <setting id="backgroundvideo" type="bool">false</setting>
    <setting id="homepicturestile2" type="bool">false</setting>
    <setting id="homepicturestile1" type="bool">false</setting>
    <setting id="homeprogramtile5" type="bool">false</setting>
    <setting id="osdvisualisation.enabled" type="bool">false</setting>
    <setting id="musicinfolistbiography" type="bool">false</setting>
    <setting id="videoosd.ontop" type="bool">false</setting>
    <setting id="homepictures" type="bool">false</setting>
    <setting id="usedbvolume" type="bool">false</setting>
    <setting id="hometv" type="bool">true</setting>
    <setting id="extendeduseclearmovieart" type="bool">false</setting>
    <setting id="hidehomeprofileinfo" type="bool">false</setting>
    <setting id="globalrss.top" type="bool">false</setting>
    <setting id="guide.hideclock" type="bool">false</setting>
    <setting id="customhomepanel6" type="bool">false</setting>
    <setting id="customhomepanel3" type="bool">false</setting>
    <setting id="extendeduseclearmovielogo" type="bool">false</setting>
    <setting id="hometvshowtile2" type="bool">true</setting>
    <setting id="homevideotile2" type="bool">true</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="cdart.enabled" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="guide.custom3" type="bool">false</setting>
    <setting id="homepicturestile3" type="bool">true</setting>
    <setting id="hidehomebuttons" type="bool">false</setting>
    <setting id="infolistshowplotonfocus" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="homemusictile3" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="globalrss.bottom" type="bool">false</setting>
    <setting id="homevideotile6" type="bool">false</setting>
    <setting id="HomeVideoTile1" type="bool">true</setting>
    <setting id="homemusictile2" type="bool">false</setting>
    <setting id="homevideotile4" type="bool">false</setting>
    <setting id="fanarthideinfo" type="bool">false</setting>
    <setting id="extendedusemovielandscape" type="bool">false</setting>
    <setting id="autoscroll.disable" type="bool">false</setting>
    <setting id="homeprograms" type="bool">true</setting>
    <setting id="preferlandscapeart" type="bool">false</setting>
    <setting id="hidehomecolouredtiles" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="fanartplot" type="bool">false</setting>
    <setting id="nextaired.update" type="bool">false</setting>
    <setting id="thumbnailvideosmall" type="bool">false</setting>
    <setting id="spincontrol.default" type="bool">false</setting>
    <setting id="thumbnailhideinfo" type="bool">false</setting>
    <setting id="guide.custom2" type="bool">false</setting>
    <setting id="infolistplot" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="automusicfullscreen.enabled" type="bool">false</setting>
    <setting id="extendeduseclearart" type="bool">false</setting>
    <setting id="thumbnailplot" type="bool">false</setting>
    <setting id="customhomepanel4" type="bool">false</setting>
    <setting id="infopanelhideinfo" type="bool">false</setting>
    <setting id="customhomepanel5" type="bool">false</setting>
    <setting id="hidehomesubmenuarrow" type="bool">false</setting>
    <setting id="hometvshowtile3" type="bool">false</setting>
    <setting id="guide.custom1" type="bool">false</setting>
    <setting id="hometvshowtile1" type="bool">true</setting>
    <setting id="posterstv" type="bool">false</setting>
    <setting id="extendedusemovieclearart" type="bool">false</setting>
    <setting id="customhomepanel1" type="bool">false</setting>
    <setting id="guide.hideclockdate" type="bool">false</setting>
    <setting id="homehometile1" type="bool">false</setting>
    <setting id="osd.hidefilestreampath" type="bool">false</setting>
    <setting id="homeprogramtile6" type="bool">false</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="HomeProgramTile6.Label" type="string"></setting>
    <setting id="music.name" type="string">Music add-ons</setting>
    <setting id="HomeProgramsMultiImage" type="string"></setting>
    <setting id="HomeTVShowsMultiImage" type="string"></setting>
    <setting id="CustomHomePanel3.Label" type="string"></setting>
    <setting id="homewidget.5.type" type="string">21</setting>
    <setting id="HomeVideoTile2.Animate" type="string"></setting>
    <setting id="HomePicturesTile3.Animate" type="string"></setting>
    <setting id="HomeProgramTile5.ShowLabel" type="string"></setting>
    <setting id="HomeVideoTile5.Animate" type="string"></setting>
    <setting id="HomePicturesTile3.Path" type="string">plugin.image.cheezburger_network</setting>
    <setting id="HomeProgramTile5.Animate" type="string"></setting>
    <setting id="HomeTVShowTile2.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.ustvnow/resources/images/icon.png</setting>
    <setting id="HomeTVShowTile3.Type" type="string"></setting>
    <setting id="HomeHomeTile1.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.3.Label" type="string">New Movies</setting>
    <setting id="HomeTVShowTile3.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.3.Path" type="string"></setting>
    <setting id="HomeHomeTile1.Animate" type="string"></setting>
    <setting id="HomeVideoTile5.Type" type="string"></setting>
    <setting id="HomeMusicTile5.Label" type="string">SoundCloud</setting>
    <setting id="HomePicturesTile1.Label" type="string"></setting>
    <setting id="HomeTVShowTile3.Path" type="string"></setting>
    <setting id="HomeHomeTile2.Label" type="string"></setting>
    <setting id="HomeProgramTile3.Icon" type="string"></setting>
    <setting id="HomeTVShowTile4.TypeName" type="string"></setting>
    <setting id="CustomHomePanel2.Label" type="string"></setting>
    <setting id="HomeTVShowTile4.Animate" type="string"></setting>
    <setting id="HomeProgramTile7.TypeName" type="string"></setting>
    <setting id="HomeVideoTile6.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile1.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile4.Icon" type="string"></setting>
    <setting id="HomePicturesTile3.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile1.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.itunes_podcasts/icon.png</setting>
    <setting id="HomeMusicTile2.TypeName" type="string">Music add-on</setting>
    <setting id="HomeVideoTile6.Animate" type="string"></setting>
    <setting id="HomeHomeSingleImage" type="string"></setting>
    <setting id="HomeMusicTile5.ShowLabel" type="string"></setting>
    <setting id="PicturesPath" type="string"></setting>
    <setting id="HomeProgramTile8.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile3.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile1.Animate" type="string"></setting>
    <setting id="HomeMusicTile5.Path" type="string">plugin.audio.soundcloud</setting>
    <setting id="HomeMusicTile1.Animate" type="string"></setting>
    <setting id="HomeMusicTile2.Path" type="string">plugin.audio.shoutcast</setting>
    <setting id="HomeTVShowTile3.Animate" type="string"></setting>
    <setting id="HomePicturesTile2.Path" type="string"></setting>
    <setting id="HomeVideoTile2.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.seren/ico-fox-gold-final.png</setting>
    <setting id="HomeProgramTile7.Animate" type="string"></setting>
    <setting id="HomeVideoTile1.Path" type="string">plugin.video.exodusredux</setting>
    <setting id="HomeTVShowTile1.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.ccloudtv/icon.png</setting>
    <setting id="HomeProgramTile2.Animate" type="string"></setting>
    <setting id="HomePicturesTile1.Icon" type="string"></setting>
    <setting id="HomeProgramTile10.Path" type="string"></setting>
    <setting id="HomeProgramTile10.Label" type="string"></setting>
    <setting id="HomeMusicTile3.Label" type="string"></setting>
    <setting id="HomeVideoTile1.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.exodusredux/icon.png</setting>
    <setting id="HomeTVShowTile1.Animate" type="string"></setting>
    <setting id="Guide.Custom4.Label" type="string"></setting>
    <setting id="HomeWidget.5.Label" type="string">Random Songs</setting>
    <setting id="HomeVideoTile2.ShowLabel" type="string"></setting>
    <setting id="CustomHomePanel4.Label" type="string"></setting>
    <setting id="HomeProgramTile10.TypeName" type="string"></setting>
    <setting id="HomeMusicTile3.Path" type="string"></setting>
    <setting id="HomeWidget.1.Label" type="string">Popular Movies</setting>
    <setting id="HomeProgramTile6.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile4.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.image.flickr/icon.png</setting>
    <setting id="HomeProgramTile2.ShowLabel" type="string"></setting>
    <setting id="globalbackdropmulti" type="string"></setting>
    <setting id="HomeProgramTile4.Label" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="HomePicturesTile4.Path" type="string">plugin.image.flickr</setting>
    <setting id="HomeProgramTile10.Animate" type="string"></setting>
    <setting id="HomeWeatherSingleImage" type="string"></setting>
    <setting id="HomeMusicTile2.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.audio.shoutcast/icon.png</setting>
    <setting id="HomePicturesTile1.TypeName" type="string"></setting>
    <setting id="HomeProgramTile10.Icon" type="string"></setting>
    <setting id="Guide.Custom2.Label" type="string"></setting>
    <setting id="HomeProgramTile9.Animate" type="string"></setting>
    <setting id="HomeProgramTile1.Label" type="string"></setting>
    <setting id="HomeProgramTile7.Label" type="string"></setting>
    <setting id="HomeMusicTile4.TypeName" type="string"></setting>
    <setting id="HomeMusicTile2.Animate" type="string"></setting>
    <setting id="HomeMusicSingleImage" type="string"></setting>
    <setting id="HomeProgramTile8.Animate" type="string"></setting>
    <setting id="HomeVideoTile6.Icon" type="string"></setting>
    <setting id="homehometile1.typename" type="string">Video add-on</setting>
    <setting id="HomeMusicTile4.Icon" type="string"></setting>
    <setting id="HomeMusicTile3.Icon" type="string"></setting>
    <setting id="HomeProgramTile2.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile4.Label" type="string"></setting>
    <setting id="Guide.Custom3.Label" type="string"></setting>
    <setting id="HomeVideoTile6.Path" type="string"></setting>
    <setting id="HomeTVShowsSingleImage" type="string"></setting>
    <setting id="HomeVideoTile5.Path" type="string"></setting>
    <setting id="HomeHomeTile2.Animate" type="string"></setting>
    <setting id="HomeProgramTile3.Path" type="string"></setting>
    <setting id="HomeMusicTile2.Label" type="string">SHOUTcast 2</setting>
    <setting id="HomeTVShowTile1.TypeName" type="string">Video add-on</setting>
    <setting id="HomeMoviesMultiImage" type="string"></setting>
    <setting id="HomeMoviesSingleImage" type="string"></setting>
    <setting id="HomeVideoTile1.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile7.Icon" type="string"></setting>
    <setting id="GlobalOverlay" type="string">special://skin/extras/fade/overlay.png</setting>
    <setting id="CustomHomePanel1.Label" type="string"></setting>
    <setting id="homewidget.4.type" type="string">4</setting>
    <setting id="homemusictile4.type" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="HomePicturesTile4.Label" type="string">flickr</setting>
    <setting id="HomeHomeTile2.TypeName" type="string"></setting>
    <setting id="HomeHomeMultiImage" type="string"></setting>
    <setting id="HomeProgramTile4.TypeName" type="string"></setting>
    <setting id="HomeProgramTile8.TypeName" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="HomeTVShowTile2.Label" type="string">USTVnow</setting>
    <setting id="HomePicturesTile4.TypeName" type="string">Picture add-on</setting>
    <setting id="homevideotile6.typename" type="string"></setting>
    <setting id="HomeHomeTile1.Label" type="string"></setting>
    <setting id="HomeMusicTile4.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile3.Icon" type="string"></setting>
    <setting id="HomeVideoTile1.Label" type="string">Exodus Redux</setting>
    <setting id="HomeMusicTile1.TypeName" type="string">Music add-on</setting>
    <setting id="HomeProgramTile1.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile3.Animate" type="string"></setting>
    <setting id="HomeProgramTile8.Label" type="string">None</setting>
    <setting id="HomeProgramTile7.Path" type="string"></setting>
    <setting id="HomeVideoTile5.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile1.Path" type="string">plugin.video.ccloudtv</setting>
    <setting id="HomeProgramTile9.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile6.Animate" type="string"></setting>
    <setting id="HomeVideoTile5.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile9.TypeName" type="string"></setting>
    <setting id="HomePicturesTile2.Icon" type="string"></setting>
    <setting id="HomeProgramTile3.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile3.TypeName" type="string">Picture add-on</setting>
    <setting id="rss.setting" type="string">Disabled</setting>
    <setting id="HomeMusicTile5.TypeName" type="string">Music add-on</setting>
    <setting id="HomeWidget.1.Path" type="string"></setting>
    <setting id="HomeHomeTile2.Type" type="string"></setting>
    <setting id="HomeVideoTile2.Label" type="string">Seren</setting>
    <setting id="HomeTVShowTile4.Path" type="string"></setting>
    <setting id="HomeProgramTile9.Label" type="string"></setting>
    <setting id="HomeHomeTile1.Icon" type="string"></setting>
    <setting id="HomeTVShowTile4.Icon" type="string"></setting>
    <setting id="HomeProgramTile5.Path" type="string"></setting>
    <setting id="homewidget.3.type" type="string">3</setting>
    <setting id="HomeProgramsSingleImage" type="string"></setting>
    <setting id="HomeTVShowTile3.TypeName" type="string"></setting>
    <setting id="HomeWidget.4.Path" type="string"></setting>
    <setting id="HomeSettingsSingleImage" type="string"></setting>
    <setting id="homevideotile1.typename" type="string">Video add-on</setting>
    <setting id="HomeProgramTile3.Label" type="string"></setting>
    <setting id="HomeMusicTile6.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.video.ds/icon.png</setting>
    <setting id="GlobalBackdropSingle" type="string">special://skin/extras/backgrounds/01.jpg</setting>
    <setting id="Guide.Custom1.Label" type="string"></setting>
    <setting id="HomeWidget.2.Path" type="string"></setting>
    <setting id="HomeHomeTile2.ShowLabel" type="string"></setting>
    <setting id="HomeHomeTile2.Path" type="string"></setting>
    <setting id="HomePicturesTile4.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile1.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.6.Label" type="string">XKCD.com</setting>
    <setting id="homevideotile6.type" type="string"></setting>
    <setting id="HomeTVShowTile2.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile1.ShowLabel" type="string"></setting>
    <setting id="moviempaalang" type="string"></setting>
    <setting id="HomeProgramTile2.Label" type="string"></setting>
    <setting id="homewidget.1.type" type="string">7</setting>
    <setting id="HomeProgramTile3.TypeName" type="string"></setting>
    <setting id="HomeMusicTile1.Label" type="string">Apple iTunes Podcasts</setting>
    <setting id="HomeProgramTile4.Path" type="string"></setting>
    <setting id="HomeProgramTile6.Path" type="string"></setting>
    <setting id="HomeTVShowTile3.Label" type="string"></setting>
    <setting id="HomeVideoTile2.TypeName" type="string">Video add-on</setting>
    <setting id="HomeProgramTile10.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile4.Path" type="string"></setting>
    <setting id="HomeProgramTile6.TypeName" type="string"></setting>
    <setting id="HomeProgramTile9.Path" type="string"></setting>
    <setting id="HomePicturesTile2.Animate" type="string"></setting>
    <setting id="HomeMusicTile5.Animate" type="string"></setting>
    <setting id="HomeProgramTile5.TypeName" type="string"></setting>
    <setting id="HomeMusicTile6.Label" type="string">[B][COLOR lightseagreen]D[/COLOR]eath[COLOR  lightseagreen]S[/COLOR]tar[/B]</setting>
    <setting id="HomeWidget.4.Label" type="string">New TV Shows</setting>
    <setting id="HomeProgramTile8.Path" type="string"></setting>
    <setting id="HomePicturesTile2.Label" type="string"></setting>
    <setting id="HomePicturesTile4.Animate" type="string"></setting>
    <setting id="HomeProgramTile8.Icon" type="string">DefaultAddonNone.png</setting>
    <setting id="HomeMusicTile4.Animate" type="string"></setting>
    <setting id="HomeSettingsMultiImage" type="string"></setting>
    <setting id="HomeVideoTile1.Animate" type="string"></setting>
    <setting id="HomeProgramTile4.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile4.Label" type="string"></setting>
    <setting id="HomeProgramTile5.Icon" type="string"></setting>
    <setting id="HomeProgramTile1.Path" type="string"></setting>
    <setting id="HomeWidget.5.Path" type="string"></setting>
    <setting id="HomePicturesTile3.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.image.cheezburger_network/icon.png</setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomePicturesTile2.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile2.Animate" type="string"></setting>
    <setting id="HomeMusicTile6.Animate" type="string"></setting>
    <setting id="HomeProgramTile1.Animate" type="string"></setting>
    <setting id="homewidget.6.type" type="string">30</setting>
    <setting id="HomeVideoTile2.Path" type="string">plugin.video.seren</setting>
    <setting id="HomePicturesTile1.Path" type="string"></setting>
    <setting id="HomePicturesTile3.Label" type="string">Cheezburger Network</setting>
    <setting id="HomeProgramTile9.Icon" type="string"></setting>
    <setting id="homevideotile3.path" type="string"></setting>
    <setting id="HomeProgramTile2.Icon" type="string"></setting>
    <setting id="HomeTVShowTile2.Path" type="string">plugin.video.ustvnow</setting>
    <setting id="HomeMusicTile6.TypeName" type="string">Music add-on</setting>
    <setting id="HomeProgramTile5.Label" type="string"></setting>
    <setting id="HomeMusicTile6.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile1.Path" type="string">plugin.video.itunes_podcasts</setting>
    <setting id="StartupPlaylist.Path" type="string"></setting>
    <setting id="HomeProgramTile1.TypeName" type="string"></setting>
    <setting id="HomeMusicTile5.Icon" type="string">/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/plugin.audio.soundcloud/resources/icon.png</setting>
    <setting id="HomeVideoTile5.Icon" type="string"></setting>
    <setting id="homevideotile4.path" type="string"></setting>
    <setting id="HomeProgramTile7.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile6.Path" type="string">plugin.video.ds</setting>
    <setting id="HomeMusicTile2.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile2.Path" type="string"></setting>
    <setting id="homevideotile1.type" type="string">0</setting>
    <setting id="HomeProgramTile3.Animate" type="string"></setting>
    <setting id="HomeWeatherMultiImage" type="string"></setting>
    <setting id="HomeVideoTile6.Label" type="string"></setting>
    <setting id="HomeTVShowTile2.TypeName" type="string">Video add-on</setting>
    <setting id="homevideotile2.type" type="string">0</setting>
    <setting id="HomeHomeTile2.Icon" type="string"></setting>
    <setting id="HomePicturesTile2.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.2.Label" type="string">Ongoing Episodes</setting>
    <setting id="HomeVideoTile5.Label" type="string"></setting>
    <setting id="hometvshowtile1.type" type="string">0</setting>
    <setting id="HomeProgramTile1.Icon" type="string"></setting>
    <setting id="HomePicturesSingleImage" type="string"></setting>
    <setting id="HomeMusicTile3.TypeName" type="string"></setting>
    <setting id="HomeProgramTile4.Animate" type="string"></setting>
    <setting id="HomeMusicMultiImage" type="string"></setting>
    <setting id="homehometile1.type" type="string">0</setting>
    <setting id="HomeProgramTile6.Icon" type="string"></setting>
    <setting id="HomeHomeTile1.Path" type="string"></setting>
    <setting id="homewidget.2.type" type="string">2</setting>
    <setting id="HomeTVShowTile4.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile1.Label" type="string">cCloud TV</setting>
    <setting id="hometvshowtile2.type" type="string">0</setting>
    <setting id="homemusictile1.type" type="string">1</setting>
    <setting id="homemusictile2.type" type="string">1</setting>
    <setting id="homemusictile5.type" type="string">1</setting>
    <setting id="homemusictile6.type" type="string">1</setting>
    <setting id="homeprogramtile8.type" type="string"></setting>
    <setting id="homepicturestile3.type" type="string">2</setting>
    <setting id="homepicturestile4.type" type="string">2</setting>
    <setting id="HomeTVShowTile4.Type" type="string"></setting>
    <setting id="HomeMusicTile3.Type" type="string"></setting>
    <setting id="HomePicturesTile1.Type" type="string"></setting>
    <setting id="HomePicturesTile2.Type" type="string"></setting>
    <setting id="HomeProgramTile5.Type" type="string"></setting>
    <setting id="HomeProgramTile6.Type" type="string"></setting>
    <setting id="HomeProgramTile7.Type" type="string"></setting>
    <setting id="HomeProgramTile1.Type" type="string"></setting>
    <setting id="HomeProgramTile2.Type" type="string"></setting>
    <setting id="HomeProgramTile3.Type" type="string"></setting>
    <setting id="HomeProgramTile4.Type" type="string"></setting>
    <setting id="HomeProgramTile9.Type" type="string"></setting>
    <setting id="HomeProgramTile10.Type" type="string"></setting>
    <setting id="music.path" type="string">plugins</setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
</settings>
