<settings>
    <setting id="ADDTOFAVES_ON_STD" value="true" />
    <setting id="ALLOW_PLAYLIST_DELETE" value="false" />
    <setting id="ALPHA_SORT" value="false" />
    <setting id="ART_BANNER" value="0" />
    <setting id="ART_LANDSCAPE" value="0" />
    <setting id="ART_POSTER" value="0" />
    <setting id="AUTOSTART" value="false" />
    <setting id="CACHE" value="0" />
    <setting id="CACHERECOMMEND" value="true" />
    <setting id="CONTENTTYPE" value="Movies" />
    <setting id="CONTEXT" value="true" />
    <setting id="CONTEXTRECOMMEND" value="false" />
    <setting id="CONTEXTSS" value="false" />
    <setting id="CONTEXT_STD" value="true" />
    <setting id="CONTEXT_STYLE" value="0" />
    <setting id="COPY_PLAYLISTS" value="false" />
    <setting id="DEBUG" value="false" />
    <setting id="DEFAULT_FANART" value="0" />
    <setting id="DEFAULT_IMAGE" value="" />
    <setting id="DISABLEMOVIEVIEW" value="false" />
    <setting id="DISPLAYNAME" value="XBMC" />
    <setting id="DOWNLOAD_FOLDER" value="special://profile/addon_data/plugin.program.super.favourites/downloads" />
    <setting id="DOWNLOAD_ON_STD" value="false" />
    <setting id="DUMMY" value="" />
    <setting id="FOLDER" value="special://profile/addon_data/plugin.program.super.favourites/" />
    <setting id="HOTKEY" value="G" />
    <setting id="IMPORT_RESET" value="false" />
    <setting id="INHERIT" value="true" />
    <setting id="LABEL_NUMERIC" value="false" />
    <setting id="LABEL_NUMERIC_QL" value="false" />
    <setting id="LOCATION" value="" />
    <setting id="MANUAL_ID" value="1" />
    <setting id="MENU_ADDON_SETTINGS" value="true" />
    <setting id="MENU_ADDTOFAVES" value="true" />
    <setting id="MENU_COPY_PROPS" value="false" />
    <setting id="MENU_DEF_ISEARCH" value="false" />
    <setting id="MENU_DOWNLOADS" value="false" />
    <setting id="MENU_EDITFAVE" value="true" />
    <setting id="MENU_IRECOMMEND" value="false" />
    <setting id="MENU_ISEARCH" value="false" />
    <setting id="MENU_MSG" value="false" />
    <setting id="MENU_PLUGINS" value="false" />
    <setting id="MENU_PREV_LOCN" value="true" />
    <setting id="MENU_QUICKLAUNCH" value="false" />
    <setting id="MENU_SF_SETTINGS" value="true" />
    <setting id="MENU_STD_MENU" value="true" />
    <setting id="MENU_VIEW_IMAGES" value="false" />
    <setting id="METARECOMMEND" value="true" />
    <setting id="PLAY_PLAYLISTS" value="true" />
    <setting id="RECOMMENDFIRST" value="false" />
    <setting id="REMOTE" value="false" />
    <setting id="SFRUNNING" value="17-30" />
    <setting id="SHOWIEXPLORE" value="false" />
    <setting id="SHOWIMPORT" value="false" />
    <setting id="SHOWIPLAY" value="false" />
    <setting id="SHOWNEW" value="false" />
    <setting id="SHOWRECOMMEND" value="true" />
    <setting id="SHOWREMEMBER" value="true" />
    <setting id="SHOWSEP" value="false" />
    <setting id="SHOWSS" value="false" />
    <setting id="SHOWUNAVAIL" value="false" />
    <setting id="SHOWXBMC" value="true" />
    <setting id="SHOW_FANART" value="true" />
    <setting id="SHOW_STARTUP_TXT" value="false" />
    <setting id="STARTUP_TXT" value="[COLOR chartreuse][B]Please enter the startup message[CR]you would like to display[/B][/COLOR]" />
    <setting id="STRIPNUMBERS" value="true" />
    <setting id="SYNOPSRECOMMEND" value="true" />
    <setting id="VERSION" value="1.0.59" />
    <setting id="VIEWTYPE" value="0" />
    <setting id="WHITELIST" value="" />
</settings>
