<settings>
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable 			Autoview" 			
		default="true"/>
	<setting id="movies-view" type="number" label="Movies View" 				default="500" enable="!eq(-1,false)"/>
     <setting id="list-view" type="number" label="List View" 				default="50" enable="!eq(-1,false)"/>
	<setting id="default-view" type="number" label="Default 			View" 			
		default="50"/>
   </category>
<category label="Enable / Disable Sections">
<setting id="topdocfilms" type="bool" label="Top Documentary Films" default="true"/>
     <setting id="docnet" type="bool" label="Ducumentary.net" default="true"/>
     <setting id="doclog" type="bool" label="Documentary Log" default="true"/>
     <setting id="docstorm" type="bool" label="Documentary Storm" default="true"/>

<setting id="resolver" type="bool" label="Resolver Settings" default="true"/>
</category>

</settings>

