<settings>
	<category label="Settings">
		<setting label="Fresh Start" visible="false" type="bool" id="freshstart" default="true"/>
        <setting label="Enable XXX Pass" visible="false" type="bool" id="enablexxxpass" default="false"/>
        <setting label="XXX Pass:" type="text" visible="false"   id="xxxpass"  enable="!eq(-1,)" default=""/>
		<setting label="fs" visible="false" type="bool" id="freshstart" default="true"/>
		<setting id="source" label="30101" visible="false" type="labelenum" default="XMLTV"
                 values="YouSee.tv|XMLTV" />

        <setting id="youseetv.category" label="30102" type="labelenum" default="Danske"
                 values="Danske|Filmkanaler|Grundpakken|Mellempakken|Fuldpakken|Nordiske|Engelske|Tyske|Latinske|Slaviske|Tyrkiske|Kurdiske|Arabiske|Asiatiske"
                 visible="false" />
        <setting id="program.background.enabled" label="30107" type="bool" default="true" visible="false"/>

        <setting id="xmltv.type" label="30123" type="enum" default="30125" lvalues="30124|30125" visible="false"/>
        <setting id="xmltv.file" label="30103" type="file" visible="false" />
        <setting id="xmltv.url" label="30122" default="" type="text" visible="false"/>
        <setting id="xmltv.logo.folder" label="30116" type="folder" visible="false"/>
		<setting id="notifications.enabled" visible="false" label="30106" type="bool" default="false" />
        <setting label="30108" type="action" visible="false" action="RunScript($CWD/notification.py)" />
		<setting id="cache.data.on.xbmc.startup" label="30110" type="bool" visible="false" default="true" />
        <setting id="enable.osd" label="30118" visible="false" type="bool" default="false" />
        <setting id="alternative.playback" visible="false" label="30120" type="bool" default="true" />
	</category>
</settings>