<settings>
	<category label="30200">
		<setting id="language" type="enum" lvalues="30212|30213" label="30211" default="0"/>
		<setting id="location" type="enum" lvalues="30205|30206|30207" label="30204" default="0"/>

		<setting type="sep"/>
		<setting id="livefilter" type="enum" lvalues="30301|30302|30303|30304|30305|30306|30307|30308" label="30300" default="0"/>
		<setting id="livelimit" type="enum" lvalues="30401|30402|30403|30404" label="30400" default="0"/>

		<setting type="sep"/>
		<setting id="debug" type="bool" label="31101" default="false"/>
	</category>
	<category label="40200">
		<setting id="htmlstripping" type="bool" label="40201" default="false"/>
	</category>
</settings>
