<settings>
    <setting id="bandwidth" value="2500000" />
    <setting id="blacklist_confirm_toggle" value="true" />
    <setting id="cache_expire_time" value="3" />
    <setting id="framerate_limit" value="false" />
    <setting id="irc_enable" value="false" />
    <setting id="items_per_page" value="25" />
    <setting id="live_notify" value="false" />
    <setting id="live_notify_at_start" value="true" />
    <setting id="live_notify_audible" value="false" />
    <setting id="live_notify_group_start" value="false" />
    <setting id="live_previews_enable" value="false" />
    <setting id="live_reconnect" value="false" />
    <setting id="menu_browse" value="true" />
    <setting id="menu_browse_clips" value="false" />
    <setting id="menu_browse_communities" value="false" />
    <setting id="menu_browse_games" value="false" />
    <setting id="menu_browse_live" value="false" />
    <setting id="menu_browse_playlists" value="false" />
    <setting id="menu_browse_ps4" value="false" />
    <setting id="menu_browse_videos" value="false" />
    <setting id="menu_browse_xbox_one" value="false" />
    <setting id="menu_featured" value="true" />
    <setting id="menu_following" value="true" />
    <setting id="menu_following_channels" value="false" />
    <setting id="menu_following_clips" value="false" />
    <setting id="menu_following_games" value="false" />
    <setting id="menu_following_live" value="false" />
    <setting id="menu_following_playlists" value="false" />
    <setting id="menu_search" value="true" />
    <setting id="menu_search_channels" value="false" />
    <setting id="menu_search_games" value="false" />
    <setting id="menu_search_streams" value="false" />
    <setting id="menu_search_url" value="false" />
    <setting id="menu_settings" value="true" />
    <setting id="notify_refresh" value="true" />
    <setting id="oauth_clientid" value="" />
    <setting id="oauth_redirecturi" value="" />
    <setting id="oauth_token" value="" />
    <setting id="private_oauth_clientid" value="kimne78kx3ncx6brgo4mv6wki5h1ko" />
    <setting id="private_oauth_token" value="" />
    <setting id="refresh_cache" value="false" />
    <setting id="refresh_interval" value="10" />
    <setting id="refresh_previews" value="false" />
    <setting id="search_history_size" value="25" />
    <setting id="thumbnail_size" value="2" />
    <setting id="title_display" value="0" />
    <setting id="title_truncate" value="true" />
    <setting id="video_quality" value="0" />
    <setting id="video_quality_ia" value="false" />
    <setting id="video_support_ia_addon" value="false" />
    <setting id="video_support_ia_builtin" value="false" />
    <setting id="vodcast_highlight" value="79" />
</settings>
