<settings>
    <setting id="addon_debug" value="true" />
    <setting id="adult" value="false" />
    <setting id="auto-view" value="true" />
    <setting id="autoclean" value="true" />
    <setting id="autocleanwiz" value="true" />
    <setting id="buildname" value="" />
    <setting id="buildtheme" value="" />
    <setting id="buildversion" value="" />
    <setting id="clearcache" value="true" />
    <setting id="clearpackages" value="true" />
    <setting id="clearthumbs" value="true" />
    <setting id="crashlog" value="false" />
    <setting id="debridlastsave" value="" />
    <setting id="debuglevel" value="2" />
    <setting id="default.addonupdate" value="" />
    <setting id="default.enablerssfeeds" value="" />
    <setting id="default.font" value="" />
    <setting id="default.rssedit" value="" />
    <setting id="default.skincolors" value="" />
    <setting id="default.skintheme" value="" />
    <setting id="default.skinzoom" value="" />
    <setting id="default.soundskin" value="" />
    <setting id="default.startupwindow" value="" />
    <setting id="default.stereostrength" value="" />
    <setting id="defaultskin" value="" />
    <setting id="defaultskinignore" value="false" />
    <setting id="defaultskinname" value="" />
    <setting id="developer" value="" />
    <setting id="disableupdate" value="false" />
    <setting id="enable3rd" value="false" />
    <setting id="errors" value="" />
    <setting id="exodus" value="" />
    <setting id="extract" value="100" />
    <setting id="includeall" value="true" />
    <setting id="includebob" value="true" />
    <setting id="includeexodus" value="true" />
    <setting id="includegenesis" value="true" />
    <setting id="includeonechan" value="true" />
    <setting id="includephoenix" value="true" />
    <setting id="includesalts" value="true" />
    <setting id="includesaltslite" value="true" />
    <setting id="includespecto" value="true" />
    <setting id="includevideo" value="true" />
    <setting id="installed" value="false" />
    <setting id="keepadvanced" value="false" />
    <setting id="keepdebrid" value="false" />
    <setting id="keepfavourites" value="false" />
    <setting id="keeplogin" value="false" />
    <setting id="keepprofiles" value="false" />
    <setting id="keeprepos" value="false" />
    <setting id="keepsources" value="false" />
    <setting id="keepsuper" value="false" />
    <setting id="keeptrakt" value="false" />
    <setting id="keepwhitelist" value="false" />
    <setting id="kodi17iscrap" value="" />
    <setting id="lastbuildcheck" value="2019-02-04" />
    <setting id="latestversion" value="" />
    <setting id="loginlastsave" value="" />
    <setting id="meta" value="" />
    <setting id="metalliq" value="" />
    <setting id="nextautocleanup" value="2019-02-25" />
    <setting id="nextcleandate" value="2019-02-26" />
    <setting id="notedismiss" value="true" />
    <setting id="noteid" value="36" />
    <setting id="oldlog" value="false" />
    <setting id="path" value="" />
    <setting id="pvrclient" value="" />
    <setting id="realexodus" value="" />
    <setting id="realspecto" value="" />
    <setting id="royalwe" value="" />
    <setting id="salts" value="" />
    <setting id="saltshd" value="" />
    <setting id="seperate" value="false" />
    <setting id="show15" value="true" />
    <setting id="show16" value="true" />
    <setting id="show17" value="true" />
    <setting id="show18" value="true" />
    <setting id="showmaint" value="false" />
    <setting id="specto" value="" />
    <setting id="trakt" value="" />
    <setting id="traktlastsave" value="" />
    <setting id="urlresolver" value="" />
    <setting id="velocity" value="" />
    <setting id="velocitykids" value="" />
    <setting id="viewType" value="50" />
    <setting id="wizard1name" value="" />
    <setting id="wizard1url" value="" />
    <setting id="wizard2name" value="" />
    <setting id="wizard2url" value="" />
    <setting id="wizard3name" value="" />
    <setting id="wizard3url" value="" />
    <setting id="wizardlog" value="true" />
    <setting id="wizlog" value="false" />
    <setting id="wizlogcleanby" value="1" />
    <setting id="wizlogcleandays" value="2" />
    <setting id="wizlogcleanlines" value="2" />
    <setting id="wizlogcleansize" value="1" />
</settings>
