<settings>
    <setting id="HomeMenuNoWeatherButton" type="bool">false</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="spotimc_session_remember" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="homepageVideoinfo" type="bool">false</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="View509HideInfo" type="bool">false</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="WindowedTrailer" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">false</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="homepageMusicinfo" type="bool">false</setting>
    <setting id="Show_SlideShow_Paused" type="bool">false</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="HideBackGroundFanart" type="bool">false</setting>
    <setting id="HideEPGwithRDS" type="bool">false</setting>
    <setting id="HideFilenameFlagging" type="bool">false</setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="HomePictureButton3" type="string">plugin.image.nasavisibleearth</setting>
    <setting id="HomeVideosButton5" type="string">plugin.video.salts</setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="HomeProgramButton1" type="string">plugin.program.addoninstaller</setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="HomeVideosButton2" type="string">plugin.video.theroyalwe</setting>
    <setting id="HomeMusicButton4" type="string">plugin.audio.soundcloud</setting>
    <setting id="HomeMusicButton2" type="string">plugin.audio.icecast</setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="HomeVideosButton3" type="string">plugin.video.velocity</setting>
    <setting id="HomePictureButton1" type="string">plugin.image.picasa</setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeProgramButton2" type="string">script.globalsearch</setting>
    <setting id="HomeMusicButton1" type="string">plugin.video.itunes_podcasts</setting>
    <setting id="HomeVideosButton1" type="string">plugin.video.exodus</setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomePictureButton2" type="string">plugin.image.reddit_com</setting>
    <setting id="HomeMusicButton5" type="string">plugin.audio.radioreference</setting>
    <setting id="CustomBackgroundPath" type="string"></setting>
    <setting id="HomeMusicButton3" type="string">plugin.audio.shoutcast</setting>
    <setting id="HomeVideosButton4" type="string">plugin.video.allinone</setting>
</settings>
