<settings>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="HideBackGroundFanart" type="bool">false</setting>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="homepageMusicinfo" type="bool">false</setting>
    <setting id="homepageVideoinfo" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">true</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">true</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">true</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">true</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">true</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="Show_SlideShow_Paused" type="bool">false</setting>
    <setting id="WindowedTrailer" type="bool">false</setting>
    <setting id="HideFilenameFlagging" type="bool">false</setting>
    <setting id="HideEPGwithRDS" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="CustomBackgroundPath" type="string"></setting>
    <setting id="HomeVideosButton1" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeProgramButton1" type="string"></setting>
    <setting id="HomeProgramButton2" type="string"></setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
</settings>
