<settings>
    <setting id="password" value="" />
    <setting id="pattern" value="true" />
    <setting id="reddits" value="mmastreams,boxingstreams,soccerstreams" />
    <setting id="score" value="true" />
    <setting id="showcast" value="true" />
    <setting id="showhehe" value="true" />
    <setting id="showsd" value="true" />
    <setting id="showxrxs" value="true" />
    <setting id="start_time" value="true" />
    <setting id="status" value="true" />
    <setting id="username" value="" />
</settings>
