<settings>
    <setting id="ace_cmd" value="0" />
    <setting id="ace_cmd_alternative" value="" />
    <setting id="aceplay_type" value="0" />
    <setting id="aceporta" value="62062" />
    <setting id="acestream_cachefolder" value="" />
    <setting id="acestream_version" value="" />
    <setting id="active" value="0" />
    <setting id="addon_history" value="false" />
    <setting id="android_port" value="8621" />
    <setting id="android_sopclient" value="" />
    <setting id="app_id" value="" />
    <setting id="auto_appid" value="true" />
    <setting id="auto_ip" value="true" />
    <setting id="autoconfig" value="true" />
    <setting id="buffer_size" value="8192" />
    <setting id="custom_appid" value="" />
    <setting id="custom_kill_ace" value="" />
    <setting id="debug_mode" value="false" />
    <setting id="engine-status" value="true" />
    <setting id="engine_app" value="0" />
    <setting id="external-sopcast" value="0" />
    <setting id="folder" value="" />
    <setting id="force_dvplayer" value="false" />
    <setting id="ip_addr" value="127.0.0.1" />
    <setting id="items_per_page" value="20" />
    <setting id="kill_type" value="0" />
    <setting id="last_version_check" value="" />
    <setting id="loading_time" value="20" />
    <setting id="local_port" value="9000" />
    <setting id="localhost" value="127.0.0.1" />
    <setting id="openeleci386" value="false" />
    <setting id="openelecx86_64" value="false" />
    <setting id="pausable" value="false" />
    <setting id="playerport" value="6878" />
    <setting id="rpi2" value="false" />
    <setting id="save" value="false" />
    <setting id="shutdown-engine" value="true" />
    <setting id="socket_time" value="15" />
    <setting id="sopcast_version" value="3.9.2" />
    <setting id="stream_time" value="6" />
    <setting id="stream_time_osx" value="15" />
    <setting id="total_max_download_rate" value="0" />
    <setting id="total_max_upload_rate" value="0" />
    <setting id="video_port" value="9001" />
    <setting id="wait_time" value="1000" />
</settings>
