<settings>
    <setting id="1080pquality" value="false" />
    <setting id="add_playlist" value="false" />
    <setting id="alluc.api" value="" />
    <setting id="alluc.download" value="false" />
    <setting id="alluc.limit" value="100" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Exuary" />
    <setting id="appearance.alt" value="-" />
    <setting id="ask_playlist_items" value="false" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="debug" value="false" />
    <setting id="donotshowbychannels" value="false" />
    <setting id="downloadPath" value="" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="f58ca098f99aad3055714c1d93ab93a7" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="genesisorpulsar" value="0" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="2" />
    <setting id="hosts.quality" value="3" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.ProjectCypher/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.ProjectCypher/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="logo-folderPath" value="" />
    <setting id="metadata" value="true" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesplanet.pass" value="" />
    <setting id="moviesplanet.user" value="" />
    <setting id="new_url_source" value="http://j.mp/cypherhub$$LSProEncKey=fuckyou$$" />
    <setting id="open_smu_settings" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="parentalblocked" value="false" />
    <setting id="parentalblockedpin" value="" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.1movies" value="true" />
    <setting id="provider.afdah" value="true" />
    <setting id="provider.allucen" value="true" />
    <setting id="provider.animeultima" value="true" />
    <setting id="provider.bmoviez" value="true" />
    <setting id="provider.bobby" value="true" />
    <setting id="provider.cmovies" value="true" />
    <setting id="provider.crazy" value="true" />
    <setting id="provider.dailyrls" value="true" />
    <setting id="provider.dayt" value="true" />
    <setting id="provider.ddls" value="true" />
    <setting id="provider.ddlvalley" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.dizigold" value="true" />
    <setting id="provider.dltube" value="true" />
    <setting id="provider.einthusan" value="true" />
    <setting id="provider.genvideo" value="true" />
    <setting id="provider.gogoanime" value="true" />
    <setting id="provider.gostream" value="true" />
    <setting id="provider.hevcfilm" value="true" />
    <setting id="provider.imdark" value="true" />
    <setting id="provider.kingmovies" value="true" />
    <setting id="provider.library" value="true" />
    <setting id="provider.miradetodo" value="true" />
    <setting id="provider.movie25" value="true" />
    <setting id="provider.movies14" value="true" />
    <setting id="provider.movieshd" value="true" />
    <setting id="provider.moviesplanet" value="true" />
    <setting id="provider.moviexk" value="true" />
    <setting id="provider.myddl" value="true" />
    <setting id="provider.myvideolink" value="true" />
    <setting id="provider.ninemovies" value="true" />
    <setting id="provider.onemovies" value="true" />
    <setting id="provider.onlinedizi" value="true" />
    <setting id="provider.onlinemovies" value="true" />
    <setting id="provider.onlinemoviesis" value="true" />
    <setting id="provider.onseries" value="true" />
    <setting id="provider.openmovies" value="true" />
    <setting id="provider.ororo" value="true" />
    <setting id="provider.pelispedia" value="true" />
    <setting id="provider.phdmovies" value="true" />
    <setting id="provider.playbox" value="true" />
    <setting id="provider.plocker" value="true" />
    <setting id="provider.primewire" value="true" />
    <setting id="provider.projectfree" value="true" />
    <setting id="provider.pubfilmto" value="false" />
    <setting id="provider.putlocker" value="true" />
    <setting id="provider.releasebb" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.rlsmovies" value="true" />
    <setting id="provider.scenedown" value="true" />
    <setting id="provider.sceper" value="true" />
    <setting id="provider.scnrls" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.sezonlukdizi" value="true" />
    <setting id="provider.solarmovie" value="true" />
    <setting id="provider.streamlord" value="true" />
    <setting id="provider.tinydl" value="true" />
    <setting id="provider.tunemovie" value="true" />
    <setting id="provider.tvbmoviez" value="true" />
    <setting id="provider.tvbox" value="true" />
    <setting id="provider.twoddl" value="true" />
    <setting id="provider.videoscraper" value="true" />
    <setting id="provider.watch32" value="true" />
    <setting id="provider.watch5s" value="true" />
    <setting id="provider.watchfree" value="true" />
    <setting id="provider.watchonline" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.wrzcraft" value="true" />
    <setting id="provider.xmovies" value="true" />
    <setting id="provider.ymovies" value="true" />
    <setting id="providers.lang" value="English" />
    <setting id="save_location" value="" />
    <setting id="scrapers.timeout.1" value="40" />
    <setting id="searchotherplugins" value="false" />
    <setting id="seriesever.pass" value="" />
    <setting id="seriesever.user" value="" />
    <setting id="streamlord.pass" value="" />
    <setting id="streamlord.user" value="" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tm.user" value="ecf312223f4e473e6bd576c496055ec0" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="use_thumb" value="false" />
    <setting id="useramount" value="0" />
    <setting id="uservar" value="0" />
</settings>
