<settings>
    <setting id="AdultSwimResolver_enabled" value="true" />
    <setting id="AdultSwimResolver_login" value="true" />
    <setting id="AdultSwimResolver_priority" value="100" />
    <setting id="AliezResolver_enabled" value="true" />
    <setting id="AliezResolver_login" value="true" />
    <setting id="AliezResolver_priority" value="100" />
    <setting id="AllDebridResolver_enabled" value="true" />
    <setting id="AllDebridResolver_login" value="false" />
    <setting id="AllDebridResolver_password" value="" />
    <setting id="AllDebridResolver_priority" value="100" />
    <setting id="AllDebridResolver_token" value="" />
    <setting id="AllDebridResolver_username" value="" />
    <setting id="AmazonCloudResolver_enabled" value="true" />
    <setting id="AmazonCloudResolver_login" value="true" />
    <setting id="AmazonCloudResolver_priority" value="100" />
    <setting id="AniStreamResolver_enabled" value="true" />
    <setting id="AniStreamResolver_login" value="true" />
    <setting id="AniStreamResolver_priority" value="100" />
    <setting id="AnimePortalResolver_enabled" value="true" />
    <setting id="AnimePortalResolver_login" value="true" />
    <setting id="AnimePortalResolver_priority" value="100" />
    <setting id="AnyFilesResolver_enabled" value="true" />
    <setting id="AnyFilesResolver_login" value="true" />
    <setting id="AnyFilesResolver_priority" value="100" />
    <setting id="ApnaSaveResolver_enabled" value="true" />
    <setting id="ApnaSaveResolver_login" value="true" />
    <setting id="ApnaSaveResolver_priority" value="100" />
    <setting id="BitvidResolver_enabled" value="true" />
    <setting id="BitvidResolver_login" value="true" />
    <setting id="BitvidResolver_priority" value="100" />
    <setting id="BlazefileResolver_enabled" value="true" />
    <setting id="BlazefileResolver_login" value="true" />
    <setting id="BlazefileResolver_priority" value="100" />
    <setting id="CastampResolver_enabled" value="true" />
    <setting id="CastampResolver_login" value="true" />
    <setting id="CastampResolver_priority" value="100" />
    <setting id="CdaResolver_enabled" value="true" />
    <setting id="CdaResolver_login" value="true" />
    <setting id="CdaResolver_priority" value="100" />
    <setting id="ClickNUploadResolver_enabled" value="true" />
    <setting id="ClickNUploadResolver_login" value="true" />
    <setting id="ClickNUploadResolver_priority" value="100" />
    <setting id="ClipWatchingResolver_enabled" value="true" />
    <setting id="ClipWatchingResolver_login" value="true" />
    <setting id="ClipWatchingResolver_priority" value="100" />
    <setting id="CloudyResolver_enabled" value="true" />
    <setting id="CloudyResolver_login" value="true" />
    <setting id="CloudyResolver_priority" value="100" />
    <setting id="DaclipsResolver_enabled" value="true" />
    <setting id="DaclipsResolver_login" value="true" />
    <setting id="DaclipsResolver_priority" value="100" />
    <setting id="DailymotionResolver_enabled" value="true" />
    <setting id="DailymotionResolver_login" value="true" />
    <setting id="DailymotionResolver_priority" value="100" />
    <setting id="DateMuleResolver_enabled" value="true" />
    <setting id="DateMuleResolver_login" value="true" />
    <setting id="DateMuleResolver_priority" value="100" />
    <setting id="DatoPornResolver_enabled" value="true" />
    <setting id="DatoPornResolver_login" value="true" />
    <setting id="DatoPornResolver_priority" value="100" />
    <setting id="DebridLinkResolver_enabled" value="true" />
    <setting id="DebridLinkResolver_login" value="false" />
    <setting id="DebridLinkResolver_password" value="" />
    <setting id="DebridLinkResolver_priority" value="100" />
    <setting id="DebridLinkResolver_ts_offset" value="0" />
    <setting id="DebridLinkResolver_username" value="" />
    <setting id="DivxstageResolver_enabled" value="true" />
    <setting id="DivxstageResolver_login" value="true" />
    <setting id="DivxstageResolver_priority" value="100" />
    <setting id="DownaceResolver_enabled" value="true" />
    <setting id="DownaceResolver_login" value="true" />
    <setting id="DownaceResolver_priority" value="100" />
    <setting id="EarnVideosResolver_enabled" value="true" />
    <setting id="EarnVideosResolver_login" value="true" />
    <setting id="EarnVideosResolver_priority" value="100" />
    <setting id="EcostreamResolver_enabled" value="true" />
    <setting id="EcostreamResolver_login" value="true" />
    <setting id="EcostreamResolver_priority" value="100" />
    <setting id="EnterVideoResolver_enabled" value="true" />
    <setting id="EnterVideoResolver_login" value="true" />
    <setting id="EnterVideoResolver_priority" value="100" />
    <setting id="EstreamResolver_enabled" value="true" />
    <setting id="EstreamResolver_login" value="true" />
    <setting id="EstreamResolver_priority" value="100" />
    <setting id="FacebookResolver_enabled" value="true" />
    <setting id="FacebookResolver_login" value="true" />
    <setting id="FacebookResolver_priority" value="100" />
    <setting id="FacebookResolver_quality" value="0" />
    <setting id="FastplayResolver_enabled" value="true" />
    <setting id="FastplayResolver_login" value="true" />
    <setting id="FastplayResolver_priority" value="100" />
    <setting id="FileBeboResolver_enabled" value="true" />
    <setting id="FileBeboResolver_login" value="true" />
    <setting id="FileBeboResolver_priority" value="100" />
    <setting id="FilePupResolver_enabled" value="true" />
    <setting id="FilePupResolver_login" value="true" />
    <setting id="FilePupResolver_priority" value="100" />
    <setting id="FileWeedResolver_enabled" value="true" />
    <setting id="FileWeedResolver_login" value="true" />
    <setting id="FileWeedResolver_priority" value="100" />
    <setting id="FilezResolver_enabled" value="true" />
    <setting id="FilezResolver_login" value="true" />
    <setting id="FilezResolver_priority" value="100" />
    <setting id="FlashxResolver_auto_update" value="true" />
    <setting id="FlashxResolver_enabled" value="true" />
    <setting id="FlashxResolver_etag" value="" />
    <setting id="FlashxResolver_login" value="true" />
    <setting id="FlashxResolver_priority" value="100" />
    <setting id="FlixtorResolver_enabled" value="true" />
    <setting id="FlixtorResolver_login" value="true" />
    <setting id="FlixtorResolver_priority" value="100" />
    <setting id="GamoVideoResolver_enabled" value="true" />
    <setting id="GamoVideoResolver_login" value="true" />
    <setting id="GamoVideoResolver_priority" value="100" />
    <setting id="GenericResolver_enabled" value="true" />
    <setting id="GenericResolver_login" value="true" />
    <setting id="GenericResolver_priority" value="100" />
    <setting id="GetviResolver_enabled" value="true" />
    <setting id="GetviResolver_login" value="true" />
    <setting id="GetviResolver_priority" value="100" />
    <setting id="GoFlickerResolver_enabled" value="true" />
    <setting id="GoFlickerResolver_login" value="true" />
    <setting id="GoFlickerResolver_priority" value="100" />
    <setting id="GoUnlimitedResolver_enabled" value="true" />
    <setting id="GoUnlimitedResolver_login" value="true" />
    <setting id="GoUnlimitedResolver_priority" value="100" />
    <setting id="GoodVideoHostResolver_enabled" value="true" />
    <setting id="GoodVideoHostResolver_login" value="true" />
    <setting id="GoodVideoHostResolver_priority" value="100" />
    <setting id="GoogleResolver_enabled" value="true" />
    <setting id="GoogleResolver_login" value="true" />
    <setting id="GoogleResolver_priority" value="100" />
    <setting id="GoogleResolver_use_gdrive" value="false" />
    <setting id="GorillavidResolver_enabled" value="true" />
    <setting id="GorillavidResolver_login" value="true" />
    <setting id="GorillavidResolver_priority" value="100" />
    <setting id="GrifthostResolver_enabled" value="true" />
    <setting id="GrifthostResolver_login" value="true" />
    <setting id="GrifthostResolver_priority" value="100" />
    <setting id="H265Resolver_enabled" value="true" />
    <setting id="H265Resolver_login" value="true" />
    <setting id="H265Resolver_priority" value="100" />
    <setting id="HDvidResolver_enabled" value="true" />
    <setting id="HDvidResolver_login" value="true" />
    <setting id="HDvidResolver_priority" value="100" />
    <setting id="HugefilesResolver_enabled" value="true" />
    <setting id="HugefilesResolver_login" value="true" />
    <setting id="HugefilesResolver_priority" value="100" />
    <setting id="IndavideoResolver_enabled" value="true" />
    <setting id="IndavideoResolver_login" value="true" />
    <setting id="IndavideoResolver_priority" value="100" />
    <setting id="JetloadResolver_enabled" value="true" />
    <setting id="JetloadResolver_login" value="true" />
    <setting id="JetloadResolver_priority" value="100" />
    <setting id="KingFilesResolver_enabled" value="true" />
    <setting id="KingFilesResolver_login" value="true" />
    <setting id="KingFilesResolver_priority" value="100" />
    <setting id="KingvidResolver_enabled" value="true" />
    <setting id="KingvidResolver_login" value="true" />
    <setting id="KingvidResolver_priority" value="100" />
    <setting id="LolzorResolver_enabled" value="true" />
    <setting id="LolzorResolver_login" value="true" />
    <setting id="LolzorResolver_priority" value="100" />
    <setting id="MailRuResolver_enabled" value="true" />
    <setting id="MailRuResolver_login" value="true" />
    <setting id="MailRuResolver_priority" value="100" />
    <setting id="MegaDebridResolver_enabled" value="true" />
    <setting id="MegaDebridResolver_login" value="false" />
    <setting id="MegaDebridResolver_password" value="" />
    <setting id="MegaDebridResolver_priority" value="100" />
    <setting id="MegaDebridResolver_use_https" value="true" />
    <setting id="MegaDebridResolver_username" value="" />
    <setting id="MegaMP4Resolver_enabled" value="true" />
    <setting id="MegaMP4Resolver_login" value="true" />
    <setting id="MegaMP4Resolver_priority" value="100" />
    <setting id="MehlizMoviesResolver_enabled" value="true" />
    <setting id="MehlizMoviesResolver_login" value="true" />
    <setting id="MehlizMoviesResolver_priority" value="100" />
    <setting id="MersalaResolver_enabled" value="true" />
    <setting id="MersalaResolver_login" value="true" />
    <setting id="MersalaResolver_priority" value="100" />
    <setting id="MovDivxResolver_enabled" value="true" />
    <setting id="MovDivxResolver_login" value="true" />
    <setting id="MovDivxResolver_priority" value="100" />
    <setting id="MovpodResolver_enabled" value="true" />
    <setting id="MovpodResolver_login" value="true" />
    <setting id="MovpodResolver_priority" value="100" />
    <setting id="MovshareResolver_enabled" value="true" />
    <setting id="MovshareResolver_login" value="true" />
    <setting id="MovshareResolver_priority" value="100" />
    <setting id="Mp4EngineResolver_enabled" value="true" />
    <setting id="Mp4EngineResolver_login" value="true" />
    <setting id="Mp4EngineResolver_priority" value="100" />
    <setting id="Mp4streamResolver_enabled" value="true" />
    <setting id="Mp4streamResolver_login" value="true" />
    <setting id="Mp4streamResolver_priority" value="100" />
    <setting id="Mp4uploadResolver_enabled" value="true" />
    <setting id="Mp4uploadResolver_login" value="true" />
    <setting id="Mp4uploadResolver_priority" value="100" />
    <setting id="MycloudResolver_enabled" value="true" />
    <setting id="MycloudResolver_login" value="true" />
    <setting id="MycloudResolver_priority" value="100" />
    <setting id="MystreamResolver_enabled" value="true" />
    <setting id="MystreamResolver_login" value="true" />
    <setting id="MystreamResolver_priority" value="100" />
    <setting id="MyviRuResolver_enabled" value="true" />
    <setting id="MyviRuResolver_login" value="true" />
    <setting id="MyviRuResolver_priority" value="100" />
    <setting id="NineXplayResolver_enabled" value="true" />
    <setting id="NineXplayResolver_login" value="true" />
    <setting id="NineXplayResolver_priority" value="100" />
    <setting id="NosvideoResolver_enabled" value="true" />
    <setting id="NosvideoResolver_login" value="true" />
    <setting id="NosvideoResolver_priority" value="100" />
    <setting id="NovamovResolver_enabled" value="true" />
    <setting id="NovamovResolver_login" value="true" />
    <setting id="NovamovResolver_priority" value="100" />
    <setting id="NowvideoResolver_enabled" value="true" />
    <setting id="NowvideoResolver_login" value="true" />
    <setting id="NowvideoResolver_priority" value="100" />
    <setting id="NxloadResolver_enabled" value="true" />
    <setting id="NxloadResolver_login" value="true" />
    <setting id="NxloadResolver_priority" value="100" />
    <setting id="OKResolver_enabled" value="true" />
    <setting id="OKResolver_login" value="true" />
    <setting id="OKResolver_priority" value="100" />
    <setting id="OcloudResolver_enabled" value="true" />
    <setting id="OcloudResolver_login" value="true" />
    <setting id="OcloudResolver_priority" value="100" />
    <setting id="OneloadResolver_enabled" value="true" />
    <setting id="OneloadResolver_login" value="true" />
    <setting id="OneloadResolver_priority" value="100" />
    <setting id="OpenLoadResolver_auto_update" value="true" />
    <setting id="OpenLoadResolver_enabled" value="true" />
    <setting id="OpenLoadResolver_etag" value="" />
    <setting id="OpenLoadResolver_key" value="" />
    <setting id="OpenLoadResolver_login" value="true" />
    <setting id="OpenLoadResolver_priority" value="100" />
    <setting id="OpenLoadResolver_url" value="" />
    <setting id="Play44Resolver_enabled" value="true" />
    <setting id="Play44Resolver_login" value="true" />
    <setting id="Play44Resolver_priority" value="100" />
    <setting id="PlayHDResolver_enabled" value="true" />
    <setting id="PlayHDResolver_login" value="true" />
    <setting id="PlayHDResolver_priority" value="100" />
    <setting id="PlayWireResolver_enabled" value="true" />
    <setting id="PlayWireResolver_login" value="true" />
    <setting id="PlayWireResolver_priority" value="100" />
    <setting id="PlayedtoResolver_enabled" value="true" />
    <setting id="PlayedtoResolver_login" value="true" />
    <setting id="PlayedtoResolver_priority" value="100" />
    <setting id="PowVideoResolver_enabled" value="true" />
    <setting id="PowVideoResolver_login" value="true" />
    <setting id="PowVideoResolver_priority" value="100" />
    <setting id="PremiumizeMeResolver_enabled" value="true" />
    <setting id="PremiumizeMeResolver_login" value="false" />
    <setting id="PremiumizeMeResolver_password" value="" />
    <setting id="PremiumizeMeResolver_priority" value="100" />
    <setting id="PremiumizeMeResolver_use_https" value="true" />
    <setting id="PremiumizeMeResolver_username" value="" />
    <setting id="PromptfileResolver_enabled" value="true" />
    <setting id="PromptfileResolver_login" value="true" />
    <setting id="PromptfileResolver_priority" value="100" />
    <setting id="PureVidResolver_enabled" value="true" />
    <setting id="PureVidResolver_login" value="false" />
    <setting id="PureVidResolver_password" value="" />
    <setting id="PureVidResolver_priority" value="100" />
    <setting id="PureVidResolver_quality" value="Maximum" />
    <setting id="PureVidResolver_username" value="" />
    <setting id="PutLoadResolver_enabled" value="true" />
    <setting id="PutLoadResolver_login" value="true" />
    <setting id="PutLoadResolver_priority" value="100" />
    <setting id="PutVidResolver_enabled" value="true" />
    <setting id="PutVidResolver_login" value="true" />
    <setting id="PutVidResolver_priority" value="100" />
    <setting id="RPnetResolver_enabled" value="true" />
    <setting id="RPnetResolver_login" value="false" />
    <setting id="RPnetResolver_password" value="" />
    <setting id="RPnetResolver_priority" value="100" />
    <setting id="RPnetResolver_username" value="" />
    <setting id="RapidVideoComResolver_enabled" value="true" />
    <setting id="RapidVideoComResolver_login" value="true" />
    <setting id="RapidVideoComResolver_priority" value="100" />
    <setting id="RapidVideoResolver_enabled" value="true" />
    <setting id="RapidVideoResolver_login" value="true" />
    <setting id="RapidVideoResolver_priority" value="100" />
    <setting id="RapidgatorResolver_enabled" value="true" />
    <setting id="RapidgatorResolver_login" value="false" />
    <setting id="RapidgatorResolver_password" value="" />
    <setting id="RapidgatorResolver_premium" value="false" />
    <setting id="RapidgatorResolver_priority" value="100" />
    <setting id="RapidgatorResolver_session_id" value="" />
    <setting id="RapidgatorResolver_username" value="" />
    <setting id="RealDebridResolver_autopick" value="false" />
    <setting id="RealDebridResolver_client_id" value="" />
    <setting id="RealDebridResolver_client_secret" value="" />
    <setting id="RealDebridResolver_enabled" value="true" />
    <setting id="RealDebridResolver_login" value="true" />
    <setting id="RealDebridResolver_priority" value="100" />
    <setting id="RealDebridResolver_refresh" value="" />
    <setting id="RealDebridResolver_token" value="" />
    <setting id="RuTubeResolver_enabled" value="true" />
    <setting id="RuTubeResolver_login" value="true" />
    <setting id="RuTubeResolver_priority" value="100" />
    <setting id="SapoResolver_enabled" value="true" />
    <setting id="SapoResolver_login" value="true" />
    <setting id="SapoResolver_priority" value="100" />
    <setting id="SimplyDebridResolver_enabled" value="true" />
    <setting id="SimplyDebridResolver_login" value="false" />
    <setting id="SimplyDebridResolver_password" value="" />
    <setting id="SimplyDebridResolver_priority" value="100" />
    <setting id="SimplyDebridResolver_username" value="" />
    <setting id="SmoozedResolver_email" value="" />
    <setting id="SmoozedResolver_enabled" value="true" />
    <setting id="SmoozedResolver_login" value="true" />
    <setting id="SmoozedResolver_password" value="" />
    <setting id="SmoozedResolver_priority" value="100" />
    <setting id="SmoozedResolver_session_key" value="" />
    <setting id="SpeedPlayResolver_enabled" value="true" />
    <setting id="SpeedPlayResolver_login" value="true" />
    <setting id="SpeedPlayResolver_priority" value="100" />
    <setting id="SpeedVidResolver_auto_update" value="true" />
    <setting id="SpeedVidResolver_enabled" value="true" />
    <setting id="SpeedVidResolver_etag" value='&quot;803d3d08e6b64b0b274c1f9b532c6a293e3c7b12&quot;' />
    <setting id="SpeedVidResolver_login" value="true" />
    <setting id="SpeedVidResolver_priority" value="100" />
    <setting id="SpeedVideoResolver_enabled" value="true" />
    <setting id="SpeedVideoResolver_login" value="true" />
    <setting id="SpeedVideoResolver_priority" value="100" />
    <setting id="SpeedWatchResolver_enabled" value="true" />
    <setting id="SpeedWatchResolver_login" value="true" />
    <setting id="SpeedWatchResolver_priority" value="100" />
    <setting id="SprutoResolver_enabled" value="true" />
    <setting id="SprutoResolver_login" value="true" />
    <setting id="SprutoResolver_priority" value="100" />
    <setting id="SsfilesResolver_enabled" value="true" />
    <setting id="SsfilesResolver_login" value="true" />
    <setting id="SsfilesResolver_priority" value="100" />
    <setting id="StagevuResolver_enabled" value="true" />
    <setting id="StagevuResolver_login" value="true" />
    <setting id="StagevuResolver_priority" value="100" />
    <setting id="StreamApi_enabled" value="true" />
    <setting id="StreamApi_login" value="true" />
    <setting id="StreamApi_priority" value="100" />
    <setting id="StreamCherryResolver_enabled" value="true" />
    <setting id="StreamCherryResolver_login" value="true" />
    <setting id="StreamCherryResolver_priority" value="100" />
    <setting id="StreamDorResolver_enabled" value="true" />
    <setting id="StreamDorResolver_login" value="true" />
    <setting id="StreamDorResolver_priority" value="100" />
    <setting id="StreamGoResolver_enabled" value="true" />
    <setting id="StreamGoResolver_login" value="true" />
    <setting id="StreamGoResolver_priority" value="100" />
    <setting id="StreamMoeResolver_enabled" value="true" />
    <setting id="StreamMoeResolver_login" value="true" />
    <setting id="StreamMoeResolver_priority" value="100" />
    <setting id="StreamableResolver_enabled" value="true" />
    <setting id="StreamableResolver_login" value="true" />
    <setting id="StreamableResolver_priority" value="100" />
    <setting id="StreamangoResolver_enabled" value="true" />
    <setting id="StreamangoResolver_login" value="true" />
    <setting id="StreamangoResolver_priority" value="100" />
    <setting id="StreamcloudResolver_enabled" value="true" />
    <setting id="StreamcloudResolver_login" value="true" />
    <setting id="StreamcloudResolver_priority" value="100" />
    <setting id="StreameResolver_enabled" value="true" />
    <setting id="StreameResolver_login" value="true" />
    <setting id="StreameResolver_priority" value="100" />
    <setting id="StreamintoResolver_enabled" value="true" />
    <setting id="StreamintoResolver_login" value="true" />
    <setting id="StreamintoResolver_priority" value="100" />
    <setting id="StreamplayResolver_enabled" value="true" />
    <setting id="StreamplayResolver_login" value="true" />
    <setting id="StreamplayResolver_priority" value="100" />
    <setting id="SyFyResolver_enabled" value="true" />
    <setting id="SyFyResolver_login" value="true" />
    <setting id="SyFyResolver_priority" value="100" />
    <setting id="TVLogyResolver_enabled" value="true" />
    <setting id="TVLogyResolver_login" value="true" />
    <setting id="TVLogyResolver_priority" value="100" />
    <setting id="TeramixerResolver_enabled" value="true" />
    <setting id="TeramixerResolver_login" value="true" />
    <setting id="TeramixerResolver_priority" value="100" />
    <setting id="TheVidResolver_auto_update" value="true" />
    <setting id="TheVidResolver_enabled" value="true" />
    <setting id="TheVidResolver_etag" value="" />
    <setting id="TheVidResolver_login" value="true" />
    <setting id="TheVidResolver_priority" value="100" />
    <setting id="TheVideoResolver_enabled" value="true" />
    <setting id="TheVideoResolver_login" value="true" />
    <setting id="TheVideoResolver_priority" value="100" />
    <setting id="TheVideosResolver_enabled" value="true" />
    <setting id="TheVideosResolver_login" value="true" />
    <setting id="TheVideosResolver_priority" value="100" />
    <setting id="Toltsd_felResolver_enabled" value="true" />
    <setting id="Toltsd_felResolver_login" value="true" />
    <setting id="Toltsd_felResolver_priority" value="100" />
    <setting id="TrollVidResolver_enabled" value="true" />
    <setting id="TrollVidResolver_login" value="true" />
    <setting id="TrollVidResolver_priority" value="100" />
    <setting id="TubiTvResolver_enabled" value="true" />
    <setting id="TubiTvResolver_login" value="true" />
    <setting id="TubiTvResolver_priority" value="100" />
    <setting id="TudouResolver_enabled" value="true" />
    <setting id="TudouResolver_login" value="true" />
    <setting id="TudouResolver_priority" value="100" />
    <setting id="TunePkResolver_enabled" value="true" />
    <setting id="TunePkResolver_login" value="true" />
    <setting id="TunePkResolver_priority" value="100" />
    <setting id="TunePkResolver_quality" value="0" />
    <setting id="TusfilesResolver_enabled" value="true" />
    <setting id="TusfilesResolver_login" value="true" />
    <setting id="TusfilesResolver_priority" value="100" />
    <setting id="TwitchResolver_client_id" value="am6l6dn0x3bxrdgc557p1qeg1ma3bto" />
    <setting id="TwitchResolver_enabled" value="true" />
    <setting id="TwitchResolver_login" value="true" />
    <setting id="TwitchResolver_priority" value="100" />
    <setting id="UpFilesResolver_enabled" value="true" />
    <setting id="UpFilesResolver_login" value="true" />
    <setting id="UpFilesResolver_priority" value="100" />
    <setting id="UpToBoxResolver_enabled" value="true" />
    <setting id="UpToBoxResolver_login" value="true" />
    <setting id="UpToBoxResolver_priority" value="100" />
    <setting id="UploadAfResolver_enabled" value="true" />
    <setting id="UploadAfResolver_login" value="true" />
    <setting id="UploadAfResolver_priority" value="100" />
    <setting id="UploadXResolver_enabled" value="true" />
    <setting id="UploadXResolver_login" value="true" />
    <setting id="UploadXResolver_priority" value="100" />
    <setting id="UploadzResolver_enabled" value="true" />
    <setting id="UploadzResolver_login" value="true" />
    <setting id="UploadzResolver_priority" value="100" />
    <setting id="UsersCloudResolver_enabled" value="true" />
    <setting id="UsersCloudResolver_login" value="true" />
    <setting id="UsersCloudResolver_priority" value="100" />
    <setting id="UsersFilesResolver_enabled" value="true" />
    <setting id="UsersFilesResolver_login" value="true" />
    <setting id="UsersFilesResolver_priority" value="100" />
    <setting id="VKResolver_enabled" value="true" />
    <setting id="VKResolver_login" value="true" />
    <setting id="VKResolver_priority" value="100" />
    <setting id="VeeHDResolver_enabled" value="true" />
    <setting id="VeeHDResolver_login" value="false" />
    <setting id="VeeHDResolver_password" value="" />
    <setting id="VeeHDResolver_priority" value="100" />
    <setting id="VeeHDResolver_username" value="" />
    <setting id="VeohResolver_enabled" value="true" />
    <setting id="VeohResolver_login" value="true" />
    <setting id="VeohResolver_priority" value="100" />
    <setting id="VidBomResolver_enabled" value="true" />
    <setting id="VidBomResolver_login" value="true" />
    <setting id="VidBomResolver_priority" value="100" />
    <setting id="VidCloudResolver_enabled" value="true" />
    <setting id="VidCloudResolver_login" value="true" />
    <setting id="VidCloudResolver_priority" value="100" />
    <setting id="VidCrazyResolver_enabled" value="true" />
    <setting id="VidCrazyResolver_login" value="true" />
    <setting id="VidCrazyResolver_priority" value="100" />
    <setting id="VidFileResolver_enabled" value="true" />
    <setting id="VidFileResolver_login" value="true" />
    <setting id="VidFileResolver_priority" value="100" />
    <setting id="VidMadResolver_enabled" value="true" />
    <setting id="VidMadResolver_login" value="true" />
    <setting id="VidMadResolver_priority" value="100" />
    <setting id="VidMeResolver_enabled" value="true" />
    <setting id="VidMeResolver_login" value="true" />
    <setting id="VidMeResolver_priority" value="100" />
    <setting id="VidStreamingResolver_enabled" value="true" />
    <setting id="VidStreamingResolver_login" value="true" />
    <setting id="VidStreamingResolver_priority" value="100" />
    <setting id="VidToDoResolver_enabled" value="true" />
    <setting id="VidToDoResolver_login" value="true" />
    <setting id="VidToDoResolver_priority" value="100" />
    <setting id="VidUpMeResolver_enabled" value="true" />
    <setting id="VidUpMeResolver_login" value="true" />
    <setting id="VidUpMeResolver_priority" value="100" />
    <setting id="VidUpResolver_enabled" value="true" />
    <setting id="VidUpResolver_login" value="true" />
    <setting id="VidUpResolver_priority" value="100" />
    <setting id="VidUpTVResolver_enabled" value="true" />
    <setting id="VidUpTVResolver_login" value="true" />
    <setting id="VidUpTVResolver_priority" value="100" />
    <setting id="VidZellaResolver_enabled" value="true" />
    <setting id="VidZellaResolver_login" value="true" />
    <setting id="VidZellaResolver_priority" value="100" />
    <setting id="VidabcResolver_enabled" value="true" />
    <setting id="VidabcResolver_login" value="true" />
    <setting id="VidabcResolver_priority" value="100" />
    <setting id="VideaResolver_enabled" value="true" />
    <setting id="VideaResolver_login" value="true" />
    <setting id="VideaResolver_priority" value="100" />
    <setting id="VideoBeeResolver_enabled" value="true" />
    <setting id="VideoBeeResolver_login" value="true" />
    <setting id="VideoBeeResolver_priority" value="100" />
    <setting id="VideoHost2Resolver_enabled" value="true" />
    <setting id="VideoHost2Resolver_login" value="true" />
    <setting id="VideoHost2Resolver_priority" value="100" />
    <setting id="VideoHutResolver_enabled" value="true" />
    <setting id="VideoHutResolver_login" value="true" />
    <setting id="VideoHutResolver_priority" value="100" />
    <setting id="VideoRajResolver_enabled" value="true" />
    <setting id="VideoRajResolver_login" value="true" />
    <setting id="VideoRajResolver_priority" value="100" />
    <setting id="VideoZooResolver_enabled" value="true" />
    <setting id="VideoZooResolver_login" value="true" />
    <setting id="VideoZooResolver_priority" value="100" />
    <setting id="VideocloudResolver_enabled" value="true" />
    <setting id="VideocloudResolver_login" value="true" />
    <setting id="VideocloudResolver_priority" value="100" />
    <setting id="VideogetResolver_enabled" value="true" />
    <setting id="VideogetResolver_login" value="true" />
    <setting id="VideogetResolver_priority" value="100" />
    <setting id="VideoweedResolver_enabled" value="true" />
    <setting id="VideoweedResolver_login" value="true" />
    <setting id="VideoweedResolver_priority" value="100" />
    <setting id="VideowoodResolver_enabled" value="true" />
    <setting id="VideowoodResolver_login" value="true" />
    <setting id="VideowoodResolver_priority" value="100" />
    <setting id="VidicsResolver_enabled" value="true" />
    <setting id="VidicsResolver_login" value="true" />
    <setting id="VidicsResolver_priority" value="100" />
    <setting id="VidloxResolver_enabled" value="true" />
    <setting id="VidloxResolver_login" value="true" />
    <setting id="VidloxResolver_priority" value="100" />
    <setting id="VidnodeResolver_enabled" value="true" />
    <setting id="VidnodeResolver_login" value="true" />
    <setting id="VidnodeResolver_priority" value="100" />
    <setting id="VidozaResolver_enabled" value="true" />
    <setting id="VidozaResolver_login" value="true" />
    <setting id="VidozaResolver_priority" value="100" />
    <setting id="VidstoreResolver_enabled" value="true" />
    <setting id="VidstoreResolver_login" value="true" />
    <setting id="VidstoreResolver_priority" value="100" />
    <setting id="VidtoResolver_enabled" value="true" />
    <setting id="VidtoResolver_login" value="true" />
    <setting id="VidtoResolver_priority" value="100" />
    <setting id="VidwatchResolver_enabled" value="true" />
    <setting id="VidwatchResolver_login" value="true" />
    <setting id="VidwatchResolver_priority" value="100" />
    <setting id="VidziResolver_enabled" value="true" />
    <setting id="VidziResolver_login" value="true" />
    <setting id="VidziResolver_priority" value="100" />
    <setting id="VimeoResolver_enabled" value="true" />
    <setting id="VimeoResolver_login" value="true" />
    <setting id="VimeoResolver_priority" value="100" />
    <setting id="VivosxResolver_enabled" value="true" />
    <setting id="VivosxResolver_login" value="true" />
    <setting id="VivosxResolver_priority" value="100" />
    <setting id="VodLockResolver_enabled" value="true" />
    <setting id="VodLockResolver_login" value="true" />
    <setting id="VodLockResolver_priority" value="100" />
    <setting id="VshareEuResolver_enabled" value="true" />
    <setting id="VshareEuResolver_login" value="true" />
    <setting id="VshareEuResolver_priority" value="100" />
    <setting id="VshareResolver_enabled" value="true" />
    <setting id="VshareResolver_login" value="true" />
    <setting id="VshareResolver_priority" value="100" />
    <setting id="WaawResolver_enabled" value="true" />
    <setting id="WaawResolver_login" value="true" />
    <setting id="WaawResolver_priority" value="100" />
    <setting id="WatchVideoResolver_enabled" value="true" />
    <setting id="WatchVideoResolver_login" value="true" />
    <setting id="WatchVideoResolver_priority" value="100" />
    <setting id="WatchersResolver_enabled" value="true" />
    <setting id="WatchersResolver_login" value="true" />
    <setting id="WatchersResolver_priority" value="100" />
    <setting id="WatchonlineResolver_enabled" value="true" />
    <setting id="WatchonlineResolver_login" value="true" />
    <setting id="WatchonlineResolver_priority" value="100" />
    <setting id="WatchpassResolver_enabled" value="true" />
    <setting id="WatchpassResolver_login" value="true" />
    <setting id="WatchpassResolver_priority" value="100" />
    <setting id="WeShareResolver_enabled" value="true" />
    <setting id="WeShareResolver_login" value="true" />
    <setting id="WeShareResolver_priority" value="100" />
    <setting id="XvidstageResolver_enabled" value="true" />
    <setting id="XvidstageResolver_login" value="true" />
    <setting id="XvidstageResolver_priority" value="100" />
    <setting id="YourUploadResolver_enabled" value="true" />
    <setting id="YourUploadResolver_login" value="true" />
    <setting id="YourUploadResolver_priority" value="100" />
    <setting id="YoutubeResolver_enabled" value="true" />
    <setting id="YoutubeResolver_login" value="true" />
    <setting id="YoutubeResolver_priority" value="100" />
    <setting id="ZeveraResolver_enabled" value="true" />
    <setting id="ZeveraResolver_login" value="false" />
    <setting id="ZeveraResolver_password" value="" />
    <setting id="ZeveraResolver_priority" value="100" />
    <setting id="ZeveraResolver_username" value="" />
    <setting id="ZstreamResolver_enabled" value="true" />
    <setting id="ZstreamResolver_login" value="true" />
    <setting id="ZstreamResolver_priority" value="100" />
    <setting id="addon_debug" value="false" />
    <setting id="allow_universal" value="true" />
    <setting id="auto_pick" value="true" />
    <setting id="current_ua" value="Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0 Safari/537.36" />
    <setting id="dbMoviesResolver_enabled" value="true" />
    <setting id="dbMoviesResolver_login" value="true" />
    <setting id="dbMoviesResolver_priority" value="100" />
    <setting id="last_ua_create" value="1536961089" />
    <setting id="myVidStream_enabled" value="true" />
    <setting id="myVidStream_login" value="true" />
    <setting id="myVidStream_priority" value="100" />
    <setting id="personal_nid" value="" />
    <setting id="trtResolver_enabled" value="true" />
    <setting id="trtResolver_login" value="true" />
    <setting id="trtResolver_priority" value="100" />
    <setting id="uStreamResolver_enabled" value="true" />
    <setting id="uStreamResolver_login" value="true" />
    <setting id="uStreamResolver_priority" value="100" />
    <setting id="use_cache" value="true" />
    <setting id="vidhosResolver_enabled" value="true" />
    <setting id="vidhosResolver_login" value="true" />
    <setting id="vidhosResolver_priority" value="100" />
</settings>
