<settings>
    <category label="General">
        <setting label="Use livestreamer" type="bool" id="livestreamer" default="false"/>
        <setting label="Use inputstream.adaptive HLS" type="bool" id="inputstream" default="false"/>
        <setting label="Cache time (Hours)" type="slider" id="cache_time" default="8" range="0,80" option="int"/>
    </category>
    <setting id="android_id" value="" />
    <setting id="data_time" value="" />
    <setting id="kinvey_auth" value="" />
    <setting id="kinvey_user" value="" />
    <setting id="user_id" value="" />
</settings>
