<settings>
    <setting id="kodion.access_token" value="" />
    <setting id="kodion.access_token.expires" value="-1" />
    <setting id="kodion.age.gate" value="true" />
    <setting id="kodion.audio_only" value="false" />
    <setting id="kodion.cache.size" value="5" />
    <setting id="kodion.content.max_per_page" value="9" />
    <setting id="kodion.fanart.show" value="true" />
    <setting id="kodion.http.listen" value="0.0.0.0" />
    <setting id="kodion.login.hash" value="d41d8cd98f00b204e9800998ecf8427e" />
    <setting id="kodion.login.password" value="" />
    <setting id="kodion.login.username" value="" />
    <setting id="kodion.mpd.proxy" value="false" />
    <setting id="kodion.mpd.proxy.port" value="50152" />
    <setting id="kodion.refresh_token" value="" />
    <setting id="kodion.safe.search" value="0" />
    <setting id="kodion.search.size" value="1" />
    <setting id="kodion.setup_wizard" value="false" />
    <setting id="kodion.subtitle.languages" value="0" />
    <setting id="kodion.support.alternative_player" value="false" />
    <setting id="kodion.thumbnail.size" value="1" />
    <setting id="kodion.video.quality" value="3" />
    <setting id="kodion.video.quality.ask" value="false" />
    <setting id="kodion.video.quality.mpd" value="false" />
    <setting id="kodion.video.support.mpd.addon" value="false" />
    <setting id="kodion.video.support.mpd.builtin" value="false" />
    <setting id="kodion.view.default" value="50" />
    <setting id="kodion.view.episodes" value="50" />
    <setting id="kodion.view.override" value="false" />
    <setting id="simple.requests.ssl.verify" value="false" />
    <setting id="youtube.allow.dev.keys" value="true" />
    <setting id="youtube.api.autologin" value="false" />
    <setting id="youtube.api.autologin_enabled" value="true" />
    <setting id="youtube.api.config.page" value="false" />
    <setting id="youtube.api.enable" value="false" />
    <setting id="youtube.api.id" value="861556708454-d6dlm3lh05idd8npek18k6be8ba3oc68" />
    <setting id="youtube.api.key" value="AIzaSyAd-YEOqZz9nXVzGtn3KWzYLbLaajhqIDA" />
    <setting id="youtube.api.key.switch" value="1" />
    <setting id="youtube.api.key.switch.use" value="1" />
    <setting id="youtube.api.last.hash" value="" />
    <setting id="youtube.api.last.origin" value="plugin.video.youtube" />
    <setting id="youtube.api.last.switch" value="1" />
    <setting id="youtube.api.lastused.error" value="false" />
    <setting id="youtube.api.lastused.id" value="610696918705-bkt6v536k7gn2dtcv8vdngm4b0vt5sev" />
    <setting id="youtube.api.lastused.key" value="AIzaSyATqDim-56y8HcN1NAzQdVZgdMoc6d9Eys" />
    <setting id="youtube.api.lastused.last_login" value="login4" />
    <setting id="youtube.api.lastused.new_login" value="login4" />
    <setting id="youtube.api.lastused.secret" value="kV7ReP1f_Lg9i2hWR2liHnO6" />
    <setting id="youtube.api.secret" value="SboVhoG9s0rNafixCSGGKXAT" />
    <setting id="youtube.channel.fanart.show" value="true" />
    <setting id="youtube.filter.my_subscriptions_filtered.blacklist" value="false" />
    <setting id="youtube.filter.my_subscriptions_filtered.list" value="" />
    <setting id="youtube.folder.browse_channels.show" value="true" />
    <setting id="youtube.folder.disliked_videos.show" value="true" />
    <setting id="youtube.folder.history.playlist" value="" />
    <setting id="youtube.folder.history.show" value="true" />
    <setting id="youtube.folder.liked_videos.show" value="true" />
    <setting id="youtube.folder.live.show" value="true" />
    <setting id="youtube.folder.my_channel.show" value="true" />
    <setting id="youtube.folder.my_subscriptions.show" value="true" />
    <setting id="youtube.folder.my_subscriptions_filtered.show" value="false" />
    <setting id="youtube.folder.playlists.show" value="true" />
    <setting id="youtube.folder.popular_right_now.show" value="true" />
    <setting id="youtube.folder.purchases.show" value="true" />
    <setting id="youtube.folder.quick_search.show" value="false" />
    <setting id="youtube.folder.quick_search_incognito.show" value="false" />
    <setting id="youtube.folder.recommendations.show" value="true" />
    <setting id="youtube.folder.saved.playlists.show" value="true" />
    <setting id="youtube.folder.search.show" value="true" />
    <setting id="youtube.folder.settings.show" value="true" />
    <setting id="youtube.folder.sign.in.show" value="true" />
    <setting id="youtube.folder.sign.out.show" value="true" />
    <setting id="youtube.folder.subscriptions.show" value="true" />
    <setting id="youtube.folder.watch_later.playlist" value="" />
    <setting id="youtube.folder.watch_later.show" value="true" />
    <setting id="youtube.language" value="en-US" />
    <setting id="youtube.login.version" value="" />
    <setting id="youtube.playlist.watchlater.autoremove" value="true" />
    <setting id="youtube.post.play.rate" value="false" />
    <setting id="youtube.region" value="US" />
    <setting id="youtube.suggested_videos" value="false" />
    <setting id="youtube.view.description.show_channel_name" value="true" />
</settings>
