<settings>
    <setting id="default_view" value="50" />
    <setting id="enable_meta" value="true" />
    <setting id="enable_views" value="false" />
    <setting id="episode_view" value="50" />
    <setting id="init_meta" value="false" />
    <setting id="movie_view" value="50" />
    <setting id="show_view" value="50" />
</settings>
