<settings>
    <setting id="chaturbate" value="false" />
    <setting id="dontask" value="false" />
    <setting id="download_path" value="" />
    <setting id="paradisehill" value="false" />
    <setting id="posterfanart" value="false" />
    <setting id="sortwxf" value="0" />
    <setting id="sortxt" value="0" />
    <setting id="uwccounter" value="true" />
</settings>
