<settings>
    <setting id="duplicated" value="false" />
    <setting id="firstOpen" value="NO" />
    <setting id="infoLabels" value="true" />
    <setting id="movieFolder" value="" />
    <setting id="overwrite" value="false" />
    <setting id="persistent" value="false" />
    <setting id="plugin" value="Torrenter" />
    <setting id="service" value="true" />
    <setting id="showFolder" value="" />
    <setting id="timeNotification" value="1.5" />
    <setting id="urlAddress" value="http://www.elitetorrent.net" />
    <setting id="viewMode" value="0" />
    <setting id="viewUrl" value="false" />
</settings>
