<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
    <category label="30140">
    <setting id="theme" type="enum" label="30172" values="Dark|Simple" default="0"/>
    <setting id="enable_calendar" type="bool" label="30141" default="true"/>  
    
    
    <setting type="sep"/>
    <setting label="30142" type="action" action="RunPlugin(plugin://plugin.video.teevee/?mode=del_tv_all)" enable="true" option="close"/>
    <setting label="30143" type="action" action="RunPlugin(plugin://plugin.video.teevee/?mode=del_his_tv)" enable="true" option="close"/>
    <setting label="30173" type="action" action="RunPlugin(plugin://plugin.video.teevee/?mode=clear_cache)" enable="true" option="close"/>

    </category>

    <category label="30144">
    
    <setting id="tv_metadata" type="bool" label="30174" default="true"/> 
    <setting id="limit_shows" type="bool" label="30145" default="true"  visible="!eq(-1,false)"/>  
    <setting id="results_number" type="slider" default="20" range="5,5,100" option="int" label="30146" visible="!eq(-2,false)" enable="!eq(-1,false)"/>
    <setting label="
            " type="lsep"/> 
    <setting id="specials" type="bool" label="30147" default="false" />  


    </category>

    
	<category label="30148">
    <setting id="autoplay" type="bool" label="30149" default="false"/>
    <setting id="use_TM" type="bool" label="30150" default="false"/>
    <setting label="30151" type="lsep"/>

    <setting label="" type="text" id="source_blacklist" default="vodlocker.club"/>
    <setting label="
            " type="lsep"/>
    <setting type="sep"/>


    <setting id="enable_sorting" type="bool" label="30152" default="false"/>
    <setting label="30153" type="lsep"/>
    <setting id="sort" type="text" label="" default="" enable="!eq(-2,false)"/>
    </category>
    <category label="30175">
    <setting id="download_folder" type="folder" label="30154" default=""/>
    <setting id="auto_download" type="bool" label="30155" default="false"/>
    <setting id="dl_TM" type="bool" label="30405" default="false"/>

    
    </category>
    

    



</settings>