########################################################
# Direct links
########################################################
sort=name
########################################################
title=Cricfree.tv
director=cricfree.tv
icon=http://cricfree.tv/images/cricfree.png
url=tv/cricfree.tv.cfg
########################################################
title=Cricket
director=Cricket
icon=http://theclipartwizard.com/images/Cricket.png
url=tv/cricket.cfg
########################################################
title=iLive.to-Sports
director=ilive.to-sports
icon=sports.devil.image|streamlive.png
url=tv/ilive.to-sports.cfg
########################################################
title=CricHD.tv
director=crichd.tv
icon=http://crichd.tv/images/logo.png
url=tv/crichd.tv.cfg
#######################################################
title=MamaHD.com
director=mamahd.com
icon=sports.devil.image|mamahd.png
url=tv/mamahd.com.cfg
#######################################################
title=Sports4u.tv
director=sports4u.tv
icon=sports.devil.image|sports4u.png
url=tv/thesports4u.net.cfg
########################################################
# title=bein
# director=bein
# icon=
# url=tv/bein.cfg
########################################################
title=NowWatchTVLive.org
director=nowwatchtvlive.org
icon=sports.devil.image|sportstvs2.jpg
url=tv/nowwatchlive.cfg