<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32050">
        <setting label="32093" type="text" id="urlAddress" default="https://yts.ag"/>
        <setting label="32051" type="folder" id="movieFolder" source="videos" option="writeable" default=""/>
        <setting label="32054" type="labelenum" id="plugin" default="Torrenter"
                 values="Quasar|Pulsar|KmediaTorrent|XBMCtorrent|Torrenter|YATP"/>
        <setting label="32055" type="bool" id="overwrite" default="false"/>
        <setting label="32056" type="bool" id="duplicated" default="false"/>
        <setting label="32045" type="bool" id="viewUrl" default="false"/>
        <setting label="32071" type="bool" id="infoLabels" default="true"/>
        <setting label="32072" type="text" id="viewMode" default="0"/>
        <setting label="32057" type="lsep"/>
        <setting label="32058" type="slider" id="timeNotification" default="1.5" range="0,0.125,2"
                 option="float"/>
    </category>
    <category label="32059">
        <setting label="32060" type="bool" id="service"
                 default="true"/>
        <setting label="32061" type="bool" id="persistent" enable="eq(-1,true)" default="false"/>
    </category>
</settings>