<settings>
    <setting id="advanced_mode" value="false" />
    <setting id="agent_refresh_time" value="1465881792" />
    <setting id="alluc_api_password" value="" />
    <setting id="alluc_api_username" value="" />
    <setting id="autoplay_attempts" value="3" />
    <setting id="base_url_scraper_alluc_api" value="http://www.alluc.ee" />
    <setting id="base_url_scraper_cravings" value="http://series-cravings.me" />
    <setting id="base_url_scraper_dizilab" value="http://dizilab.com" />
    <setting id="base_url_scraper_furk" value="https://www.furk.net/api" />
    <setting id="base_url_scraper_icefilms" value="http://www.icefilms.info" />
    <setting id="base_url_scraper_local" value="http://localhost" />
    <setting id="base_url_scraper_losmovies" value="http://losmovies.ws" />
    <setting id="base_url_scraper_movie4k" value="http://www.movie4k.to" />
    <setting id="base_url_scraper_moviesnshows" value="http://moviesnshows.net" />
    <setting id="base_url_scraper_ninemovies" value="http://9movies.to" />
    <setting id="base_url_scraper_oneclicktv" value="http://oneclicktvshows.com" />
    <setting id="base_url_scraper_ororo" value="http://ororo.tv" />
    <setting id="base_url_scraper_primewire" value="http://primewire.ag" />
    <setting id="base_url_scraper_projectfreetv" value="http://projectfreetv.so" />
    <setting id="base_url_scraper_putlocker" value="http://putlocker.is" />
    <setting id="base_url_scraper_pvr" value="http://localhost" />
    <setting id="base_url_scraper_releasebb" value="http://rlsbb.com" />
    <setting id="base_url_scraper_sezonlukdizi" value="http://sezonlukdizi.com/" />
    <setting id="base_url_scraper_solarmovie" value="https://www.solarmovie.is" />
    <setting id="base_url_scraper_transmogrified" value="http://localhost" />
    <setting id="base_url_scraper_tvonline" value="http://tvonline.tw" />
    <setting id="base_url_scraper_vidics" value="http://www.vidics.ch" />
    <setting id="base_url_scraper_vumoo" value="http://vumoo.ch" />
    <setting id="base_url_scraper_watchepisode" value="http://www.watchepisode.tv" />
    <setting id="base_url_scraper_watchseries" value="http://thewatchseries.to" />
    <setting id="custom_color_bitrate" value="purple" />
    <setting id="custom_color_disabled" value="blue" />
    <setting id="custom_color_enabled" value="yellow" />
    <setting id="custom_color_extension" value="green" />
    <setting id="custom_color_filesize" value="blue" />
    <setting id="custom_color_hostname" value="red" />
    <setting id="custom_color_nextpage" value="green" />
    <setting id="custom_color_previouspage" value="orange" />
    <setting id="custom_color_quality" value="yellow" />
    <setting id="custom_color_resume" value="green" />
    <setting id="custom_color_service" value="white" />
    <setting id="custom_color_sync" value="green" />
    <setting id="custom_color_unaired" value="darkred" />
    <setting id="custom_color_watchlist" value="yellow" />
    <setting id="custom_result_sorting" value="0" />
    <setting id="database_mysql_host" value="" />
    <setting id="database_mysql_init" value="false" />
    <setting id="database_mysql_init.cache" value="false" />
    <setting id="database_mysql_name" value="theroyalwe" />
    <setting id="database_mysql_pass" value="" />
    <setting id="database_mysql_port" value="3306" />
    <setting id="database_mysql_user" value="" />
    <setting id="database_mysql_version" value="1" />
    <setting id="database_mysql_version.cache" value="1" />
    <setting id="database_sqlite_file" value="special://userdata/addon_data/plugin.video.theroyalwe/theroyalwe.db" />
    <setting id="database_sqlite_init" value="false" />
    <setting id="database_sqlite_init.cache" value="false" />
    <setting id="database_sqlite_version" value="1" />
    <setting id="database_sqlite_version.cache" value="1" />
    <setting id="database_type" value="0" />
    <setting id="default_episode_view" value="50" />
    <setting id="default_folder_view" value="500" />
    <setting id="default_list_view" value="50" />
    <setting id="default_movie_view" value="50" />
    <setting id="default_season_view" value="50" />
    <setting id="default_tvshow_view" value="50" />
    <setting id="download_transmogrifier" value="" />
    <setting id="enable_autoplay" value="false" />
    <setting id="enable_calendar_browser" value="false" />
    <setting id="enable_default_views" value="false" />
    <setting id="enable_episodes_ondeck" value="false" />
    <setting id="enable_full_context" value="false" />
    <setting id="enable_result_caching" value="false" />
    <setting id="enable_result_filters" value="false" />
    <setting id="enable_result_sorting" value="false" />
    <setting id="enable_resume" value="false" />
    <setting id="enable_scraper_progress" value="false" />
    <setting id="enable_transmogrifier" value="false" />
    <setting id="enable_transmogrifier_streaming" value="false" />
    <setting id="furk_password" value="" />
    <setting id="furk_username" value="" />
    <setting id="hide_watched_episodes" value="false" />
    <setting id="log_level" value="1" />
    <setting id="name_scraper_alluc_api" value="alluc.ee" />
    <setting id="name_scraper_cravings" value="cravings.me" />
    <setting id="name_scraper_dizilab" value="dizilab.com" />
    <setting id="name_scraper_furk" value="furk.net" />
    <setting id="name_scraper_icefilms" value="icefilms.info" />
    <setting id="name_scraper_local" value="VideoLibrary" />
    <setting id="name_scraper_losmovies" value="losmovies.is" />
    <setting id="name_scraper_movie4k" value="movie4k.to" />
    <setting id="name_scraper_moviesnshows" value="moviesnshows.net" />
    <setting id="name_scraper_ninemovies" value="9movies.to" />
    <setting id="name_scraper_oneclicktv" value="oneclicktvshows.com" />
    <setting id="name_scraper_ororo" value="ororo.tv" />
    <setting id="name_scraper_primewire" value="primewire" />
    <setting id="name_scraper_projectfreetv" value="projectfreetv.so" />
    <setting id="name_scraper_putlocker" value="putlocker.is" />
    <setting id="name_scraper_pvr" value="PVRLibrary" />
    <setting id="name_scraper_releasebb" value="releasebb" />
    <setting id="name_scraper_sezonlukdizi" value="sezonlukdizi" />
    <setting id="name_scraper_solarmovie" value="solarmovie.is" />
    <setting id="name_scraper_transmogrified" value="transmogrified" />
    <setting id="name_scraper_tvonline" value="tvonline.tw" />
    <setting id="name_scraper_vidics" value="vidics.ch" />
    <setting id="name_scraper_vumoo" value="vumoo.ch" />
    <setting id="name_scraper_watchepisode" value="watchepisode.tv" />
    <setting id="name_scraper_watchseries" value="watchseries.to" />
    <setting id="ondeck_list" value="watchlist" />
    <setting id="overide_scraper_alluc_api" value="false" />
    <setting id="overide_scraper_cravings" value="false" />
    <setting id="overide_scraper_dizilab" value="false" />
    <setting id="overide_scraper_furk" value="false" />
    <setting id="overide_scraper_icefilms" value="false" />
    <setting id="overide_scraper_local" value="false" />
    <setting id="overide_scraper_losmovies" value="false" />
    <setting id="overide_scraper_movie4k" value="false" />
    <setting id="overide_scraper_moviesnshows" value="false" />
    <setting id="overide_scraper_ninemovies" value="false" />
    <setting id="overide_scraper_oneclicktv" value="false" />
    <setting id="overide_scraper_ororo" value="false" />
    <setting id="overide_scraper_primewire" value="false" />
    <setting id="overide_scraper_projectfreetv" value="false" />
    <setting id="overide_scraper_putlocker" value="false" />
    <setting id="overide_scraper_pvr" value="false" />
    <setting id="overide_scraper_releasebb" value="false" />
    <setting id="overide_scraper_sezonlukdizi" value="false" />
    <setting id="overide_scraper_solarmovie" value="false" />
    <setting id="overide_scraper_transmogrified" value="false" />
    <setting id="overide_scraper_tvonline" value="false" />
    <setting id="overide_scraper_vidics" value="false" />
    <setting id="overide_scraper_vumoo" value="false" />
    <setting id="overide_scraper_watchepisode" value="false" />
    <setting id="overide_scraper_watchseries" value="false" />
    <setting id="setup_run" value="true" />
    <setting id="show_unaired_episodes" value="false" />
    <setting id="source_selection_mode" value="Directory" />
    <setting id="test_stream_timeout" value="5" />
    <setting id="test_streams" value="false" />
    <setting id="threadpool_size" value="15" />
    <setting id="timeout_scraper_alluc_api" value="2" />
    <setting id="timeout_scraper_cravings" value="3" />
    <setting id="timeout_scraper_dizilab" value="2" />
    <setting id="timeout_scraper_furk" value="1" />
    <setting id="timeout_scraper_icefilms" value="1" />
    <setting id="timeout_scraper_local" value="1" />
    <setting id="timeout_scraper_losmovies" value="3" />
    <setting id="timeout_scraper_movie4k" value="1" />
    <setting id="timeout_scraper_moviesnshows" value="3" />
    <setting id="timeout_scraper_ninemovies" value="3" />
    <setting id="timeout_scraper_oneclicktv" value="3" />
    <setting id="timeout_scraper_ororo" value="1" />
    <setting id="timeout_scraper_primewire" value="1" />
    <setting id="timeout_scraper_projectfreetv" value="1" />
    <setting id="timeout_scraper_putlocker" value="1" />
    <setting id="timeout_scraper_pvr" value="1" />
    <setting id="timeout_scraper_releasebb" value="3" />
    <setting id="timeout_scraper_sezonlukdizi" value="3" />
    <setting id="timeout_scraper_solarmovie" value="2" />
    <setting id="timeout_scraper_transmogrified" value="2" />
    <setting id="timeout_scraper_tvonline" value="1" />
    <setting id="timeout_scraper_vidics" value="2" />
    <setting id="timeout_scraper_vumoo" value="3" />
    <setting id="timeout_scraper_watchepisode" value="1" />
    <setting id="timeout_scraper_watchseries" value="1" />
    <setting id="tmdb_key" value="" />
    <setting id="trakt_account" value="" />
    <setting id="trakt_authorized" value="false" />
    <setting id="trakt_client_id" value="dbe260b94e985159dde067ea1f1702174bc9ab69e4c2aa8560cd7fc6b024c27a" />
    <setting id="trakt_oauth_token" value="" />
    <setting id="trakt_offline_mode" value="false" />
    <setting id="trakt_pin_url" value="http://trakt.tv/pin/6170" />
    <setting id="trakt_refresh_token" value="" />
    <setting id="trakt_secret" value="198b3b421f09fa0de96b38ebda1b3c9ae848e189c8b5dec5d8f04768e06d05e2" />
    <setting id="use_custom_colors" value="false" />
    <setting id="user_agent" value="Mozilla/5.0 (Windows NT 7.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.124 Safari/537.36" />
    <setting id="version" value="1.3.7" />
</settings>
