<settings>
  <category label="Stallion-IPTV-Addon">
    <setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
	<setting type="action" label="Versión del Addon actualizado 4/5/2016 Stallion-IPTV" option="close" action="RunPlugin(plugin://plugin.video.Stallion-IPTV/?mode=7)" />
        <setting type="action" label="[COLOR yellow][B]Welcome to Stallion IPTV[/B][/COLOR]" option="close" action="RunPlugin(plugin://plugin.video.Stallion-IPTV/?mode=7)" />
        <setting id="ask_playlist_items" type="bool" label="Activar Elegir Fuente de Video" default="true" visible="false"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>
        </category>

</settings>
