<settings>

	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="movies-view" type="number" label="Movie View" default="515" enable="!eq(-1,false)"/>
		<setting id="tvshows-view" type="number" label="TV Show View" default="515" enable="!eq(-2,false)"/>
		<setting id="season-view" type="number" label="Seasons View" default="500" enable="!eq(-3,false)"/>
		<setting id="episode-view" type="number" label="Episode View" default="515" enable="!eq(-4,false)"/>
		<setting id="menu-view" type="number" label="Menu View" default="500" enable="!eq(-5,false)"/>
   	</category>



<category label="Trakt.tv">
		<setting type="lsep" label="[COLOR red]Trakt Connection[/COLOR]" />
		<setting id="trakt_authorized" type="bool" default="false" visible="false"/>
		<setting id="get_pin" label="Click here to Authorize Trakt.tv " type="action" action="RunPlugin(plugin://plugin.video.velocitykids/?mode=get_pin)" option="close" enable="eq(-1,false)"/>
		<setting id="trakt_username" type="text" label="Authorized User:" default="" enable="eq(-2,true)"/>
		<setting type="lsep" label="Trakt Options" />
		<setting id="use_https" type="bool" label="Use Https" default="false" visible="false"/>
		<setting id="list_size" type="slider" label="Page Size" default="20" range="1,200" option="int"/>
		<setting id="timeout" type="slider" label="Timeout" default="10" range="1,30" option="int"/>
		<setting id="TV_sub_slug" type="text" visible="false"/>
		<setting id="Movies_sub_slug" type="text" visible="false"/>
		<setting id="TV_fav_slug" type="text" visible="false"/>
		<setting id="Movies_fav_slug" type="text" visible="false"/>
		<setting id="trakt_oauth_token" label="AO TOKEN" type="text" default="" visible="false"/>
		<setting id="trakt_refresh_token" label="REFRESH TOKEN" type="text" default="" visible="false"/>

</category>


<category label="Enable Providers">
		<setting type="lsep" label="Provider Options" />
        <setting id="show_debrid" type="bool" label="Tag Debrid Supported Sources in Listings" default="true"/>
		<setting id="filter_debrid" type="bool" label="Remove Suspected Bad sources-[COLOR gold]Not Recomended[/COLOR]" default="false"/>
		<setting id="scraper_timeout" type="slider" label="Provider Timeout" default="10" range="1,30" option="int" visible="true"/>
		<setting type="lsep" label="Enable Providers" />
		<setting id="ice_films" type="bool" label="IceFilms [Movies/TV]" default="true"/>
		<setting id="icefilms_base_url" type="text" label="    Base Url" default="http://www.icefilms.info" visible="eq(-1,true)"/>
		<setting id="primewire" type="bool" label="PrimeWire [Movies/TV]" default="true"/>
		<setting id="primewire_base_url" type="text" label="    Base Url" default="http://www.primewire.ag/" visible="eq(-1,true)"/>
		<setting id="123movies" type="bool" label="123Movies [Movies]" default="true"/>
		<setting id="123movies_base_url" type="text" label="    Base Url" default="http://123movies.to/" visible="eq(-1,true)"/>
		<setting id="afdah" type="bool" label="Afdah [Movies/TV]" default="false"/>
		<setting id="afdah_base_url" type="text" label="    Base Url" default="http://afdah.tv/" visible="eq(-1,true)"/>
		<setting id="merdb" type="bool" label="MerDb [Movies]" default="true"/>
		<setting id="merdb_base_url" type="text" label="    Base Url" default="http://www.merdb.link/" visible="eq(-1,true)"/>
		<setting id="zmovies" type="bool" label="ZMovies [Movies]" default="true"/>
		<setting id="zmovies_base_url" type="text" label="    Base Url" default="http://www.zmovie.tw/" visible="eq(-1,true)"/>
		<setting id="9movies" type="bool" label="9Movies [Movies]" default="true"/>
		<setting id="9movies_base_url" type="text" label="    Base Url" default="http://9movies.to" visible="eq(-1,true)"/>
		<setting id="santa_tv" type="bool" label="SantaSeries [TV]" default="true"/>
		<setting id="santatv_base_url" type="text" label="    Base Url" default="http://www.santaseries.com" visible="eq(-1,true)"/>
		<setting id="putlocker" type="bool" label="Putlocker [Movies/TV]" default="true"/>
		<setting id="putlocker_base_url" type="text" label="    Base Url" default="http://putlocker.is" visible="eq(-1,true)"/>


</category>

<category label="Cache Options">
		<setting type="lsep" label="Cache Timing" />
		<setting id="cache_set" type="bool" label="Use Cache (Boosts Speed)" default="true"/>
		<setting id="cache_limit" type="slider" label="Cache Time in hrs 0=off" default="5" range=".1,10" option="int" visible="eq(-1,true)"/>
		<setting id="flush_url_cache" label="Clear /Delete Url Cache " type="action" action="RunPlugin(plugin://plugin.video.velocitykids/?mode=flush_url_cache)" option="close" visable="true"/>
</category>




<category label="Personalization">
		<setting type="lsep" label="Debugging" />
		<setting id="debug" type="bool" label="Debugging" default="false"/>
		<setting type="lsep" label="Notification Options" />
		<setting id="error_notify" type="bool" label="Non Fatal Error Notifications" default="false"/>
		<setting id="mute_notifications" type="bool" label="Mute Notifications" default="true"/>
</category>

</settings>



