<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="1000">
  <setting id="custom_dirname" type="bool" label="1001" default="false" />
  <setting id="dirname" type="folder" label="1002" visible="eq(-1,true)" />
  <setting id="ask_dirname" type="bool" label="1005" default="false" />
  <setting id="custom_system" type="bool" label="1003" default="false" />
  <setting id="set_system"  type="enum" label="1004" visible="eq(-1,true)" default="0" lvalues="1100|1101|1102|1103|1104|1105|1106|1107|1108|1109|1110|1111|1112"/>
  <setting id="custom_version" type="bool" label="1006" default="false" />
  <setting id="set_version"  type="enum" label="1007" visible="eq(-1,true)" default="0" lvalues="1150|1151|1152|1153|1154|1155"/>
 </category>
</settings>
