<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32050">
        <setting label="URL address (http://example.com):" type="text" id="urlAddress"
                 default="https://eztv.ag"/>
        <setting label="32052" type="folder" id="showFolder" source="videos" option="writeable" default=""/>
        <setting label="32054" type="labelenum" id="plugin" default="Torrenter"
                 values="Quasar|Pulsar|KmediaTorrent|XBMCtorrent|Torrenter|YATP"/>
        <setting label="32055" type="bool" id="overwrite" default="false"/>
        <setting label="32056" type="bool" id="duplicated" default="false"/>
        <setting label="32071" type="bool" id="infoLabels" default="true"/>
        <setting label="32072" type="text" id="viewMode" default="0"/>
        <setting label="32057" type="lsep"/>
        <setting label="32058" type="slider" id="timeNotification" default="1.5" range="0,0.125,2"
                 option="float"/>
    </category>
    <category label="32059">
        <setting label="32060" type="bool" id="service"
                 default="true"/>
        <setting label="32061" type="bool" id="persistent" enable="eq(-1,true)" default="false"/>
    </category>
    <category label="32070">
        <setting label="32063" type="lsep"/>
        <setting label="32064" type="text" id="tvKeyAllowed" default=""/>
        <setting label="32065" type="text" id="tvKeyDenied" default=""/>
        <setting label="32066" type="lsep"/>
        <setting label="480p" type="labelenum" id="tvQua1" values="Accept File|Block File|Filter Off"
                 default="Filter Off"/>
        <setting label="HDTV" type="labelenum" id="tvQua2" values="Accept File|Block File|Filter Off"
                 default="Filter Off"/>
        <setting label="720p" type="labelenum" id="tvQua3" values="Accept File|Block File|Filter Off"
                 default="Filter Off"/>
        <setting label="1080p" type="labelenum" id="tvQua4" values="Accept File|Block File|Filter Off"
                 default="Filter Off"/>
    </category>
</settings>