<settings>
<category label="General">
<setting type="sep"/>
<setting id="metadata_tv_shows" type="bool" label="Metadata" default="true"/>
<setting type="sep"/>
<setting id="autoplay_host_sel_dialog" type="bool" label="Show Autoplay/Host selection dialog " default="true"/>
<setting id="autoplay" type="bool" label="Auto Play" default="false"/>
<setting id="autoplay_skip_interval" type="labelenum" values="2|5|10|15|20|25|30|50|100|200|300" label="     Time (in seconds), to skip to next host if STOP pressed" default="300" enable="eq(-1,true)"/>
<setting type="sep"/>
<setting id="sort" type="bool" label="Sort" default="true"/>
<setting id="sort_quality" type="text" enable="eq(-1,true)" label="     Quality" default="4K,3D,1080P,720P,HD,480P,DVD,SD,NA,TS,CAM"/>
<setting id="sort_hosts_1" type="text" enable="eq(-2,true)" label="     Hosts [COLOR gold][I](1)[/I][/COLOR]" default="FURK.NET,EASYNEWS,123MOVIES,CARTOONHD,SERIESTV,MOVREEL,ICEFILMS,PRIMEWIRE,SIMPLYMOVIES.NET,NITER.TV"/>
<setting id="sort_hosts_2" type="text" enable="eq(-3,true)" label="     Hosts [COLOR gold][I](2)[/I][/COLOR]" default="LEMUPLOADS.COM,PUTLOCKER.COM,SOCKSHARE.COM,PLAYED.TO"/>
<setting id="sort_hosts_3" type="text" enable="eq(-4,true)" label="     Hosts [COLOR gold][I](3)[/I][/COLOR]" default="PROMPTFILE.COM,MIGHTYUPLOAD.COM,GORILLAVID.IN,VIDHOG.COM"/>
<setting id="sort_hosts_4" type="text" enable="eq(-5,true)" label="     Hosts [COLOR gold][I](4)[/I][/COLOR]" default="NOWVIDEO.CH,NOWVIDEO.SX,NOWVIDEO.EU"/>
<setting id="sort_hosts_5" type="text" enable="eq(-6,true)" label="     Hosts [COLOR gold][I](5)[/I][/COLOR]" default="SHARESIX.COM,ZALAA.COM,FILENUKE.COM"/>
</category>
<category label="Indexers">
<setting type="sep"/>
<setting id="tv_shows_IceFilms_indexer_enabled" type="bool" label="Ice Films" default="false"/>
<setting id="tv_shows_IMDb_indexer_enabled" type="bool" label="IMDb" default="true"/>
<setting id="tv_shows_superchillin_indexer_enabled" type="bool" label="[COLOR royalblue]S[/COLOR]uperchillin" default="false"/>
<setting id="tv_shows_trakt_indexer_enabled" type="bool" label="Trakt" default="false"/>
<setting id="tv_shows_tvrage_indexer_enabled" type="bool" label="[COLOR white]TV[/COLOR][COLOR red]Rage[/COLOR]" default="false"/>
</category>
<category label="Sources">
<setting type="sep"/>
<setting id="tv_shows_123Movies_source_enabled" type="bool" label="123Movies" default="true"/>
<setting id="tv_shows_Cartoon HD_source_enabled" type="bool" label="Cartoon HD" default="true"/>
<setting id="tv_shows_CARTOONEXTRA_source_enabled" type="bool" label="CARTOONEXTRA" default="true"/>
<setting id="tv_shows_directdownload_source_enabled" type="bool" label="Direct Download" default="false"/>
<setting id="tv_shows_EasyNews_source_enabled" type="bool" label="Easy News [COLOR gold][I](autoplay not supported)[/I][/COLOR]" default="false"/>
<setting id="tv_shows_Furk.Net_source_enabled" type="bool" label="Furk.Net [COLOR gold][I](autoplay not supported)[/I][/COLOR]" default="false"/>
<setting id="tv_shows_IceFilms_source_enabled" type="bool" label="Ice Films" default="true"/>
<setting id="tv_shows_movie4u.cc_source_enabled" type="bool" label="Movie4uCC" default="true"/>
<setting id="tv_shows_myvideolinks_source_enabled" type="bool" label="Myvideolinks" default="false"/>
<setting id="tv_shows_projectfreetv_source_enabled" type="bool" label="Project Free TV" default="true"/>
<setting id="tv_shows_superchillin_source_enabled" type="bool" label="[COLOR royalblue]S[/COLOR]uperchillin" default="false"/>
<setting id="tv_shows_tvshows4mobile_source_enabled" type="bool" label="TvShows4Mobile" default="true"/>
<setting id="tv_shows_vidic.ch_source_enabled" type="bool" label="Vidics.ch" default="true"/>
<setting id="tv_shows_Watch Tv Series_source_enabled" type="bool" label="Watch Tv Series" default="true"/>
</category>
</settings>
