########################################################
@IF(@PARAM1@==Channels)@
########################################################
skill=videoTitle
skill=allowDuplicates
catcher=streams
sort=name
########################################################
item_infos=<url>(.+?)</url><title>(.+?)</title><image>(.+?)</image>
item_order=url|title|icon.tmp
item_skill=rss
########################################################
item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s
########################################################
item_url_build=%s
########################################################
@ENDIF@
########################################################       
@ENDIF@  
########################################################
