########################################################
# Live NFL Games
########################################################

@IF(@PARAM1@!=CATCH)@
skill=videoTitle
skill=allowDuplicates
start=http://dl.dropbox.com/s/x9olwjvm2fiaa3t/NFLGames.xml


item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=Various/nflgames.cfg@CATCH


item_url_build=%s

@ENDIF@

@IF(@PARAM1@==CATCH)@
catcher=streams
#sort=name


skill=videoTitle
skill=allowDuplicates

item_infos=<title>(.+?)</title><image>.+?</image><url>(.+?)</url>
item_order=title|url
item_skill=rss

item_info_name=cfg
item_info_build=dragonstreams.cfg@Streams

item_info_name=type
item_info_build=video

item_url_build=%s
           

@ENDIF@  