<settings>
    <setting id="kodion.age.gate" value="true" />
    <setting id="kodion.alternative_player.web.urls" value="false" />
    <setting id="kodion.audio_only" value="false" />
    <setting id="kodion.cache.size" value="10" />
    <setting id="kodion.content.max_per_page" value="9" />
    <setting id="kodion.fanart.show" value="true" />
    <setting id="kodion.http.listen" value="0.0.0.0" />
    <setting id="kodion.mpd.hdr" value="false" />
    <setting id="kodion.mpd.live_streams" value="true" />
    <setting id="kodion.mpd.proxy.port" value="50152" />
    <setting id="kodion.mpd.videos" value="true" />
    <setting id="kodion.mpd.webm" value="false" />
    <setting id="kodion.play_count.percent" value="85" />
    <setting id="kodion.playback.history" value="false" />
    <setting id="kodion.safe.search" value="0" />
    <setting id="kodion.search.size" value="10" />
    <setting id="kodion.setup_wizard" value="false" />
    <setting id="kodion.subtitle.download" value="false" />
    <setting id="kodion.subtitle.languages.num" value="0" />
    <setting id="kodion.support.alternative_player" value="false" />
    <setting id="kodion.thumbnail.size" value="1" />
    <setting id="kodion.video.quality" value="3" />
    <setting id="kodion.video.quality.ask" value="false" />
    <setting id="kodion.video.quality.mpd" value="false" />
    <setting id="simple.requests.ssl.verify" value="true" />
    <setting id="youtube.allow.dev.keys" value="true" />
    <setting id="youtube.api.config.page" value="false" />
    <setting id="youtube.api.enable" value="true" />
    <setting id="youtube.api.id" value="" />
    <setting id="youtube.api.key" value="" />
    <setting id="youtube.api.key.switch" value="1" />
    <setting id="youtube.api.secret" value="" />
    <setting id="youtube.channel.fanart.show" value="true" />
    <setting id="youtube.filter.my_subscriptions_filtered.blacklist" value="false" />
    <setting id="youtube.filter.my_subscriptions_filtered.list" value="" />
    <setting id="youtube.folder.browse_channels.show" value="true" />
    <setting id="youtube.folder.completed.live.show" value="true" />
    <setting id="youtube.folder.disliked_videos.show" value="true" />
    <setting id="youtube.folder.history.playlist" value="" />
    <setting id="youtube.folder.history.show" value="true" />
    <setting id="youtube.folder.liked_videos.show" value="true" />
    <setting id="youtube.folder.live.show" value="true" />
    <setting id="youtube.folder.my_channel.show" value="true" />
    <setting id="youtube.folder.my_location.show" value="true" />
    <setting id="youtube.folder.my_subscriptions.show" value="true" />
    <setting id="youtube.folder.my_subscriptions_filtered.show" value="false" />
    <setting id="youtube.folder.playlists.show" value="true" />
    <setting id="youtube.folder.popular_right_now.show" value="true" />
    <setting id="youtube.folder.purchases.show" value="true" />
    <setting id="youtube.folder.quick_search.show" value="false" />
    <setting id="youtube.folder.quick_search_incognito.show" value="false" />
    <setting id="youtube.folder.recommendations.show" value="true" />
    <setting id="youtube.folder.saved.playlists.show" value="true" />
    <setting id="youtube.folder.search.show" value="true" />
    <setting id="youtube.folder.settings.show" value="true" />
    <setting id="youtube.folder.sign.in.show" value="true" />
    <setting id="youtube.folder.sign.out.show" value="true" />
    <setting id="youtube.folder.subscriptions.show" value="true" />
    <setting id="youtube.folder.switch.user.show" value="true" />
    <setting id="youtube.folder.upcoming.live.show" value="true" />
    <setting id="youtube.folder.watch_later.playlist" value="" />
    <setting id="youtube.folder.watch_later.show" value="true" />
    <setting id="youtube.language" value="en-US" />
    <setting id="youtube.location" value="" />
    <setting id="youtube.location.radius" value="500" />
    <setting id="youtube.playlist.watchlater.autoremove" value="true" />
    <setting id="youtube.post.play.rate" value="false" />
    <setting id="youtube.post.play.rate.playlists" value="false" />
    <setting id="youtube.post.play.refresh" value="false" />
    <setting id="youtube.region" value="US" />
    <setting id="youtube.suggested_videos" value="false" />
    <setting id="youtube.view.description.show_channel_name" value="true" />
</settings>
