<settings>
	
	<category label="AutoView">
		<setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
		<setting id="menu-view" type="labelenum" label="Menu View" values="Default Menu View|Wide|Big list|List|Thumbnail" default="Default Menu View" enable="!eq(-1,false)"/>
		<setting id="show-view" type="labelenum" label="TV Show View" values="Default TV Shows View|Info|Info2|Info3|Fanart|Big list|Low List|List|Thumbnail|Poster Wrap" default="Info2" enable="!eq(-2,false)"/>
		<setting id="epi-view" type="labelenum" label="Episodes View" values="Default Episodes View|Info|Info2|Info3|Fanart|Big list|Low List|List|Thumbnail|Poster Wrap" default="Info2" enable="!eq(-3,false)"/>
		<setting id="movie-view" type="labelenum" label="Movies View" values="Default Movies View|Info|Info2|Info3|Fanart|Big list|Low List|List|Thumbnail|Poster Wrap" default="Info2" enable="!eq(-4,false)"/>
		<setting type="lsep" label="The number set for each View Types above are based"/>
		<setting type="lsep" label="on Confluence/Xonfluence if using a different"/>
		<setting type="lsep" label="skin these numbers maybe wrong in that case"/>
		<setting type="lsep" label="you can set View to Default View and then set"/>
		<setting type="lsep" label="the number for the View Type you would like below"/>
		<setting id="default-view1" type="number" label="Default Menu View" default="50" enable="!eq(-10,false)"/>
		<setting id="default-view2" type="number" label="Default TV Shows View" default="500" enable="!eq(-11,false)"/>
		<setting id="default-view3" type="number" label="Default Episodes View" default="500" enable="!eq(-12,false)"/>
		<setting id="default-view4" type="number" label="Default Movies View" default="500" enable="!eq(-13,false)"/>
		<setting type="lsep" label="If you have SuperFavourites installed you can find"/>
		<setting type="lsep" label="the correct number for the view you want by opening SF"/>
		<setting type="lsep" label="and choosing the view you want in the side menu."/>
		<setting type="lsep" label="Then open the context menu in SF and choose Remember View Type."/>
		<setting type="lsep" label="Now go into SF settings, select the Display Settings tab and the last"/>
		<setting type="lsep" label="setting will show you the number you want (Set view list type)."/>
	</category>
	
	<category label="Site-Url">
		<setting id="base_url" type="text" label="BaseUrl" default="http://niter.co" visible="true"/>
	</category>
	
	<category label="Metadata">
		<setting id="enable_meta" type="bool" label="Enable Metadata" default="true"/>
		<setting id="movie_meta" type="bool" label="Enable Movie Meta" default="true" enable="!eq(-1,false)"/>
		<setting id="tv_show_meta" type="bool" label="Enable TV-Show Meta" default="true" enable="!eq(-2,false)"/>
		<setting id="episode_meta" type="bool" label="Enable Episode Meta" default="true" enable="!eq(-3,false)"/>
	</category>
	
	<category label="Enable Sections">
		<setting id="enable_favs" type="bool" label="Enable My Favourites" default="true"/>
		<setting id="enable_shows" type="bool" label="Enable TV-Shows" default="true"/>
		<setting id="enable_movies" type="bool" label="Enable Movies" default="true"/>
		<setting id="add_set" type="bool" label="Enable Addon Settings" default="true"/>
		<setting id="enable_meta_set" type="bool" label="Enable Meta Settings" default="true"/>
	</category>
	
	<category label="Update">
		<setting type="lsep" label="When You Click Check For Updates It will Appear As"/>
		<setting type="lsep" label="If Nothing Happened If Their Is Any Available"/>
		<setting type="lsep" label="Updates You Will See The Appropriate Notifications"/>
		<setting label="  [COLOR red]Click Here To Check For Updates For All Your Addons&Repos[/COLOR]" type="action" action="UpdateAddonRepos"/>
	</category>
</settings>