<settings version="2">
    <setting id="kodion.age.gate">true</setting>
    <setting id="kodion.alternative_player.web.urls" default="true">false</setting>
    <setting id="kodion.audio_only" default="true">false</setting>
    <setting id="kodion.cache.size">10</setting>
    <setting id="kodion.content.max_per_page">9</setting>
    <setting id="kodion.fanart.show">true</setting>
    <setting id="kodion.http.client.ip" default="true"></setting>
    <setting id="kodion.http.ip.whitelist" default="true"></setting>
    <setting id="kodion.http.listen" default="true">0.0.0.0</setting>
    <setting id="kodion.http.listen.select" default="true"></setting>
    <setting id="kodion.install.inputstreamhelper" default="true"></setting>
    <setting id="kodion.maintain.clear.data" default="true"></setting>
    <setting id="kodion.maintain.clear.func" default="true"></setting>
    <setting id="kodion.maintain.clear.playback.history" default="true"></setting>
    <setting id="kodion.maintain.clear.search" default="true"></setting>
    <setting id="kodion.maintain.delete.access_manager" default="true"></setting>
    <setting id="kodion.maintain.delete.api_keys" default="true"></setting>
    <setting id="kodion.maintain.delete.data" default="true"></setting>
    <setting id="kodion.maintain.delete.func" default="true"></setting>
    <setting id="kodion.maintain.delete.playback.history" default="true"></setting>
    <setting id="kodion.maintain.delete.search" default="true"></setting>
    <setting id="kodion.maintain.delete.settings" default="true"></setting>
    <setting id="kodion.maintain.delete.temp" default="true"></setting>
    <setting id="kodion.maintain.reset.accessmanager" default="true"></setting>
    <setting id="kodion.mpd.hdr" default="true">false</setting>
    <setting id="kodion.mpd.limit.30" default="true">false</setting>
    <setting id="kodion.mpd.live_streams">true</setting>
    <setting id="kodion.mpd.proxy.port">50152</setting>
    <setting id="kodion.mpd.quality.selection">8</setting>
    <setting id="kodion.mpd.videos">true</setting>
    <setting id="kodion.play_count.percent">85</setting>
    <setting id="kodion.playback.history" default="true">false</setting>
    <setting id="kodion.safe.search" default="true">0</setting>
    <setting id="kodion.search.size">10</setting>
    <setting id="kodion.setup_wizard">false</setting>
    <setting id="kodion.subtitle.configure" default="true"></setting>
    <setting id="kodion.subtitle.download" default="true">false</setting>
    <setting id="kodion.subtitle.languages.num" default="true">0</setting>
    <setting id="kodion.support.alternative_player" default="true">false</setting>
    <setting id="kodion.thumbnail.size">1</setting>
    <setting id="kodion.users.add" default="true"></setting>
    <setting id="kodion.users.remove" default="true"></setting>
    <setting id="kodion.users.rename" default="true"></setting>
    <setting id="kodion.users.switch" default="true"></setting>
    <setting id="kodion.video.quality">3</setting>
    <setting id="kodion.video.quality.ask" default="true">false</setting>
    <setting id="kodion.video.quality.mpd" default="true">false</setting>
    <setting id="kodion.video.quality.mpd.configure" default="true"></setting>
    <setting id="simple.requests.ssl.verify">true</setting>
    <setting id="youtube.allow.dev.keys">true</setting>
    <setting id="youtube.api.config.page" default="true">false</setting>
    <setting id="youtube.api.enable">true</setting>
    <setting id="youtube.api.id" default="true"></setting>
    <setting id="youtube.api.key" default="true"></setting>
    <setting id="youtube.api.key.switch">1</setting>
    <setting id="youtube.api.secret" default="true"></setting>
    <setting id="youtube.channel.fanart.show">true</setting>
    <setting id="youtube.filter.my_subscriptions_filtered.blacklist" default="true">false</setting>
    <setting id="youtube.filter.my_subscriptions_filtered.list" default="true"></setting>
    <setting id="youtube.folder.browse_channels.show">true</setting>
    <setting id="youtube.folder.completed.live.show">true</setting>
    <setting id="youtube.folder.disliked_videos.show">true</setting>
    <setting id="youtube.folder.history.playlist" default="true"></setting>
    <setting id="youtube.folder.history.show">true</setting>
    <setting id="youtube.folder.liked_videos.show">true</setting>
    <setting id="youtube.folder.live.show">true</setting>
    <setting id="youtube.folder.my_channel.show">true</setting>
    <setting id="youtube.folder.my_location.show">true</setting>
    <setting id="youtube.folder.my_subscriptions.show">true</setting>
    <setting id="youtube.folder.my_subscriptions_filtered.show" default="true">false</setting>
    <setting id="youtube.folder.playlists.show">true</setting>
    <setting id="youtube.folder.popular_right_now.show">true</setting>
    <setting id="youtube.folder.purchases.show">true</setting>
    <setting id="youtube.folder.quick_search.show" default="true">false</setting>
    <setting id="youtube.folder.quick_search_incognito.show" default="true">false</setting>
    <setting id="youtube.folder.recommendations.show">true</setting>
    <setting id="youtube.folder.saved.playlists.show">true</setting>
    <setting id="youtube.folder.search.show">true</setting>
    <setting id="youtube.folder.settings.show">true</setting>
    <setting id="youtube.folder.sign.in.show">true</setting>
    <setting id="youtube.folder.sign.out.show">true</setting>
    <setting id="youtube.folder.subscriptions.show">true</setting>
    <setting id="youtube.folder.switch.user.show">true</setting>
    <setting id="youtube.folder.upcoming.live.show">true</setting>
    <setting id="youtube.folder.watch_later.playlist" default="true"></setting>
    <setting id="youtube.folder.watch_later.show">true</setting>
    <setting id="youtube.get.watch_later.playlist.id" default="true"></setting>
    <setting id="youtube.language">en</setting>
    <setting id="youtube.location">41.7088,-83.6053</setting>
    <setting id="youtube.location.radius">500</setting>
    <setting id="youtube.playlist.watchlater.autoremove">true</setting>
    <setting id="youtube.post.play.rate" default="true">false</setting>
    <setting id="youtube.post.play.rate.playlists" default="true">false</setting>
    <setting id="youtube.post.play.refresh" default="true">false</setting>
    <setting id="youtube.region" default="true">US</setting>
    <setting id="youtube.suggested_videos" default="true">false</setting>
    <setting id="youtube.view.description.show_channel_name">true</setting>
</settings>
