<settings>
    <setting id="SESSION_HOURS" value="1" />
    <setting id="allow_debrid" value="false" />
    <setting id="allow_openload" value="false" />
    <setting id="allow_the_video_me" value="false" />
    <setting id="allow_vidup_me" value="false" />
    <setting id="autostart_queue" value="true" />
    <setting id="cache_folder" value="special://profile/addon_data/video.ufc-finest/" />
    <setting id="current_version" value="0" />
    <setting id="debug" value="false" />
    <setting id="default_link" value="BOTH" />
    <setting id="disable_messages" value="false" />
    <setting id="disable_metadata_dialog" value="false" />
    <setting id="disable_service" value="true" />
    <setting id="dlimage" value="false" />
    <setting id="enable_gifs" value="false" />
    <setting id="enable_notification" value="true" />
    <setting id="enable_offensive" value="false" />
    <setting id="first_run" value="false" />
    <setting id="hide_help" value="false" />
    <setting id="include_watched_queue" value="false" />
    <setting id="language_id" value="system" />
    <setting id="lastfm_api_key" value="API KEY GOES HERE" />
    <setting id="lastfm_secret" value="API KEY GOES HERE" />
    <setting id="link_fallthrough" value="true" />
    <setting id="message_xml_url" value="http://supremacy.org.uk/MMA1/message.xml" />
    <setting id="metadata" value="true" />
    <setting id="movie_metadata_provider" value="Trakt" />
    <setting id="news_win" value="false" />
    <setting id="quiet_cache" value="true" />
    <setting id="root_xml" value="http://supremacy.org.uk/MMA1/ufcmain.xml" />
    <setting id="search_db_location" value="" />
    <setting id="settings_context" value="true" />
    <setting id="tmdb_api_key" value="API KEY GOES HERE" />
    <setting id="trailer_context" value="true" />
    <setting id="trakt_api_client_id" value="API KEY GOES HERE" />
    <setting id="trakt_api_client_secret" value="API KEY GOES HERE" />
    <setting id="tv_metadata_provider" value="Trakt" />
    <setting id="tvdb_api_key" value="API KEY GOES HERE" />
    <setting id="use_link_dialog" value="true" />
</settings>
