########################################################
# Sports List A
########################################################

########################################################
start=http://dl.dropbox.com/s/hel3ieempdyzpx7/Boston.xml


@IF(@PARAM1@!=CATCH)@
skill=videoTitle
skill=allowDuplicates
item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=Various/LiveTV.cfg@CATCH


item_info_name=type
item_info_build=video

item_url_build=%s
           



@ENDIF@

