########################################################
# Sports List A
########################################################

@IF(@PARAM1@!=CATCH)@
skill=videoTitle
skill=allowDuplicates


item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=Various/SportsListB.cfg@CATCH


item_url_build=%s

@ENDIF@

@IF(@PARAM1@==CATCH)@
catcher=streams

skill=videoTitle
skill=allowDuplicates

item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=SportsListB.cfg@Streams

item_info_name=type
item_info_build=video

item_url_build=%s
           

@ENDIF@  