<settings>
   <category label="Addon-Settings">
  	<setting id="use-hd" type="bool" label="Enable HD" default="true"/>
    	<setting id="region" type="enum" values="Amsterdam(Free)|Washington(Premium)|Los Angeles(Premium)|London(Premium )|Amsterdam(Premium)|Dallas(Premium)|San Jose (Premium)|Miami (Premium)" label="Region" default="0" enable="true" />
	<setting id="latest" type="enum" values="25|50|100|500|All|" label="Latest Added" default="1" enable="true" />
   </category>
   <category label="Login">
  <setting id="Username" type="text" label="Username" default="" visible="true"/>
  <setting id="Password" type="text" label="Password" default="" visible="true" option="hidden" />
   </category>
<category label="Auto-View">
  <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
  <setting id="authcode" type="text" label="authcode" default="" visible="false"/>
  <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
</category>
</settings>