<settings>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="HomeMenuNoMusicVideoButton" type="bool">true</setting>
    <setting id="HomeMenuNoFavButton" type="bool">false</setting>
    <setting id="no_fanart" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">true</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="no_slide_animations" type="bool">false</setting>
    <setting id="HomeMenuNoTVButton" type="bool">true</setting>
    <setting id="show_weatherinfo" type="bool">false</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">true</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">true</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">true</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="HomeMenuNoRadioButton" type="bool">true</setting>
    <setting id="hide_mediaflags" type="bool">false</setting>
    <setting id="HomeFanart.name" type="string"></setting>
    <setting id="WeatherFanart.path" type="string"></setting>
    <setting id="WeatherFanart.name" type="string"></setting>
    <setting id="headertexttype" type="string">true</setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="WeatherFanart.ext" type="string"></setting>
    <setting id="HomeFanart.path" type="string"></setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="MovieGenreFanart.Name" type="string"></setting>
    <setting id="HomeFanart.ext" type="string"></setting>
    <setting id="headerimagetype" type="string"></setting>
    <setting id="WindowColorThemed" type="string"></setting>
    <setting id="background_overlay" type="string">1</setting>
    <setting id="WindowColorMain" type="string">ff000000</setting>
</settings>
