<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
    <setting type="lsep" label="Alluc Required -  Username/Password are Case Sensitive"/>
	<setting id="alluc_username"  type="text" label="Username" default="" visible="!eq(-1,false)"/>
    <setting id="alluc_password"  type="text" label="Password" default="" visible="!eq(-2,false)"/>
    <setting id="alluc_max_results" type="slider" label="Max Results for Search" default="20" range="5,200" option="int" visible="!eq(-4,false)"/>
    <setting type="lsep" label="[COLOR red]Free Sign up - http://accounts.alluc.com/register.html[/COLOR]"/>
	<setting id="enable_meta" type="bool" label="Enable Metadata" default="true"/>
    <setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
    <setting id="menu-view" type="labelenum" label="Menu View" values="Default Menu View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="List" enable="!eq(-1,false)"/>
    <setting id="movie-view" type="labelenum" label="Movies View" values="Default Movies View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info2" enable="!eq(-4,false)"/>
	</category>
	<category label="Tools">
		<setting type="lsep" label="If Updates are Available You Will See The Appropriate Notifications"/>
		<setting label="  [COLOR red]Click Here To Check For Updates For All Your Addons/Repos[/COLOR]" type="action" action="UpdateAddonRepos"/>
		<setting label="Open URL Resolver Settings" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.dandyboxset/?mode=200&url=unused)"/>
	</category>
</settings>