<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="VERSION"       type="text"      label="Current Version"                          default="0.0.0" visible="false"/>
	    <setting id="KIDSTIME"      type="number"    label="Number of cartoons show during Kids Time" default="10"/>		
        <setting id="LIBRARY"       type="folder"    label="Library Folder"                           default="special://userdata/addon_data/plugin.video.funniermoments/Library"/>

        <setting                      type="lsep"      label="Download"                visible="true"/>
        <setting id="DOWNLOAD_FOLDER" type="folder"    label="Default download folder" default="special://userdata/addon_data/plugin.video.funniermoments/Downloads" visible="true"/>
        <setting id="ASK_FOLDER"      type="bool"      label="Ask for folder"          default="false" visible="true"/>
        <setting id="ASK_FILENAME"    type="bool"      label="Ask for filename"        default="true"  visible="true"/>

    </category>
</settings>