<settings>
    <setting id="addon_debug" value="true" />
    <setting id="adult" value="false" />
    <setting id="alluclastsave" value="" />
    <setting id="allucnan" value="" />
    <setting id="allucsalts" value="" />
    <setting id="allucspecto" value="" />
    <setting id="alluczen" value="" />
    <setting id="auto-view" value="true" />
    <setting id="autoclean" value="true" />
    <setting id="autocleanwiz" value="true" />
    <setting id="buildname" value="" />
    <setting id="buildtheme" value="" />
    <setting id="buildversion" value="" />
    <setting id="chappaai" value="" />
    <setting id="clearcache" value="true" />
    <setting id="clearpackages" value="true" />
    <setting id="clearthumbs" value="true" />
    <setting id="crashlog" value="false" />
    <setting id="death" value="" />
    <setting id="debridlastsave" value="2019-02-28" />
    <setting id="debuglevel" value="2" />
    <setting id="default.addonupdate" value="" />
    <setting id="default.enablerssfeeds" value="" />
    <setting id="default.font" value="" />
    <setting id="default.rssedit" value="" />
    <setting id="default.skincolors" value="" />
    <setting id="default.skintheme" value="" />
    <setting id="default.skinzoom" value="" />
    <setting id="default.soundskin" value="" />
    <setting id="default.startupwindow" value="" />
    <setting id="default.stereostrength" value="" />
    <setting id="defaultskin" value="" />
    <setting id="defaultskinignore" value="false" />
    <setting id="defaultskinname" value="" />
    <setting id="developer" value="" />
    <setting id="disableupdate" value="false" />
    <setting id="enable3rd" value="false" />
    <setting id="errors" value="" />
    <setting id="exodus" value="" />
    <setting id="extract" value="100" />
    <setting id="favouriteslastsave" value="" />
    <setting id="filesize_alert" value="200" />
    <setting id="filesizethumb_alert" value="500" />
    <setting id="forqed" value="" />
    <setting id="gaia" value="" />
    <setting id="includeall" value="true" />
    <setting id="includeattheflix" value="true" />
    <setting id="includedeathstreams" value="true" />
    <setting id="includeincursion" value="true" />
    <setting id="includemancaveflix" value="true" />
    <setting id="includeneptune" value="true" />
    <setting id="includenotsure" value="true" />
    <setting id="includeplacenta" value="true" />
    <setting id="includestartec" value="true" />
    <setting id="includestreamhub" value="true" />
    <setting id="includesubzero" value="true" />
    <setting id="includeuranus" value="true" />
    <setting id="includevideo" value="true" />
    <setting id="incursion" value="" />
    <setting id="installed" value="false" />
    <setting id="installmethod" value="2" />
    <setting id="keepadvanced" value="true" />
    <setting id="keepalluc" value="false" />
    <setting id="keepdebrid" value="true" />
    <setting id="keepfavourites" value="false" />
    <setting id="keeplogin" value="false" />
    <setting id="keepprofiles" value="false" />
    <setting id="keeprepos" value="false" />
    <setting id="keepsources" value="false" />
    <setting id="keepsuper" value="false" />
    <setting id="keeptrakt" value="true" />
    <setting id="keepwhitelist" value="true" />
    <setting id="kodi17iscrap" value="" />
    <setting id="lastbuildcheck" value="2019-02-04" />
    <setting id="latestversion" value="" />
    <setting id="loginflawless" value="" />
    <setting id="loginivue" value="" />
    <setting id="loginlastsave" value="" />
    <setting id="loginontapptv" value="" />
    <setting id="loginopensub" value="" />
    <setting id="loginotttv" value="" />
    <setting id="loginoverlord" value="" />
    <setting id="loginsmoothstreams" value="" />
    <setting id="loginsportsaccess" value="" />
    <setting id="loginsportsmania" value="" />
    <setting id="loginsportsnationhd" value="" />
    <setting id="logintotalinstaller" value="" />
    <setting id="logintvportal" value="" />
    <setting id="loginultimatemania" value="" />
    <setting id="loginvpnicity" value="" />
    <setting id="loginxtreamcodes" value="" />
    <setting id="meta" value="" />
    <setting id="metalliq" value="" />
    <setting id="mrknowresolver" value="" />
    <setting id="neptune" value="" />
    <setting id="nextautocleanup" value="2019-02-04" />
    <setting id="nextcleandate" value="2019-02-26" />
    <setting id="noshow" value="false" />
    <setting id="notsure" value="" />
    <setting id="ogwiz" value="false" />
    <setting id="oldlog" value="false" />
    <setting id="path" value="" />
    <setting id="placenta" value="" />
    <setting id="pvrclient" value="" />
    <setting id="realspecto" value="" />
    <setting id="resolurl" value="" />
    <setting id="resurl" value="" />
    <setting id="rompath" value="" />
    <setting id="royalwe" value="" />
    <setting id="salts" value="" />
    <setting id="saltshd" value="" />
    <setting id="seperate" value="false" />
    <setting id="show15" value="true" />
    <setting id="show16" value="true" />
    <setting id="show17" value="true" />
    <setting id="show18" value="true" />
    <setting id="showmaint" value="false" />
    <setting id="specto" value="" />
    <setting id="streamhub" value="" />
    <setting id="trakt" value="" />
    <setting id="traktlastsave" value="2019-02-28" />
    <setting id="uranus" value="" />
    <setting id="urlresolver" value="" />
    <setting id="velocity" value="" />
    <setting id="velocitykids" value="" />
    <setting id="viewType" value="50" />
    <setting id="wizard1name" value="" />
    <setting id="wizard1url" value="" />
    <setting id="wizard2name" value="" />
    <setting id="wizard2url" value="" />
    <setting id="wizard3name" value="" />
    <setting id="wizard3url" value="" />
    <setting id="wizardlog" value="true" />
    <setting id="wizlog" value="false" />
    <setting id="wizlogcleanby" value="1" />
    <setting id="wizlogcleandays" value="2" />
    <setting id="wizlogcleanlines" value="2" />
    <setting id="wizlogcleansize" value="1" />
</settings>
