<settings>
    <setting id="animeFolder" value="" />
    <setting id="duplicated" value="false" />
    <setting id="firstOpen" value="NO" />
    <setting id="infoLabels" value="true" />
    <setting id="movieFolder" value="" />
    <setting id="movieKeyAllowed" value="" />
    <setting id="movieKeyDenied" value="" />
    <setting id="movieQua1" value="Filter Off" />
    <setting id="movieQua2" value="Filter Off" />
    <setting id="movieQua3" value="Filter Off" />
    <setting id="movieQua4" value="Filter Off" />
    <setting id="movieQua5" value="Block File" />
    <setting id="movieQua6" value="Block File" />
    <setting id="movieQua7" value="Block File" />
    <setting id="movieQua8" value="Block File" />
    <setting id="overwrite" value="false" />
    <setting id="persistent" value="false" />
    <setting id="plugin" value="Torrenter" />
    <setting id="service" value="true" />
    <setting id="showFolder" value="" />
    <setting id="timeNotification" value="1.5" />
    <setting id="tvKeyAllowed" value="" />
    <setting id="tvKeyDenied" value="" />
    <setting id="tvQua1" value="Filter Off" />
    <setting id="tvQua2" value="Filter Off" />
    <setting id="tvQua3" value="Filter Off" />
    <setting id="tvQua4" value="Filter Off" />
    <setting id="viewMode" value="0" />
    <setting id="viewUrl" value="false" />
</settings>
