########################################################
# http://www.hdfooty.com
########################################################

start=http://www.footyfree.tv/
skill=videoTitle
catcher=streams

########################################################
# Channels
########################################################
#item_infos=<li class=".*?"><a href="([^"]+)" class=".*?"><span>([^<]+)</span></a></li>
#item_order=url.tmp|title

item_infos=<li><a href="([^"]+)"><img src="([^"]+)"
item_order=url.tmp|icon

item_info_name=title
item_info_from=url.tmp
item_info_convert=replace('%s','/','')
item_info_convert=replace('%s','-',' ')
item_info_convert=replace('%s','_',' ')
item_info_convert=replace('%s','.php','')
item_info_convert=replace('%s','.html','')
item_info_convert=replace('%s','live','')

item_info_convert=replace('%s','streaming','')
item_info_convert=replace('%s','index','Stream1')
item_info_convert=camelcase
item_info_build=%s

#item_info_name=icon
#item_info_from=icon.tmp
#item_info_build=http://www.btsportshd.com%s


item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.footyfree.tv%s
item_url_build=%s
########################################################